<div class="breadcrumb">
	当前位置：
	<a href="/trainings">乔布咨询</a>
	»
	<a href="/trainings/cases">经典案例</a>
	»
	<a href="/trainings/cases/<%= @case[0] %>"><%= @case[1] %></a>
</div>

<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
	<tr>
		<td class="left_menus" valign="top">
			<% @cases.each do |c| %>
				<a href="/trainings/cases/<%= c[0] %>"<%= %Q! class="selected"! if c[0] == @case[0] %>>
					<%= c[1] %></a>
			<% end %>
		</td>
		
		
		<td valign="top">
			<div class="slide_title">
				<%= @case[1] %>
			</div>
			
			<div class="case_content">
				<% if @case[0] == "expo" %>
					<table border="0" cellspacing="0" cellpadding="0" class="expo_case">
						<tr>
							<td style="width: 320px;">
								<ul>
									<li>
										<strong>“心缘世博”种子培训师选拔活动</strong>
									</li>
									<li>
										策划并组织2009年11月3场选拔活动，2009年12月培训师试讲，以及2010年1-2月培训师备课，从200名培训师中筛选出50人作为世博会志愿者培训师，累计培训学生4000名
									</li>
								</ul>
							</td>
							
							<td style="width: 280px;">
								<ul>
									<li>
										<strong>《沟通与接待训练》开发及实施</strong>
									</li>
									<li>
										2009.10-11 课程研发，以情景模拟的教学方式受到学员好评
									</li>
									<li>
										学生反馈：连续6周沟通与接待训练平均得分4.75，是所有班级授课中得分最高的课程
									</li>
								</ul>
							</td>
						</tr>
						
						<tr>
							<td><img src="/images/trainings/cases/expo_1.png" border="0" /></td>
							<td><img src="/images/trainings/cases/expo_2.png" border="0" /></td>
						</tr>
					</table>
				<% end %>
				
				
				<% if @case[0] == "tiyan" %>
					<table border="0" cellspacing="0" cellpadding="0" class="expo_case">
						<tr>
							<td style="width: 250px;">
								<ul>
									<li>
										体验营时间：2010.1.24;2010.3.3-5
									</li>
									<li>
										6个场馆，设置场景游戏，学员通过完成“任务书”中的任务展开小组竞赛
									</li>
									<li>
										将书面的内容立体化，并融练习、考察、相互学习、团队合作、激励于一体的创新培训方式
									</li>
								</ul>
							</td>
							
							<td style="width: 320px;">
								<ul>
									<li>
										学员反馈：
										<table border="0" cellspacing="0" cellpadding="0" class="trainee_feedback">
											<tr>
												<td style="width: 25px;">--</td>
												<td>“形式很新颖，可以把课堂学到的东西实际操练一遍，很有意思。”</td>
											</tr>
											<tr>
												<td>--</td>
												<td>“很感动，一定更努力做世博志愿工作！”</td>
											</tr>
											<tr>
												<td>--</td>
												<td>“投诉争议馆”和“突发事件馆”得分排名前两位</td>
											</tr>
										</table>
									</li>
								</ul>
							</td>
						</tr>
						
						<tr>
							<td><img src="/images/trainings/cases/tiyan_1.png" border="0" /></td>
							<td><img src="/images/trainings/cases/tiyan_2.png" border="0" /></td>
						</tr>
					</table>
				<% end %>
				
				
				<% if @case[0] == "yili" %>
					<img src="/images/trainings/cases/yili.png" class="right" border="0" />
					
					<ul>
						<li>培训时间：2010.4.1-12</li>
						<li>培训主题：门店销售 新员工培训</li>
						<li>培训老师：Rick Ma、Barbie Wu、Alan Yu、James Fei</li>
						<li>培训学员：门店销售，新进员工</li>
						<li>
							学员反馈：
							<table border="0" cellspacing="0" cellpadding="0" class="trainee_feedback">
								<tr>
									<td style="width: 25px;">--</td>
									<td>“老师很专业，对实际工作很有帮助”</td>
								</tr>
								<tr>
									<td>--</td>
									<td>“寓教于乐，上课也可以很开心”</td>
								</tr>
								<tr>
									<td>--</td>
									<td>“门店销售课程”得分最高，通过实战情景模拟，练习门店销售的思维模式的教学方式很实用</td>
								</tr>
								<tr>
									<td>--</td>
									<td>礼仪、英语和急救的课程结合公司产品，学员表示很实际</td>
								</tr>
								<tr>
									<td>--</td>
									<td>希望能结合更多户外团队训练</td>
								</tr>
							</table>
						</li>
					</ul>
					
					<div style="clear: right;"></div>
				<% end %>
				
				
				<% if @case[0] == "pudong" %>
					<img src="/images/trainings/cases/pudong.png" class="right" border="0" />
					
					<ul>
						<li>培训时间：2010.1.27-29</li>
						<li>培训主题：管理沟通、职场提升训练</li>
						<li>培训老师：Rick Ma、Nemo Yu、FuKang Xiu、David Liu</li>
						<li>培训学员：中层干部</li>
						<li>
							学员反馈：
							<table border="0" cellspacing="0" cellpadding="0" class="trainee_feedback">
								<tr>
									<td style="width: 25px;">--</td>
									<td>“很前沿、很时尚、很深刻”</td>
								</tr>
								<tr>
									<td>--</td>
									<td>“模拟竞聘环节设计很好”</td>
								</tr>
								<tr>
									<td>--</td>
									<td>项目管理训练通过提供一页纸工具，让学员有直观清晰的了解、学习和练习的过程</td>
								</tr>
								<tr>
									<td>--</td>
									<td>“结构化思维训练” 得分最高，该练习着重训练学员的逻辑思维能力，并贯穿整场培训，训练力度较大</td>
								</tr>
							</table>
						</li>
					</ul>
					
					<div style="clear: right;"></div>
				<% end %>
				
				
				<% if @case[0] == "cangyuan" %>
					<img src="/images/trainings/cases/cangyuan.png" class="right" border="0" />
					
					<ul>
						<li>培训时间：2009.9.23</li>
						<li>培训主题：专业销售技巧（公开课）</li>
						<li>培训老师：Rick Ma</li>
						<li>培训学员：中小企业公司销售经理，包括制造业、软件开发、新材料和能源、医药等行业</li>
						<li>
							学员反馈：
							<table border="0" cellspacing="0" cellpadding="0" class="trainee_feedback">
								<tr>
									<td style="width: 25px;">--</td>
									<td>“探寻客户需求看似简单，其实有很多内容需要学习和训练。”</td>
								</tr>
								<tr>
									<td>--</td>
									<td>“要记住整体目标，保持灵活，不断发掘可变因素。”</td>
								</tr>
								<tr>
									<td>--</td>
									<td>“永远不要争辩，告诉他下次会给他更多资料，改变对我们的看法。”</td>
								</tr>
							</table>
						</li>
					</ul>
					
					<div style="clear: right;"></div>
				<% end %>
			</div>
		</td>
	</tr>
</table>
