<title>
	报名课程/咨询详情 申请记录
	-
	乔布堂
</title>


<div>
	
	<h2 style="margin: 15px;">全部 报名课程/咨询详情 申请记录</h2>
	
	<table id="application_table" cellpadding="0" cellspacing="0" border="0">
		
		<thead>
            <tr>
                <th>记录类型</th>

                <th>姓名</th>
                <th>学校</th>
				<th>专业</th>
                <th>年级</th>

				<th>手机</th>
                <th>邮箱</th>

				<th>申请时间</th>
				<th>来源 IP</th>
				<th>会员</th>
				<th>状态</th>
            </tr>
        </thead>
        <tbody>
            <% @applications.each do |a| %>
				<tr>
					<td>
						<%= Service.find(a.service_id) %>
					</td>
					
					<td>
						<%= h(a.real_name) %>
					</td>
					<td>
						<%= h(a.school) %>
					</td>
					<td>
						<%= h(a.major) %>
					</td>
					<td>
						<%= h(a.grade) %>
					</td>
					
					<td>
						<%= h(a.mobile) %>
					</td>
					<td>
						<%= h(a.email) %>
					</td>
					
					<td>
						<%= a.created_at.strftime("%Y-%m-%d") %>
					</td>
					<td>
						<%= a.requester_ip %>
					</td>
					<td>
						<%= a.account_id > 0 ? %Q!<a href="/spaces/show/#{a.account_id}" target="_blank">#{a.account_id}</a>! : "未注册" %>
					</td>
					<td>
						<%= a.closed ? "已关闭" : "需要回应" %>
					</td>
				</tr>
			<% end %>
        </tbody>
		
	</table>
	
	
	<div id="pagination_buttons" style="margin-right: 15px; word-spacing: 5px;">
		<%=
			will_paginate(
				@applications,
				:previous_label => "«上一页",
				:next_label => "下一页»",
				:param_name => :page,
				:page_links => true
			)
		%>
	</div>
	
</div>



<link rel="stylesheet" href="/lib/ext/resources/css/ext-all.css" type="text/css" media="screen"></link>
<link rel="stylesheet" href="/lib/ext/resources/css/xtheme-gray.css" type="text/css" media="screen"></link>

<script language="JavaScript" type="text/javascript" src="/lib/ext/adapter/ext/ext-base.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/ext-all.js"></script>

<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/GridFilters.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/Filter.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/NumericFilter.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/StringFilter.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/DateFilter.js"></script>


<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/menu/RangeMenu.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/menu/EditableItem.js"></script>

<script language="JavaScript" type="text/javascript" src="/lib/ext/build/locale/ext-lang-zh_CN.js"></script>

<script language="JavaScript" type="text/javascript">

	TableGrid = function(table, config) {
		config = config || {};
		Ext.apply(this, config);
		
		var cf = config.fields || [];
		var ch = config.columns || [];
		
		table = Ext.get(table);

		var grid_element = table.insertSibling();

		var fields = [];
		var columns = [];
		
		var headers = table.query("thead th");
		for(var i = 0, h; h = headers[i]; i++) {
			var text = h.innerHTML;
			var name = "column_" + i;

			fields.push(
				Ext.applyIf(cf[i] || {},
					{
						name: name,
						mapping: "td:nth(" + (i+1) + ")/@innerHTML"
					}
				)
			);

			columns.push(
				Ext.applyIf(ch[i] || {},
					{
						"header": text,
						"dataIndex": name,
						"width": h.offsetWidth,
						"tooltip": h.innerHTML,
						"sortable": true
					}
				)
			);
		}

		var data_store = new Ext.data.GroupingStore(
			{
				reader: new Ext.data.XmlReader(
					{
						record: "tbody tr"
					},
					fields
				),
				
				data: table.dom,
				
				sortInfo: {
					field: "column_7", // created_at
					direction: "DESC"
				},
				
				groupField: "column_7"
			}
		);

		// no need to load data since we use "data" directly
		//ds.loadData(table.dom);

		var column_model = new Ext.grid.ColumnModel(columns);

		// if (config.remove != false) {
			table.remove();
		// }

		Ext.applyIf(this,
			{
				"ds": data_store,
				"cm": column_model,
				
				"selModel": new Ext.grid.RowSelectionModel(),
				
				"autoHeight": true,
				"autoWidth": true
			}
		);
		
		TableGrid.superclass.constructor.call(this, grid_element, {});
	};

	Ext.extend(TableGrid, Ext.grid.GridPanel);
	
</script>

<script language="JavaScript" type="text/javascript">
	
	Ext.onReady(function() {

		// create the grid
		var grid = new TableGrid(
			"application_table",
			{
				stripeRows: true, // stripe alternate rows
				border: true,

				tbar: new Ext.Toolbar(
					{
						items: [
							"->",
							
							{
								id: "show_unclosed_btn",
								text: "仅显示需要回应的记录",
								icon: "/images/coach/course_applications/show_unclosed.gif",
								cls: "x-btn-text-icon",
								handler: function() {
									window.location.href = "/coach/course_applications?closed_filter=unclosed";
								}
							},
							
							{
								id: "show_closed_btn",
								text: "仅显示已关闭的记录",
								icon: "/images/coach/course_applications/show_closed.gif",
								cls: "x-btn-text-icon",
								handler: function() {
									window.location.href = "/coach/course_applications?closed_filter=closed";
								}
							},
							
							{
								id: "show_all_btn",
								text: "显示全部记录",
								icon: "/images/coach/course_applications/show_all.gif",
								cls: "x-btn-text-icon",
								handler: function() {
									window.location.href = "/coach/course_applications";
								}
							},
							
							"-",
							
							{
								id: "return_coach_btn",
								text: "返回乔布教练",
								handler: function() {
									window.location.href = "/coach";
								}
							},
							
							{
								id: "return_qiaobuquan_btn",
								text: "返回乔布圈",
								handler: function() {
									window.location.href = "/community";
								}
							},
							
							{
								id: "return_qiaobutang_btn",
								text: "返回乔布堂",
								handler: function() {
									window.location.href = "/";
								}
							},
						]
					}
				),
				
				bbar: new Ext.Toolbar(
					{
						items: [
							"->",
							
							Ext.get("pagination_buttons").dom,
							
							"-",
							
							{
								id: "return_first_page_btn",
								text: "回首页",
								handler: function() {
									window.location.href = "/coach/course_applications";
								}
							}
						]
					}
				),

				view: new Ext.grid.GroupingView(
					{
						forceFit: true,
						groupTextTpl: "{text} ({[values.rs.length]} 条记录)"
					}
				),

				plugins: new Ext.grid.GridFilters(
					{
						local: true,
						filters: [
							{
								dataIndex: "column_0",
								type: "string"
							},
							
							{
								dataIndex: "column_1",
								type: "string"
							},
							
							{
								dataIndex: "column_2",
								type: "string"
							},
							
							{
								dataIndex: "column_3",
								type: "string"
							},
							
							{
								dataIndex: "column_4",
								type: "string"
							},
							
							{
								dataIndex: "column_5",
								type: "string"
							},
							
							{
								dataIndex: "column_6",
								type: "string"
							},
							
							{
								dataIndex: "column_7",
								type: "date"
							},
							
							{
								dataIndex: "column_8",
								type: "string"
							},
							
							{
								dataIndex: "column_9",
								type: "numeric"
							},
							
							{
								dataIndex: "column_10",
								type: "string"
							}
							
						]
					}
				)
			}
		);
		
		
		grid.render();
		

		grid.addListener('rowcontextmenu', rightClickFn);//右键菜单代码关键部分
		var rightClick = new Ext.menu.Menu({
		    id:'rightClickCont',  //在HTML文件中必须有个rightClickCont的DIV元素
		    items: [
		        {
		            id: 'rMenu1',
		            handler: rMenu1Fn,//点击后触发的事件
		            text: '右键菜单1'
		        },
		        {
		            //id: 'rMenu2',
		            //handler: rMenu2Fn,
		            text: '右键菜单2'
		        }
		    ]
		});
		function rightClickFn(grid,rowindex,e){
		    e.preventDefault();
		    rightClick.showAt(e.getXY());
		}
		function rMenu1Fn(){
		   Ext.MessageBox.alert('right','rightClick');
		}

	});
	
</script>


