<div>
	
	<h2>全部 报名课程/咨询详情 申请记录</h2>
	
	<table id="application_table" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
		
		<thead>
            <tr>
                <th>记录类型</th>

                <th>姓名</th>
                <th>学校</th>
				<th>专业</th>
                <th>年级</th>

				<th>手机</th>
                <th>邮箱</th>

				<th>申请时间</th>
				<th>来源 IP</th>
				<th>会员</th>
				<th>状态</th>
            </tr>
        </thead>
        <tbody>
            <% @applications.each do |a| %>
				<tr>
					<td>
						<%= Service.find(a.service_id) %>
					</td>
					
					<td>
						<%= h(a.real_name) %>
					</td>
					<td>
						<%= h(a.school) %>
					</td>
					<td>
						<%= h(a.major) %>
					</td>
					<td>
						<%= h(a.grade) %>
					</td>
					
					<td>
						<%= h(a.mobile) %>
					</td>
					<td>
						<%= h(a.email) %>
					</td>
					
					<td>
						<%= a.created_at.strftime("%Y-%m-%d") %>
					</td>
					<td>
						<%= a.requester_ip %>
					</td>
					<td>
						<%= a.account_id > 0 ? %Q!<a href="/spaces/show/#{a.account_id}" target="_blank">#{a.account_id}</a>! : "未注册" %>
					</td>
					<td>
						<%= a.closed ? "已关闭" : "需要回应" %>
					</td>
				</tr>
			<% end %>
        </tbody>
		
	</table>
	
</div>



<link rel="stylesheet" href="/lib/ext/resources/css/ext-all.css" type="text/css" media="screen"></link>
<link rel="stylesheet" href="/lib/ext/resources/css/xtheme-gray.css" type="text/css" media="screen"></link>

<script language="JavaScript" type="text/javascript" src="/lib/ext/adapter/ext/ext-base.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/ext-all.js"></script>

<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/GridFilters.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/Filter.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/NumericFilter.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/StringFilter.js"></script>

<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/menu/RangeMenu.js"></script>
<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/menu/EditableItem.js"></script>

<script language="JavaScript" type="text/javascript" src="/lib/ext/build/locale/ext-lang-zh_CN.js"></script>

<script language="JavaScript" type="text/javascript">
	
	Ext.onReady(function() {

		// create the grid
		var grid = new TableGrid(
			"application_table",
			{
				stripeRows: true, // stripe alternate rows
				border: true,

				tbar: new Ext.Toolbar(
					{
			        	items:[
			                {
			                    id:'buttonA'
			                    ,text:"Button A"
			                    ,handler: function(){ alert("You clicked Button A"); }
			                }
			                ,
			                new Ext.Toolbar.SplitButton({})
			                ,{
			                    id:'buttonB'
			                    ,text:"Button B"
			                    ,handler: function(){ alert("You clicked Button B"); }
			                }
			                ,
			                '-'
			                ,{
			                    id:'buttonc'
			                    ,text:"Button c"
			                }
			            ]
			        }
				),

		        view: new Ext.grid.GroupingView(
					{
		            	forceFit: true,
		            	groupTextTpl: '{text} ({[values.rs.length]} 项)'
		        	}
				),

				plugins: new Ext.grid.GridFilters(
					{
						local:true,
						  filters:[
						    {type: 'numeric',  dataIndex: 'tcol-1'},
						    {type: 'string',  dataIndex: 'tcol-0'},
						    {type: 'string', dataIndex: 'tcol-2'}
						]
					}
				)
			}
		);
		
		grid.render();

		grid.addListener('rowcontextmenu', rightClickFn);//右键菜单代码关键部分
		var rightClick = new Ext.menu.Menu({
		    id:'rightClickCont',  //在HTML文件中必须有个rightClickCont的DIV元素
		    items: [
		        {
		            id: 'rMenu1',
		            handler: rMenu1Fn,//点击后触发的事件
		            text: '右键菜单1'
		        },
		        {
		            //id: 'rMenu2',
		            //handler: rMenu2Fn,
		            text: '右键菜单2'
		        }
		    ]
		});
		function rightClickFn(grid,rowindex,e){
		    e.preventDefault();
		    rightClick.showAt(e.getXY());
		}
		function rMenu1Fn(){
		   Ext.MessageBox.alert('right','rightClick');
		}

	});


	TableGrid = function(table, config) {
	  config = config || {};
	  Ext.apply(this, config);
	  var cf = config.fields || [], ch = config.columns || [];
	  table = Ext.get(table);

	  var ct = table.insertSibling();

	  var fields = [], cols = [];
		
		cols.push(new Ext.grid.RowNumberer());
		cols.push(new Ext.grid.CheckboxSelectionModel());
		
	  var headers = table.query("thead th");
	  for (var i = 0, h; h = headers[i]; i++) {
	    var text = h.innerHTML;
	    var name = "tcol-" + i;

	    fields.push(Ext.applyIf(cf[i] || {}, {
	      name: name,
	      mapping: "td:nth(" + (i+1) + ")/@innerHTML"
	    }));

	    cols.push(Ext.applyIf(ch[i] || {}, {
	      "header": text,
	      "dataIndex": name,
	      "width": h.offsetWidth,
	      "tooltip": h.title,
	      "sortable": true
	    }));
	  }

	  var ds  = new Ext.data.GroupingStore({
	    reader: new Ext.data.XmlReader({
	      record:"tbody tr"
	    }, fields),
	data: table.dom,
	sortInfo: {field: "tcol-1", direction: "ASC"},
	groupField: "tcol-2"
	  });

	  //ds.loadData(table.dom);

	  var cm = new Ext.grid.ColumnModel(cols);

	  if (config.width || config.height) {
	    ct.setSize(config.width || "auto", config.height || "auto");
	  } else {
	    ct.setWidth(table.getWidth());
	  }

	  if (config.remove !== false) {
	    table.remove();
	  }

	  Ext.applyIf(this, {
	    "ds": ds,
	    "cm": cm,
	    "sm": new Ext.grid.RowSelectionModel(),
	    autoHeight: true,
	    autoWidth: false
	  });
	  TableGrid.superclass.constructor.call(this, ct, {});
	};

	Ext.extend(TableGrid, Ext.grid.GridPanel);
	
</script>


