<% show_face &&= true %>
<% can_del &&= true %>
<% auto_detect_can_del &&= true %>

<%
	can_del ||= (auto_detect_can_del && (personal_bookmark.account_id == session[:account_id]))
%>

<%
	account = personal_bookmark.account
	account_id = account.id
	account_nick = account.get_nick
	account_pic_url = account.get_profile_pic_url
	Account.set_account_nick_pic_cache(account_id, account_nick, account_pic_url, account.email)
%>
<div class="bookmark">
	
	<table border="0" cellspacing="5" cellpadding="0" class="main_part_w">
		<tr>
			<% if show_face %>
				<td valign="top" style="width: 80px">
					<div class="align_c">
						<div>
							<a href="/spaces/show/<%= account_id %>">
								<img src="<%= face_img_src(account_pic_url) %>" border="0" /></a>
						</div>
						<div>
							<a href="/spaces/show/<%= account_id %>" class="account_nick_link">
								<%= h(account_nick) %></a>
						</div>
					</div>
				</td>
			<% end %>
		
			<td style="width: 20px;"></td>

			<td valign="top">
				<% bookmark_url = h(personal_bookmark.get_display_url) %>
				<div class="bookmark_title">
					<% if can_del %>
						<a class="float_r" title="删除" href="#" onclick="delete_bookmark(<%= personal_bookmark.id %>); return false;">
							<img src="/images/delete_small.gif" border="0" /></a>
					<% end %>
						
						
					<a href="<%= h(personal_bookmark.url) %>" target="_blank" class="account_nick_link">
						<%= h(personal_bookmark.title) %>
						<img src="/images/ext_link_small.gif" border="0" /></a>
				</div>
				<div class="form_info_s">
					<%= h(personal_bookmark.desc) %>
					&nbsp;&nbsp;&nbsp;
					(<i><%= format_datetime(personal_bookmark.created_at) %></i>)
				</div>
				<div class="form_info_s">
					<a href="<%= h(personal_bookmark.url) %>" target="_blank">
						<%= bookmark_url %></a>
				</div>
			</td>
		</tr>
	</table>
	

</div>


