<% bookmark_title = h(@bookmark.title) %>

<title>推荐/收藏 - <%= bookmark_title %> - 乔布圈</title>


<link href="/stylesheets/site.css" rel="stylesheet" type="text/css" />

<style>
	.inline_add_form, .inline_add_form td {
		font-size: 12px;
	}
</style>

<div class="inline_add_form">
	<div class="community_block">

		<% if flash[:error_msg] %>
			<p class="error_msg"><%= flash[:error_msg] %></p>
		<% end %>
		<% if @bookmark.errors.size > 0 %>
			<p class="error_msg">
				<%= list_model_validate_errors(@bookmark) %>
			</p>
		<% end %>
		
		<div>
			<% form_tag "/bookmarks/create_inline", :method => :post do %>
			
				<table cellpadding="0" cellspacing="10" class="main_part_w">
					<tr>
						<td colspan="2" style="font-weight: bold;">
							地址:
							&nbsp;&nbsp;
							<%= h(@bookmark.get_display_url) %>
							<input type="hidden" name="bookmark_url" value="<%= h(@bookmark.url) %>" />
						</td>
					</tr>
					
					<tr>
						<td style="width: 60px">
							<label for="bookmark_title">
						        标题(<span style="color: red;">*</span>)
								:
						    </label>
						</td>
						<td>
							<input type="text" id="bookmark_title" name="bookmark_title" class="text_field" size="50" value="<%= bookmark_title %>" />
						</td>
					</tr>
					
					<tr>
						<td>
							<label for="bookmark_desc">
						        描述
								:
						    </label>
						</td>
						<td>
							<input type="text" id="bookmark_desc" name="bookmark_desc" class="text_field" size="50" value="<%= h(@bookmark.desc) %>" />
						</td>
					</tr>
					
					<tr>
						<td>
							<label>
						        收藏到
								:
						    </label>
						</td>
						<td>
							<input type="radio" value="personal" name="bookmark_type" id="bookmark_type_personal"<%= %Q! checked="checked"! if @bookmark.kind_of?(PersonalBookmark) %> onclick="change_bookmark_type(this.value);" />

							<label for="bookmark_type_personal">
								我的推荐
							</label>
							
							&nbsp;&nbsp;
							&nbsp;&nbsp;
							&nbsp;&nbsp;
							
							<input type="radio" value="group" name="bookmark_type" id="bookmark_type_group"<%= %Q! checked="checked"! if @bookmark.kind_of?(GroupBookmark) %> onclick="change_bookmark_type(this.value);" />

							<label for="bookmark_type_group">
								我参加的圈子
							</label>
							
							&nbsp;
							<span id="group_select" style="display: <%= "none" unless @bookmark.kind_of?(GroupBookmark) %>">
								<%= render :partial => "group_name_selector", :locals => {:selected_group_id => @bookmark.kind_of?(GroupBookmark) && @bookmark.group_id} %>
							</span>
						</td>
					</tr>
					
					
					<tr>
						<td></td>
						<td>
							<%= submit_tag "添加收藏", :class => "button", :disabled => @account_limited %>
							&nbsp;&nbsp;&nbsp;
							
						</td>
					</tr>
				</table>
			<% end %>
		</div>
		
	</div>
</div>


<script language="JavaScript">
	
	function change_bookmark_type(bookmark_type) {
		var group_select_display = "none";
		if(bookmark_type == "group") {
			group_select_display = "";
		}
		
		document.getElementById("group_select").style.display = group_select_display;
	}
	
</script>


