<% community_page_title("消息要发给谁") %>

<div class="float_r friend_container_r">
	
	<div class="community_block">
		<a href="/messages">返回 我的消息</a>
	</div>
	
	<div class="community_block">
		<a href="/messages/choose_friend/<%= @account_id %>">给我的朋友发消息</a>
	</div>
	
	<div class="community_block">
		<a href="/messages/choose_be_friend/<%= @account_id %>">给加我为朋友的人发消息</a>
	</div>
	
	<div class="community_title">
		去我的朋友列表 ...
	</div>
	
	<div class="community_block">
		<a href="/friends/list_edit/<%= @account_id %>">» 我的朋友</a>
	</div>
	
	<div class="community_block">
		<a href="/friends/be_list_edit/<%= @account_id %>">» 谁把我加为朋友了</a>
	</div>
	
	<div class="community_block">
		<a href="/friends/both_list_edit/<%= @account_id %>">» 我的伙伴</a>
		<div class="form_info_l">
			互相将对方加为了朋友
		</div>
	</div>
</div>

<div class="friend_container_l">
	<h2>消息要发给谁</h2>
	
	<div class="community_block_narrow form_info_s">
		<%= @info %>
	</div>
	
	<div class="community_block">
		<%= render(:partial => "friend", :collection => @friends)%>
	</div>
	
</div>

