<% community_page_title("我收到的消息") %>

<div class="float_r friend_container_r">
	
	<div class="community_title">
		去我的朋友列表 ~~~
	</div>
	
	<div class="community_block">
		<a href="/friends/list_edit/<%= @account_id %>">» 我的朋友</a>
	</div>
	
	<div class="community_block">
		<a href="/friends/be_list_edit/<%= @account_id %>">» 谁把我加为朋友了</a>
	</div>
	
	<div class="community_block">
		<a href="/friends/both_list_edit/<%= @account_id %>">» 我的伙伴</a>
		<div class="form_info_l">
			互相将对方加为了朋友
		</div>
	</div>
</div>

<div class="friend_container_l">
	<h2>我收到的消息</h2>
	
	<div class="community_block_narrow form_info_s">
		共收到
		<b>
			<%= @messages.total_entries %>
		</b>
		条消息
	</div>
	
	<%= render :partial => "msg_nav_bar", :locals => {:account_id => @account_id, :selected => 1, :unread_inbox_count => @unread_inbox_count, :unread_sys_count => @unread_sys_count} %>
	
	
	<% form_tag "", :method => :delete, :id => "delete_in_message_form" do %>
	<% end %>
	
	<script language="JavaScript">
		function delete_in_message(msg_id) {
			if(confirm("确定要删除消息么 ?")) {
				del_form = document.getElementById("delete_in_message_form");
				del_form.action = "/messages/" + msg_id;
				del_form.submit();
			}
		}
	</script>
	
	<div class="community_block">
		<%= render(:partial => "in_message", :collection => @messages) %>
	</div>
	
	<%
		# clear unread ...

		need_save_msg_id = []
		@messages.each { |message| need_save_msg_id << message.id unless message.has_read }

		need_save_msg_size = need_save_msg_id.size
		if need_save_msg_size > 0
			Message.update_all(["has_read = ?", true], ["id in (?)", need_save_msg_id])
			Message.decrease_unread_count_cache(@account_id, need_save_msg_size)
		end
	%>
	
	<div class="community_block">
		<%= paging_buttons(@messages) %>
	</div>
	
</div>

