<div>
	
	<div>
		Hi <%= h(@nick) %>,
	</div>

	<p>
		你在 乔布圈 有:
		
		<ul>
			<% if @msg_count > 0 %>
				<li><b><%= @msg_count %></b> 条收到的消息未读</li>
			<% end %>
			
			<% if @sys_msg_count > 0 %>
				<li><b><%= @sys_msg_count %></b> 条未读系统通知</li>
			<% end %>
		</ul>
		
		请用此链接查看你的信息: <a href="http://www.qiaobutang.com/messages/summary/<%= @account_id %>" target="_blank">http://www.qiaobutang.com/messages/summary/<%= @account_id %></a>
	</p>


	<br />
	<br />
	<br />
	<font color="#B3ABA2">
		<div>
			乔布堂: <a href="http://www.qiaobutang.com/index" target="_blank">http://www.qiaobutang.com</a>
		</div>
		<div>
			乔布圈: <a href="http://www.qiaobuquan.com" target="_blank">http://www.qiaobuquan.com</a>
		</div>

		---
	
		<div>
			若你不想收到此类邮件提醒, 可登录乔布圈进行设置: <a href="http://www.qiaobutang.com/account_settings/email/<%= @account_id %>" target="_blank">http://www.qiaobutang.com/account_settings/email/<%= @account_id %></a>
		</div>
	</font>
	
</div>


