<div>
	
	<div>
		Hi <%= h(@nick) %>,
	</div>

	<p>
		感谢您在 <%= @source %> 注册!
	</p>
	
	<p>
		访问以下链接来确认并验证您的帐号:
	</p>
	
	<p>
		<a href="<%= @host %>/accounts/confirm_register/<%= @uid %>?k=<%= @key %>" target="_blank"><%= @host %>/accounts/confirm_register/<%= @uid %>?k=<%= @key %></a>
	</p>
	
	<br />
	<p>
		---
	</p>
	<br />
	
	<p>
		如果您从未在 <%= @source %> 注册，我们很抱歉对您的打扰。您可以访问以下链接来删除注册:
	</p>
	
	<p>
		<a href="<%= @host %>/accounts/delete_register/<%= @uid %>?k=<%= @key %>" target="_blank"><%= @host %>/accounts/delete_register/<%= @uid %>?k=<%= @key %></a>
	</p>
	
	
	
	<br />
	<br />
	<br />
	<font color="#B3ABA2">
		<div>
			乔布堂: <a href="http://www.qiaobutang.com/index" target="_blank">http://www.qiaobutang.com</a>
		</div>
		<div>
			乔布圈: <a href="http://www.qiaobuquan.com" target="_blank">http://www.qiaobuquan.com</a>
		</div>
	</font>
	
</div>


