<%
	page_title = "客户管理"
	community_page_title(page_title)
%>

<div class="float_r">
	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 250px;" do %>
		<div class="action_bar">
			<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_contacts/new">
				添加新的客户</a>
			|
			<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities">
				销售机会管理</a>
		</div>
	<% end %>
</div>

<div class="job_item_container">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block_narrow form_info_s">
		共有
		<b><%= @contacts.total_entries %></b>
		条客户记录
	</div>
	
	<div class="community_block align_r">
		<% form_tag "", :method => :get do %>
			<input type="text" name="contact_tip" class="text_field search_input" size="30" />
			&nbsp;&nbsp;&nbsp;
			<input type="submit" value="搜索客户" class="button" />
		<% end %>
	</div>
	
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w list" style="margin: 10px 0px;">
		<thead>
			<tr>
				<td>姓名</td>
				<td>公司</td>
				<td>职位</td>
				<td>手机</td>
				<td>电话</td>
				<td>电子邮件</td>
				<td style="width: 26px;"></td>
				<td style="width: 26px;"></td>
			</tr>
		</thead>
		
		<tbody>
			<%= render :partial => "contact", :collection => @contacts %>
		</tbody>
	</table>
	
	<div class="community_block">
		<%= paging_buttons(@contacts) %>
	</div>
</div>
