<% community_page_title("星座信息") %>

<div class="float_r community_container_r">
	<%= render(:partial => "tool_list") %>
</div>

<div class="community_container_l">
	<h2>星座信息</h2>
	
	<div class="community_block_narrow">

		<br />
		
		<% if @astrology %>
		
			<h3><%= @astrology.name %></h3>
			<div>
				<% s_d = @astrology.s_d %>
				<% e_d = @astrology.e_d %>
				<%= "#{s_d.month}月#{s_d.mday}日   ~   #{e_d.month}月#{e_d.mday}日" %>
			</div>
			
			<p><%= @astrology.d %></p>

			<p><%= @astrology.p %></p>

			<p><%= @astrology.e %></p>
			
		<% else %>
			<% if flash[:error_msg] %>
				<p class="error_msg">
					<%= flash[:error_msg] %>
				</p>
			<% end %>
		<% end %>
		
		<br />
		<br />
		
		<div>
			<%= render :partial => "astrology_form" %>
		</div>
	</div>
</div>

<div class="clear"></div>
