<% community_page_title("密码强度") %>

<div class="float_r community_container_r">
	<%= render(:partial => "tool_list") %>
</div>

<div class="community_container_l">
	<h2>密码强度</h2>
	
	<div class="community_block_narrow">

		<br />
		
		<% if @score && @label %>
			<p>
				检测结果: <b><%= @label %></b>
			</p>
			
			<p>
				强度得分: <b><%= @score %></b>
			</p>
			
			<p>
				<table cellspacing="1" style="height: 25px ; width: 300px ; border: solid 1px #A3988C">
					<tr>
					<% 5.times do |i| %>
						<% if @level < i + 1 %>
							<td style="width: 60px"></td>
						<% else %>
							<td style="width: 60px ; background-color: <%= @color %>"></td>
						<% end %>
					<% end %>
					</tr>
				</table>
			</p>
		<% end %>
		
		<br />
		
		<div>
			<%= render :partial => "password_strength_form" %>
		</div>
	</div>
</div>

<div class="clear"></div>
