<%
	show_face &&= true
	
	account_id = owner_blog.account_id
	if show_face
		account_nick_pic = Account.get_nick_and_pic(account_id)
		account_nick = account_nick_pic[0]
		account_pic_url = account_nick_pic[1]
	end
%>

<% blog_show_url = "/blogs/#{owner_blog.id}" %>

<% blog_content = extract_text(owner_blog.content) %>
<% blog_content = sanitize_tinymce(blog_content) %>

<% comment_count = BlogComment.get_count(owner_blog.id) %>

<div class="owner_blog">
	<div>
		<% if show_face %>
			<div class="float_l" style="width: 50px; margin: 0px 20px 10px 0px;">
				<a href="/spaces/show/<%= account_id %>">
					<img src="<%= face_img_src(account_pic_url) %>" border="0" /></a>
			</div>
		<% end %>
		
		<div style="margin-bottom: 5px;">
			<a href="<%= blog_show_url %>" class="owner_blog_title">
				<%= h(owner_blog.title) %></a>
		</div>

		<div class="form_info_s">
			<% if show_face %>
				<a href="/spaces/show/<%= account_id %>" class="account_nick_link form_info_s">
					<%= h(account_nick) %></a>
			<% else %>
				<%= owner_name %></a>
			<% end %>
			发表于
			<%= format_datetime(owner_blog.created_at) %>
		</div>
	</div>
	
	<div class="owner_blog_content">
		<img src="/images/index/blog_icon.png" border="0" />
		&nbsp;
		<%= truncate(blog_content, :length => 500) %>
	</div>
	
	<div class="form_info_s owner_blog_action_bar">
		<% if edit %>
			<% form_tag "/blogs/#{owner_blog.id}", :method => :delete, :id => "blog_delete_form_#{owner_blog.id}" do %>
			<% end %>
		<% end %>
		
		<a href="<%= blog_show_url %>">完整阅读</a>
		<!--
		<a href="#">标签</a>
		-->
		<a href="<%= blog_show_url %>#comment_list">
			评论(<%= comment_count %>)</a>
		<% if edit %>
			<a href="#" onclick="if(confirm('确定要删除么 ?')){document.getElementById('blog_delete_form_<%= owner_blog.id %>').submit();}; return false;">删除</a>
			<a href="/blogs/<%= owner_blog.id %>/edit">修改</a>
		<% end %>
		
		<% if show_face %>
			|
			
			<a href="/blogs/list/<%= account_id %>">
				博客列表</a>
		<% end %>
		
		|
		查看:<b><%= ViewCounter.get_count(:blog, owner_blog.id) %></b>
		|
		
		最后更新于
		<%= format_datetime(owner_blog.updated_at) %>
	</div>
	
	<div>
		<%= thin_hr %>
	</div>
</div>
