<% community_page_title("写一篇新的博客文章") %>

<div class="blog_container">
	<h2>写一篇新的博客文章</h2>
	
	<div class="community_block">
		<%= unchecked_alert(@account_checked) %>
	</div>
	
	<br />
	
	<div class="community_block_narrow">

		<% if flash[:error_msg] %>
			<p class="error_msg"><%= flash[:error_msg] %></p>
		<% end %>
		<% if @blog.errors.size > 0 %>
			<p class="error_msg">
				<%= list_model_validate_errors(@blog) %>
			</p>
		<% end %>
		
		<div class="div_form">
			<% form_tag "/blogs", :method => :post do %>
			
				<div>
					<label for="blog_title">
				        标题(<span style="color: red;">*</span>)
				    </label>
				</div>
				<div>
					<input type="text" id="blog_title" name="blog_title" class="text_field" size="75" value="<%= h(@blog.title) %>" />
				</div>
				
				<div>
					<label for="blog_content">
				        内容(<span style="color: red;">*</span>)
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#" onclick="remove_rich_editor('blog_content'); return false;">使用 普通编辑框</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#" onclick="add_rich_editor('blog_content'); return false;">使用 高级编辑器</a>
				    </label>
				</div>
				<div>
					<textarea id="blog_content" name="blog_content" class="text_field" cols="75" rows="15"><%= @blog.content %></textarea>
				</div>
				
				<br />
				
				<div>
					<%= submit_tag "发表博客文章", :class => "button", :disabled => @account_limited %>
					&nbsp;&nbsp;&nbsp;
					<a href="/blogs" onclick="if(!confirm('当前正在编辑的内容将全部丢失, 确定返回么 ?')){ return false; }">返回我的博客文章列表</a>
				</div>
			
			<% end %>
		</div>
		
	</div>
</div>



<script language="JavaScript" type="text/javascript" src="/lib/tiny_mce/tiny_mce.js"></script>

<script language="JavaScript" type="text/javascript" src="/javascripts/tinymce.js"></script>


