<% group_name = h(@group.name) %>

<% page_title = group_name %>
<% community_page_title(page_title) %>

<div class="float_r group_container_r">
	
	<% if @relationship == "master" || @relationship == "admin" %>
		<div class="community_block">
			<a href="/groups/<%= @group_id %>/edit">
				<img src="/images/groups/edit_small.gif" border="0" />
				修改圈子的设置</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/groups/<%= @group_id %>/edit_image">
				<img src="/images/groups/edit_image_small.gif" border="0" />
				设置圈子的图标</a>
		</div>
		<div class="community_block">
			<a href="/groups/members_edit/<%= @group_id %>">
				<img src="/images/groups/members_small.gif" border="0" />
				管理圈子成员</a>
		</div>
		<% if @relationship == "master" %>
			<div class="community_block">
				<a href="/groups/members_master/<%= @group_id %>">
					<img src="/images/groups/admin_icon.png" border="0" />
					设置圈子的管理员</a>
			</div>
				
			<div class="community_block">
				<a href="/groups/post_categories/<%= @group_id %>">
					<img src="/images/groups/post_category_small.gif" border="0" />
					管理圈子讨论话题的分类</a>
			</div>
		<% end %>
		
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
	<% end %>
	

	
	<div class="community_block align_c">
		<a href="/custom_groups/problem/compose/<%= @group.id %>" title="我要提问">
			<img src="/images/problems/add_question_btn.png" border="0" alt="我要提问" /></a>
	</div>

</div>

<div class="group_container_l">
	<div class="float_r">
		<% form_tag "/custom_groups/problem/search/#{@group.id}", :method => :get do %>
			<input type="text" name="query" class="text_field" style="width: 150px; padding: 2px;" />		
			<input type="submit" value="搜索问答" class="button" />
		<% end %>
	</div>
		
	<h2><%= page_title %></h2>
	
	
	<div class="community_block_narrow form_info_s">
		<%= h(@group.desc) %>
	</div>
	
	<% notice = @group_setting[:notice] %>
	<% if notice && notice != "" %>
		<div class="community_block">
			<div class="space_section_title">
				<a class="float_r" title="收起" id="notice_section_expand" href="#" onclick="collapse_section('notice_section'); return false;">
					<img src="/images/expand.png" border="0" /></a>
				<a class="float_r" title="展开" id="notice_section_collapse" href="#" onclick="expand_section('notice_section'); return false;" style="display: none">
					<img src="/images/collapse.png" border="0" /></a>
				
				<img class="float_l" src="/images/groups/notice_small.png" border="0" />
				&nbsp;&nbsp;&nbsp;
				<b>
					公告栏
				</b>
			</div>
		
			<div id="notice_section" class="community_block_narrow group_notice">
				<%= textilize_format(notice) %>
			</div>
		</div>
	<% end %>
	
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="post_section_expand" href="#" onclick="collapse_section('post_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="post_section_collapse" href="#" onclick="expand_section('post_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>

			<span class="float_r">
				<a href="/groups/post/<%= @group_id %>">查看全部问题</a>
				<% current_account = session[:account_id] %>
				<% if current_account && current_account != "" %>
					&nbsp;&nbsp;&nbsp;
					<a href="/custom_groups/problem/asked/<%= @group.id %>?account=<%= current_account %>">
						(查看我的提问)</a>
				<% end %>
				&nbsp;&nbsp;&nbsp;
			</span>
			
			<img class="float_l" src="/images/groups/post_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<b>
				提问列表
			</b>
			&nbsp;&nbsp;&nbsp;
			<a href="/groups/feed/<%= @group_id %>.atom" title="订阅全部问题">
				<img src="/images/feed_small_icon.gif" border="0" alt="订阅全部问题" style="margin-bottom: -3px;" /></a>
		</div>
		
		<div id="post_section">
			<table cellpadding="0" cellspacing="5" class="main_part_w">
				<thead>
					<tr>
						<td width="51%">问题</td>
						<td width="6%" align="right">回答</td>
						<td width="18%" align="right">提问者</td>
						<td width="25%" align="right">最后参与</td>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => "/groups/group_post", :collection => @top_group_posts %>
					<%= render :partial => "/groups/group_post", :collection => @group_posts %>
				</tbody>
			</table>
		</div>
	</div>
	
</div>



<script language="JavaScript">
	function expand_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "";
		document.getElementById(expand_icon).style.display = "";
		document.getElementById(collapse_icon).style.display = "none";
	}
	
	function collapse_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "none";
		document.getElementById(expand_icon).style.display = "none";
		document.getElementById(collapse_icon).style.display = "";
	}
</script>

