<% recruitment_title = h(recruitment_list_item.title) %>

<div class="recruitment_list_item">
	<a href="#" onclick="create_job_target('<%= recruitment_title %>', <%= recruitment_list_item.id %>); return false;" title="根据这条招聘信息创建求职目标">
		<img src="/images/index/job_targets_icon.png" border="0" width="14" height="14" style="margin-bottom: -2px;" /></a>
		
		
	<% if recruitment_list_item.location && recruitment_list_item.location != "" %>
		<% h_location = h(recruitment_list_item.location) %>
		[<a href="/recruitments/location?name=<%= h_location %>" class="account_nick_link"><%= h_location %></a>]
	<% end %>
	
	<a href="/recruitments/<%= recruitment_list_item.id %>" class="account_nick_link" target="_blank">
		<%= recruitment_title %></a>
	

	<% if recruitment_list_item.publish_time %>
		<span style="font-size: 11px; margin-left: 5px;">
			(<%= recruitment_list_item.publish_time.strftime("%y.%m.%d") %>)
		</span>
	<% end %>
</div>


