<% recruitment_title = h(recruitment.title) %>

<% form_tag "/job_targets/create_from_recruitment", :method => :post, :target => "_blank", :id => "create_job_target_form_#{recruitment.id}" do %>
	<input type="hidden" name="recruitment_title" value="<%= recruitment_title %>" />
	<input type="hidden" name="recruitment_id" value="<%= recruitment.id %>" />
<% end %>

<div class="recruitment_container">
	<div class="recruitment_title">
		<a href="#" onclick="if(confirm('确定要根据这条招聘信息创建求职目标么 ?')){document.getElementById('create_job_target_form_<%= recruitment.id %>').submit();}; return false;" title="根据这条招聘信息创建求职目标">
			<img src="/images/index/job_targets_icon.png" border="0" width="16" height="16" style="margin-bottom: -3px;" /></a>
			
			
		<% if recruitment.recruitment_type && recruitment.recruitment_type > 0 %>
			[<a href="/recruitments/recruitment_type/<%= recruitment.recruitment_type %>" class="account_nick_link" target="_blank"><%= Recruitment.recruitment_type_label(recruitment.recruitment_type) %></a>]
		<% end %>
		<% if recruitment.location && recruitment.location != "" %>
			[<a href="/recruitments/location?name=<%= h(recruitment.location) %>" class="account_nick_link" target="_blank"><%= h(recruitment.location) %></a>]
		<% end %>
		<a href="/recruitments/<%= recruitment.id %>" class="account_nick_link" target="_blank">
			<%= recruitment_title %></a>
			
		<span style="font-size: 12px;">
			(
			<span class="recruitment_info_highlight">
				<b>
					<%= format_date(recruitment.publish_time) %>
				</b>
			</span>
			)
			
			<% tags = recruitment.recruitment_tags %>
			<% if tags.size > 0 %>
				|
				<% tags.each do |tag|%>
					<a href="/recruitments/tag?name=<%= h(tag.name) %>" class="account_nick_link form_info_s" target="_blank"><%= h(tag.name) %></a>
				<% end %>
			<% end %>
		</span>
	</div>
</div>


