<div class="recruitment_container">
	<div class="recruitment_title">
		<% if recruitment.recruitment_type && recruitment.recruitment_type != "" %>
			[<a href="/recruitments/recruitment_type?name=<%= h(recruitment.recruitment_type) %>" class="account_nick_link"><%= h(recruitment.recruitment_type) %></a>]
		<% end %>
		<% if recruitment.location && recruitment.location != "" %>
			[<a href="/recruitments/location?name=<%= h(recruitment.location) %>" class="account_nick_link"><%= h(recruitment.location) %></a>]
		<% end %>
		<a href="/recruitments/<%= recruitment.id %>" class="account_nick_link">
			<%= h(recruitment.title) %></a>
			
		<span style="font-size: 12px;">
			(
			<span class="recruitment_info_highlight">
				<b>
					<%= format_date(recruitment.publish_time) %>
				</b>
			</span>
			)
			
			<% tags = recruitment.recruitment_tags %>
			<% if tags.size > 0 %>
				|
				<% tags.each do |tag|%>
					<a href="/recruitments/tag?name=<%= h(tag.name) %>" class="account_nick_link form_info_s"><%= h(tag.name) %></a>
				<% end %>
			<% end %>
		</span>
	</div>
</div>


