<% page_title = "校园招聘信息" %>
<% community_page_title(page_title) %>

<div id="ad_col" class="float_l left_ad_container" style="display: none;">
	<%= render :partial => "left_ad" %>
</div>

<div id="content_col" class="right_content_container">
	<a class="float_r" href="/recruitments/feed.atom">
		<img src="/images/feed_icon.gif" border="0" alt="订阅最新招聘信息" title="订阅最新招聘信息" /></a>
		
	<h2>
		<a href="#" onclick="toggle_ad_col(); return false;" title="显示/隐藏功能列表栏">
			<img src="/images/recruitments/toggle_ad_icon.gif" border="0" alt="显示/隐藏功能列表栏" /></a>

		<%= page_title %>
	</h2>
	
	
	
	<%= render :partial => "top_nav" %>
	
	
	<% form_tag "/job_targets/create_from_recruitment", :method => :post, :target => RecruitmentsController::Create_Job_Target_Page_Name, :id => "create_job_target_form" do %>
		<input type="hidden" id="job_target_recruitment_title" name="recruitment_title" value="" />
		<input type="hidden" id="job_target_recruitment_id" name="recruitment_id" value="" />
	<% end %>
	<script language="JavaScript" type="text/javascript">
		function create_job_target(title, id) {
			if(confirm("确定要根据招聘信息 " + title + " 创建求职目标么 ?")){
				document.getElementById("job_target_recruitment_title").value = title;
				document.getElementById("job_target_recruitment_id").value = id;
				document.getElementById("create_job_target_form").submit();
			}
		}
	</script>
	
	<div class="community_block">
		<table cellpadding="0" cellspacing="0" border="0" class="main_part_w">
			<tr>
				<td align="left" valign="top" style="width: 50%; padding-right: 5px;">
					
					<div class="recruitment_list_container">
						<div class="recruitment_list_title">
							<a class="float_r account_nick_link" href="/recruitments/recruitment_type/<%= Recruitment::Type_fulltime %>">
								更多 »</a>
							
							<strong>最新校园全职招聘信息</strong>
						</div>
						
						
						<% cache(Recruitment::FCKP_community_index_fulltime) do %>
							<%
								frs = Recruitment.find(
									:all,
							      	:limit => 100,
									:select => "id, title, publish_time, location, recruitment_type",
									:conditions => ["recruitment_type = ?", Recruitment::Type_fulltime],
									:order => "publish_time DESC"
								)
							%>
						
							<%= render :partial => "recruitment_list_item", :collection => frs %>
						<% end %>
						
						
						<div class="community_block align_r" style="border-top: dashed 1px #DADADA;">
							<% form_tag "/recruitments/search", :method => :get do %>
								<a class="float_l" href="/recruitments/recruitment_type/<%= Recruitment::Type_fulltime %>">
									更多全职招聘信息 »</a>
									
								<input type="text" name="query" class="text_field" style="width: 120px;" />
								<input type="hidden" name="recruitment_type" value="<%= Recruitment::Type_fulltime %>" />
								<input type="submit" value="搜索全职职位" class="button" />
							<% end %>
						</div>
					</div>
					
				</td>
				
				<td align="left" valign="top" style="width: 50%; padding-left: 5px;">
					<div class="recruitment_list_container">
						<div class="recruitment_list_title">
							<a class="float_r account_nick_link" href="/recruitments/recruitment_type/<%= Recruitment::Type_lecture %>">
								更多 »</a>
							
							<strong>最新校园宣讲会信息</strong>
						</div>
						<% cache(Recruitment::FCKP_community_index_lecture) do %>
							<%
								lrs = Recruitment.find(
									:all,
							      	:limit => 5,
									:select => "id, title, publish_time, location, recruitment_type",
									:conditions => ["recruitment_type = ?", Recruitment::Type_lecture],
									:order => "publish_time DESC"
								)
							%>
							<%= render :partial => "recruitment_list_item", :collection => lrs %>
						<% end %>
						<div class="community_block align_r" style="border-top: dashed 1px #DADADA;">
							<% form_tag "/recruitments/search", :method => :get do %>
								<a class="float_l" href="/recruitments/recruitment_type/<%= Recruitment::Type_lecture %>">
									更多宣讲会信息 »</a>
									
								<input type="text" name="query" class="text_field" style="width: 120px;" />
								<input type="hidden" name="recruitment_type" value="<%= Recruitment::Type_lecture %>" />
								<input type="submit" value="搜索宣讲会信息" class="button" />
							<% end %>
						</div>
						
						
						
						<div class="recruitment_list_title">
							<a class="float_r account_nick_link" href="/recruitments/recruitment_type/<%= Recruitment::Type_jobfair %>">
								更多 »</a>
							
							<strong>最新招聘会信息</strong>
						</div>
						<% cache(Recruitment::FCKP_community_index_jobfair) do %>
							<%
								jrs = Recruitment.find(
									:all,
							      	:limit => 5,
									:select => "id, title, publish_time, location, recruitment_type",
									:conditions => ["recruitment_type = ?", Recruitment::Type_jobfair],
									:order => "publish_time DESC"
								)
							%>
							<%= render :partial => "recruitment_list_item", :collection => jrs %>
						<% end %>
						<div class="community_block align_r" style="border-top: dashed 1px #DADADA;">
							<% form_tag "/recruitments/search", :method => :get do %>
								<a class="float_l" href="/recruitments/recruitment_type/<%= Recruitment::Type_jobfair %>">
									更多招聘会信息 »</a>
									
								<input type="text" name="query" class="text_field" style="width: 120px;" />
								<input type="hidden" name="recruitment_type" value="<%= Recruitment::Type_jobfair %>" />
								<input type="submit" value="搜索招聘会信息" class="button" />
							<% end %>
						</div>
						
						
						
						<div class="recruitment_list_title">
							<a class="float_r account_nick_link" href="/recruitments/recruitment_type/<%= Recruitment::Type_parttime %>">
								更多 »</a>
							
							<strong>最新校园兼职实习信息</strong>
						</div>
						<% cache(Recruitment::FCKP_community_index_parttime) do %>
							<%
								prs = Recruitment.find(
									:all,
							      	:limit => 85,
									:select => "id, title, publish_time, location, recruitment_type",
									:conditions => ["recruitment_type = ?", Recruitment::Type_parttime],
									:order => "publish_time DESC"
								)
							%>
							<%= render :partial => "recruitment_list_item", :collection => prs %>
						<% end %>
						<div class="community_block align_r" style="border-top: dashed 1px #DADADA;">
							<% form_tag "/recruitments/search", :method => :get do %>
								<a class="float_l" href="/recruitments/recruitment_type/<%= Recruitment::Type_parttime %>">
									更多兼职实习信息 »</a>
									
								<input type="text" name="query" class="text_field" style="width: 120px;" />
								<input type="hidden" name="recruitment_type" value="<%= Recruitment::Type_parttime %>" />
								<input type="submit" value="搜索兼职实习" class="button" />
							<% end %>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	
	<div class="community_block">
		<div class="recruitment_list_container">
			<div class="recruitment_list_title">
				<span class="float_r">
					 »</span>
				
				<strong>信息标签 ( Top 200 )</strong>
			</div>
			
			<div class="community_block">
				<div>
					<script type="text/javascript"><!--
					google_ad_client = "pub-3439613867319084";
					/* 728x15 */
					google_ad_slot = "8608645276";
					google_ad_width = 728;
					google_ad_height = 15;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				</div>
				
				<%= render(:partial => "recruitment_tag_cloud") %>
			</div>
		</div>
	</div>
	
	<!--
	<div class="community_block">
		<div class="recruitment_list_container">
			<div class="recruitment_list_title">
				<span class="float_r">
					 »</span>
				
				<strong>招聘公司导航</strong>
			</div>
			
			<div class="community_block">
				
			</div>
		</div>
	</div>
	-->
	
	
	<div class="community_block">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 728x90 */
		google_ad_slot = "8878841011";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>


<script language="JavaScript" type="text/javascript" src="/javascripts/ad_content.js"></script>
<script language="JavaScript" type="text/javascript">
	toggle_ad_col(<%= RecruitmentsController::Show_Left_Ad %>);
</script>


