<% location_name = h(@location_name) %>
<% page_title = "#{location_name} - 最新#{@is_parttime ? "兼职实习" : "全职招聘"}信息 - 校园招聘信息" %>
<% community_page_title(page_title) %>

<div id="ad_col" class="float_l left_ad_container" style="display: none;">
	<%= render :partial => "left_ad" %>
</div>

<div id="content_col" class="right_content_container">
	<a class="float_r" href="/recruitments/feed.atom">
		<img src="/images/feed_icon.gif" border="0" alt="订阅最新招聘信息" title="订阅最新招聘信息" /></a>
		
	<h2>
		<a href="#" onclick="toggle_ad_col(); return false;" title="显示/隐藏功能列表栏">
			<img src="/images/recruitments/toggle_ad_icon.gif" border="0" alt="显示/隐藏功能列表栏" /></a>

		<%= page_title %>
	</h2>
	
	
	
	<%= render :partial => "top_nav" %>
	
	
	<br />
	
	
	<% form_tag "/job_targets/create_from_recruitment", :method => :post, :target => RecruitmentsController::Create_Job_Target_Page_Name, :id => "create_job_target_form" do %>
		<input type="hidden" id="job_target_recruitment_title" name="recruitment_title" value="" />
		<input type="hidden" id="job_target_recruitment_id" name="recruitment_id" value="" />
	<% end %>
	<script language="JavaScript" type="text/javascript">
		function create_job_target(title, id) {
			if(confirm("确定要根据招聘信息 " + title + " 创建求职目标么 ?")){
				document.getElementById("job_target_recruitment_title").value = title;
				document.getElementById("job_target_recruitment_id").value = id;
				document.getElementById("create_job_target_form").submit();
			}
		}
	</script>
	
	<table cellpadding="0" cellspacing="0" border="0" class="main_part_w">
		<td style="width: 30px;">&nbsp;</td>
		
		<% if @is_parttime %>
			<td align="center" valign="bottom" style="width: 80px;">
				<div style="border: 1px solid #F0E0CF; background-color: #FFF5E8; border-bottom: none; height: 20px; padding: 1px 5px 0px;">
					<a href="/recruitments/location?name=<%= location_name %>" class="account_nick_link">
						全职招聘</a>
				</div>
			</td>

			<td style="width: 5px;">&nbsp;</td>
			
			<td align="center" style="width: 100px;">
				<div style="border: 1px solid #F0E0CF; border-bottom: none; height: 25px; padding: 5px 10px 0px;">
					<span style="font-size: 14px;">
						<strong>兼职实习</strong></span>
				</div>
			</td>
		<% else %>
			<td align="center" style="width: 100px;">
				<div style="border: 1px solid #F0E0CF; border-bottom: none; height: 25px; padding: 5px 10px 0px;">
					<span style="font-size: 14px;">
						<strong>全职招聘</strong></span>
				</div>
			</td>

			<td style="width: 5px;">&nbsp;</td>

			<td align="center" valign="bottom" style="width: 80px;">
				<div style="border: 1px solid #F0E0CF; background-color: #FFF5E8; border-bottom: none; height: 20px; padding: 1px 5px 0px;">
					<a href="/recruitments/location?name=<%= location_name %>&rt=2" class="account_nick_link">
						兼职实习</a>
				</div>
			</td>
		<% end %>
		
		<td>&nbsp;</td>
	</table>
	<div class="recruitment_list_container">
		<div class="recruitment_list_title">
			<div class="align_c overflow_hidden">
				<strong><%= page_title %></strong>
				
				<% if false %>
				&nbsp;&nbsp;&nbsp;
				<span class="form_info_s">
					(
					有
					<b><%= @recruitments.total_entries %></b>
					条信息
					)
				</span>
				<% end %>
			</div>
		</div>
		
		
		<div class="community_block">
			<%= paging_buttons(@recruitments) %>
		</div>
		
		<div class="community_block">
			<%= render(:partial => "recruitment", :collection => @recruitments) %>
		</div>
	
		<div class="community_block">
			<%= paging_buttons(@recruitments) %>
		</div>
	</div>
	
	
	<div class="community_block">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 728x90 */
		google_ad_slot = "8878841011";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>


<script language="JavaScript" type="text/javascript" src="/javascripts/ad_content.js"></script>
<script language="JavaScript" type="text/javascript">
	toggle_ad_col(<%= RecruitmentsController::Show_Left_Ad %>);
</script>


