<% page_title = "搜索校园招聘信息" %>
<% page_title = page_title + " (#{Recruitment.recruitment_type_label(@recruitment_type)})" if @recruitment_type > 0 %>
<% page_title = "#{@query} - " + page_title if @query && (@query != "") %>
<% community_page_title(page_title) %>

<div id="ad_col" class="float_l left_ad_container" style="display: none;">
	<div class="align_c">
		<div>
			<script type="text/javascript"><!--
			google_ad_client = "pub-3439613867319084";
			/* 120x90 */
			google_ad_slot = "9302035199";
			google_ad_width = 120;
			google_ad_height = 90;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>

		<br />

		<div>
			<script type="text/javascript"><!--
			google_ad_client = "pub-3439613867319084";
			/* 120x600 */
			google_ad_slot = "0527158653";
			google_ad_width = 120;
			google_ad_height = 600;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</div>
</div>

<div id="content_col" class="right_content_container">
	<a class="float_r" href="/recruitments/feed.atom">
		<img src="/images/feed_icon.gif" border="0" alt="订阅最新招聘信息" title="订阅最新招聘信息" /></a>
		
	<h2>
		<a href="#" onclick="toggle_ad_col(); return false;" title="显示/隐藏功能列表栏">
			<img src="/images/recruitments/toggle_ad_icon.gif" border="0" alt="显示/隐藏功能列表栏" /></a>

		<%= page_title %>
	</h2>
	
	
	
	<%= render :partial => "top_nav" %>
	
	
	<br />
	
	<div class="recruitment_list_container">
		<div class="recruitment_list_title">
			<div class="align_c overflow_hidden">
				<strong><%= page_title %></strong>
				
				<% if @recruitments %>
					&nbsp;&nbsp;&nbsp;
					<span class="form_info_s">
						(
						搜索到
						<b><%= @recruitments.total_entries %></b>
						条信息
						)
					</span>
				<% end %>
			</div>
		</div>
		
		
		<div class="community_block align_c">
			<% form_tag "/recruitments/search", :method => :get do %>
				<input type="text" name="query" class="text_field" style="padding: 5px;" value="<%= h(@query) %>" style="width: 200px;" />

				<select name="recruitment_type" class="dropdown_list">
					<option value="">信息类型</option>

					<% Recruitment.recruitment_types.each do |k, v| %>
						<option value="<%= k %>"<%= " selected=\"selected\"" if k == @recruitment_type %>><%= v %></option>
					<% end %>
				</select>

				<input type="submit" value="搜索职位" class="button" />
			<% end %>
			
			<br />
		</div>
		
		
		<% if @recruitments %>
			<div class="community_block">
				<% @recruitments.each do |r| %>
					<% if r %>
						<%= render(:partial => "/community/search_results/recruitment", :locals => {:result => r, :query => @query, :riddle_client => get_riddle_client}) %>
					
						<div style="height: 30px;">
						
						</div>
					<% end %>
				<% end %>
			</div>
	
			<div class="community_block">
				<%= paging_buttons(@recruitments) %>
			</div>
		<% end %>
	</div>
	
	
	<div class="community_block">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 728x90 */
		google_ad_slot = "8878841011";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>


<script language="JavaScript" type="text/javascript" src="/javascripts/ad_content.js"></script>
<script language="JavaScript" type="text/javascript">
	toggle_ad_col(true);
</script>


