<% page_title = h(@recruitment.title) %>
<% community_page_title(page_title) %>

<div class="float_r recruitment_container_r">
	
	<% if @can_edit %>
		<div class="community_block">
			<% form_tag "/recruitments/#{@recruitment_id}", :method => :delete, :id => "delete_recruitment_form" do %>
			<% end %>
			<a href="#" onclick="if(confirm('确定要删除么 ?')){document.getElementById('delete_recruitment_form').submit();}; return false;">删除信息</a>
			
			&nbsp;
			|
			&nbsp;

			<a href="/recruitments/<%= @recruitment_id %>/edit">编辑快照</a>
		</div>
		
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
	<% end %>
	
	<div class="community_block">
		<a href="/recruitments">返回招聘信息列表</a>
	</div>
	
	<div class="community_title">
		标签 ...
	</div>
	
	<div class="community_block">
		<% tags = @recruitment.recruitment_tags %>
		<% if tags.size > 0 %>
			<div class="recruitment_tags">
				<% tags.each do |tag|%>
					<a href="/recruitments/tag?name=<%= h(tag.name) %>" class="account_nick_link"><%= h(tag.name) %></a>
				<% end %>
			</div>
		<% end %>
	</div>
	
	<div class="community_title">
		所有标签 ...
	</div>
	
	<div class="community_block">
		<%= render(:partial => "recruitment_tag_cloud") %>
	</div>
	
</div>

<div class="recruitment_container_l">
	<div class="float_r">
		<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/recruitments/#{@recruitment_id}", :title => "#{h(page_title)}"} %>
	</div>
	
	<h2><%= page_title %></h2>
	
	<div class="community_block align_r">
		<% if @recruitment.recruitment_type && @recruitment.recruitment_type != "" %>
			类型:
			<a href="/recruitments/recruitment_type?name=<%= h(@recruitment.recruitment_type) %>" class="account_nick_link"><%= h(@recruitment.recruitment_type) %></a>
		
			&nbsp;
			|
			&nbsp;
		<% end %>
		
		<% if @recruitment.location && @recruitment.location != "" %>
			地区:
			<a href="/recruitments/location?name=<%= h(@recruitment.location) %>" class="account_nick_link"><%= h(@recruitment.location) %></a>
		
			&nbsp;
			|
			&nbsp;
		<% end %>
		
		发布时间:
		<%= format_date(@recruitment.publish_time) %>
	</div>
	
	<div class="community_block tinymce_content">
		<%= sanitize_tinymce(@recruitment.content) %>
	</div>
	
	<div class="community_block">
		<%= draw_hor_line("400px") %>
	</div>
	
	<div class="community_block align_r form_info_s">
		信息来源:
		<a href="<%= @recruitment.source_link %>" target="_blank"><%= @recruitment.source_link %></a>
	</div>
	
</div>

