<% recruitment_title = h(@recruitment.title) %>
<% community_page_title("#{recruitment_title} - 校园招聘信息") %>

<div id="ad_col" class="float_l left_ad_container" style="display: none;">
	<%= render :partial => "left_ad" %>
</div>

<div id="content_col" class="right_content_container">
	<a class="float_r" href="/recruitments/feed.atom">
		<img src="/images/feed_icon.gif" border="0" alt="订阅最新招聘信息" title="订阅最新招聘信息" /></a>
		
	<h2>
		<a href="#" onclick="toggle_ad_col(); return false;" title="显示/隐藏功能列表栏">
			<img src="/images/recruitments/toggle_ad_icon.gif" border="0" alt="显示/隐藏功能列表栏" /></a>

		<%= recruitment_title %>
	</h2>
	
	
	
	<%= render :partial => "top_nav" %>
	
	<br />
	
	<div class="recruitment_list_container">
		<div class="recruitment_list_title">
			<div class="align_c overflow_hidden">
				<strong><%= recruitment_title %></strong>
			</div>
		</div>
		
		
		<div class="community_block align_r">
			<div style="word-spacing: 10px;">
				<% if @can_edit %>
					<div class="float_l">
						<% form_tag "/recruitments/#{@recruitment.id}", :method => :delete, :id => "delete_recruitment_form" do %>
						<% end %>
						<a href="#" onclick="if(confirm('确定要删除么 ?')){document.getElementById('delete_recruitment_form').submit();}; return false;">删除信息</a>

						|

						<a href="/recruitments/<%= @recruitment.id %>/edit">编辑快照</a>
					</div>
				<% end %>
				
				
				<% if @recruitment.recruitment_type && @recruitment.recruitment_type > 0 %>
					类型:
					<a href="/recruitments/recruitment_type/<%= @recruitment.recruitment_type %>" class="account_nick_link"><%= Recruitment.recruitment_type_label(@recruitment.recruitment_type) %></a>

					|

				<% end %>

				<% if @recruitment.location && @recruitment.location != "" %>
					地区:
					<a href="/recruitments/location?name=<%= h(@recruitment.location) %>" class="account_nick_link"><%= h(@recruitment.location) %></a>

					|

				<% end %>

				<% if @recruitment.publish_time %>
					发布时间:
					<%= format_date(@recruitment.publish_time) %>
				<% end %>
			</div>
			
			<% tags = @recruitment.recruitment_tags %>
			<% if tags.size > 0 %>
				<div style="word-spacing: 10px;">
					标签:
					<% tags.each do |tag|%>
						<% tag_name = h(tag.name) %>
						<a href="/recruitments/tag?name=<%= tag_name %>" class="account_nick_link"><%= tag_name %></a>
					<% end %>
				</div>
			<% end %>
		</div>


		<% form_tag "/job_targets/create_from_recruitment", :method => :post, :id => "create_job_target_form" do %>
			<input type="hidden" name="recruitment_title" value="<%= recruitment_title %>" />
			<input type="hidden" name="recruitment_id" value="<%= @recruitment.id %>" />
		<% end %>
		
		<div class="exp_content">
			<div>
				<span class="float_r">
					<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/recruitments/#{@recruitment.id}", :title => "招聘信息: #{recruitment_title}"} %>
				</span>
				
				<a href="#" onclick="if(confirm('确定要根据这条招聘信息创建求职目标么 ?')){document.getElementById('create_job_target_form').submit();}; return false;">
					<img src="/images/recruitments/create_job_target_btn.png" border="0" /></a>
			</div>
			
			<%= sanitize_tinymce(@recruitment.content) %>
			
			<div class="community_block">
				<a href="#" onclick="if(confirm('确定要根据这条招聘信息创建求职目标么 ?')){document.getElementById('create_job_target_form').submit();}; return false;">
					<img src="/images/recruitments/create_job_target_btn.png" border="0" /></a>
			</div>
		</div>
	</div>
	
	
	<div class="community_block">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 728x90 */
		google_ad_slot = "8878841011";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	
</div>


<script language="JavaScript" type="text/javascript" src="/javascripts/ad_content.js"></script>
<script language="JavaScript" type="text/javascript">
	toggle_ad_col(<%= RecruitmentsController::Show_Left_Ad %>);
</script>


