<% recruitment_title = h(@recruitment.title) %>
<% community_page_title("#{recruitment_title} - 校园招聘信息") %>

<div id="ad_col" class="float_l left_ad_container" style="display: none;">
	<%= render :partial => "left_ad" %>
</div>

<div id="content_col" class="right_content_container">
	<a class="float_r" href="/recruitments/feed.atom">
		<img src="/images/feed_icon.gif" border="0" alt="订阅最新招聘信息" title="订阅最新招聘信息" /></a>
		
	<h2>
		<a href="#" onclick="toggle_ad_col(); return false;" title="显示/隐藏功能列表栏">
			<img src="/images/recruitments/toggle_ad_icon.gif" border="0" alt="显示/隐藏功能列表栏" /></a>

		<%= recruitment_title %>
	</h2>
	
	
	
	<%= render :partial => "top_nav" %>
	
	<br />
	
	<div class="recruitment_list_container">
		<div class="recruitment_list_title">
			<div class="align_c overflow_hidden">
				<strong><%= recruitment_title %></strong>
			</div>
		</div>
		
		
		<div class="community_block">
			<div class="float_r align_c">
				<div style="padding: 5px;">
					<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/recruitments/#{@recruitment.id}", :title => "招聘信息: #{recruitment_title}"} %>
				</div>
				
				<div style="padding: 5px;">
					<% form_tag "/job_targets/create_from_recruitment", :method => :post, :id => "create_job_target_form" do %>
						<input type="hidden" name="recruitment_title" value="<%= recruitment_title %>" />
						<input type="hidden" name="recruitment_id" value="<%= @recruitment.id %>" />
					<% end %>
					
					<a href="#" onclick="if(confirm('确定要根据这条招聘信息创建求职目标么 ?')){document.getElementById('create_job_target_form').submit();}; return false;">
						<img src="/images/recruitments/create_job_target_btn.png" border="0" /></a>
				</div>
			</div>
			
			
			<div style="word-spacing: 10px;">
				<div>
					<% if @recruitment.recruitment_type && @recruitment.recruitment_type > 0 %>
						类型:
						<a href="/recruitments/recruitment_type/<%= @recruitment.recruitment_type %>" class="account_nick_link"><%= Recruitment.recruitment_type_label(@recruitment.recruitment_type) %></a>

						|

					<% end %>

					<% if @recruitment.location && @recruitment.location != "" %>
						地区:
						<a href="/recruitments/location?name=<%= h(@recruitment.location) %>" class="account_nick_link"><%= h(@recruitment.location) %></a>

						|

					<% end %>

					<% if @recruitment.publish_time %>
						发布时间:
						<%= format_date(@recruitment.publish_time) %>
					<% end %>
				</div>


				<% tags = @recruitment.recruitment_tags %>
				<% if tags.size > 0 %>
					<div>
						标签:
						<% tags.each do |tag|%>
							<% tag_name = h(tag.name) %>
							<a href="/recruitments/tag?name=<%= tag_name %>" class="account_nick_link">
								<%= tag_name %></a>
						<% end %>
					</div>
				<% end %>
				
				
				<% companies = @recruitment.companies %>
				<% if companies.size > 0 %>
					<div>
						涉及的公司:
						<% companies.each do |company|%>
							<% company_name = h(company.name) %>
							<%= company_name %><% if @can_edit %><a title="移除公司 <%= company_name %>" href="#" onclick="remove_job_item('company', <%= company.id %>); return false;">(移除)</a><% end %>
						<% end %>
					</div>
				<% end %>
				
				
				<% job_positions = @recruitment.job_positions %>
				<% if job_positions.size > 0 %>
					<div>
						涉及的职位:
						<% job_positions.each do |job_position|%>
							<% job_position_name = h(job_position.name) %>
							<%= job_position_name %><% if @can_edit %><a title="移除职位 <%= job_position_name %>" href="#" onclick="remove_job_item('job_position', <%= job_position.id %>); return; return false;">(移除)</a><% end %>
						<% end %>
					</div>
				<% end %>


				<% if @can_edit %>
					<% form_tag "", :method => :post, :id => "remove_job_item_form" do %>
						<input type="hidden" name="item_id" id="item_id" />
						<input type="hidden" name="owner_type" value="recruitment" />
					<% end %>
					
					<script language="JavaScript" type="text/javascript">
						function remove_job_item(item_type, job_item_id) {
							if(confirm('确定要移除么 ?')) {
								document.getElementById("item_id").value = job_item_id;
								var remove_form = document.getElementById("remove_job_item_form");
								remove_form.action = "/" + item_type + "/job_items/<%= @recruitment.id %>/del_job_item";
								remove_form.submit();
							}
						}
					</script>
					
					<div>
						<% form_tag "/recruitments/#{@recruitment.id}", :method => :delete, :id => "delete_recruitment_form" do %>
						<% end %>
						<a href="#" onclick="if(confirm('确定要删除么 ?')){document.getElementById('delete_recruitment_form').submit();}; return false;">删除信息</a>
						|
						<a href="/recruitments/<%= @recruitment.id %>/edit">编辑快照</a>

						|
						<a href="/job_position/job_items/recruitment/<%= @recruitment.id %>/select_job_item">
							添加涉及的职位</a>
						|
						<a href="/company/job_items/recruitment/<%= @recruitment.id %>/select_job_item">
							添加涉及的公司</a>
					</div>
				<% end %>
			</div>
		</div>
		
		<div class="exp_content">
			<%= sanitize_tinymce(@recruitment.content) %>
			
			<div class="community_block">
				<a href="#" onclick="if(confirm('确定要根据这条招聘信息创建求职目标么 ?')){document.getElementById('create_job_target_form').submit();}; return false;">
					<img src="/images/recruitments/create_job_target_btn.png" border="0" /></a>
			</div>
		</div>
	</div>
	
	
	<div class="community_block">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 728x90 */
		google_ad_slot = "8878841011";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	
</div>


<script language="JavaScript" type="text/javascript" src="/javascripts/ad_content.js"></script>
<script language="JavaScript" type="text/javascript">
	toggle_ad_col(<%= RecruitmentsController::Show_Left_Ad %>);
</script>


