<% page_title = "招聘信息标签: #{@tag_name}" %>
<% community_page_title(page_title) %>

<div class="float_r recruitment_container_r">
	
	<!--
	<div class="community_block align_c">
		<a href="/recruitments/new">
			+ 发布招聘信息
		</a>
	</div>
	-->
	
	<%= render(:partial => "catalog_filter") %>
	
	<div class="community_block">
		<% form_tag "/community/search", :method => :get do %>
			<input type="text", id="seekjob_query" name="query" class="text_field" style="width: 60%" />
			<input type="hidden" name="scope" value="recruitment" />

			&nbsp;&nbsp;&nbsp;
			<input type="submit" value="搜索招聘信息" class="button" />
		<% end %>
	</div>
	
	
	<div style="border-top: 1px solid #EEEEEE; padding-top: 10px;">
		<div class="community_block align_c">
			<a href="/talks" target="_blank">
				<img src="/images/ad/talk_colorful.gif" border="0" /></a>
		</div>
		
		<div class="community_block align_c">
			<a href="/coach/courses" target="_blank">
				<img src="/images/ad/course_colorful.gif" border="0" /></a>
		</div>
	</div>
	
	
	<div class="community_title">
		所有标签 ...
	</div>
	
	<div class="community_block">
		<%= render(:partial => "recruitment_tag_cloud") %>
	</div>
	
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="align_c">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 250x250 */
		google_ad_slot = "5019021815";
		google_ad_width = 250;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	
</div>

<div class="recruitment_container_l">
	<h2><%= page_title %></h2>
	
	<% if @new_record %>
	
		<div class="community_block">
			没有相关记录 ...
		</div>
	
	<% else %>
	
		<div class="community_block_narrow form_info_s">
			有
			<b><%= @recruitments.total_entries %></b>
			条信息
		</div>
	
		<div class="community_block">
			<%= render(:partial => "recruitment", :collection => @recruitments) %>
		</div>
	
		<div class="community_block">
			<%= paging_buttons(@recruitments) %>
		</div>
	
	<% end %>
	
</div>

