<div class="community_block">
	<%= unchecked_alert(account_checked && true) %>
</div>


<% if general_admin?(session[:account_id]) %>
	<div class="community_block">
		<a href="/coach/course_applications?closed_filter=unclosed">
			浏览 报名课程/咨询详情 申请表</a>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
<% end %>

<% if employee = Intranet::Employee.find_by(:account_id, session[:account_id]) %>
	<div class="community_block">
		<a href="/intranet/employees/<%= session[:account_id] %>/sales_opportunities">
			管理我的销售机会</a>
	</div>
	
	<% if employee[:manager] %>
		<div class="community_block">
			<a href="/intranet/employees">
				查看销售团队</a>
		</div>
	<% end %>
<% end %>


<div class="community_title">
	用户设置 ...
</div>
<div class="community_block">

	<ul>
		<li><a href="/account_settings/profile/<%= session[:account_id] %>">资料可见性</a></li>
	</ul>
	
	<ul>
		<li><a href="/account_settings/email/<%= session[:account_id] %>">邮件提醒与邀请</a></li>
	</ul>
	
	<ul>
		<li><a href="/account_settings/module_index/<%= session[:account_id] %>">功能模块首页</a></li>
	</ul>
	
	<ul>
		<li><a href="/account_settings/account_action/<%= session[:account_id] %>">我的动态</a></li>
	</ul>

</div>


