<% community_page_title("用户设置") %>

<% options = [["true", "接收"], ["false", "不接收"]] %>

<div class="float_r profile_container_r">
	<%= render :partial => "account_setting_nav", :locals => {:account_checked => @account_checked} %>
</div>

<div class="profile_container_l">
	<h2>用户设置 - 邮件提醒与邀请</h2>
	
	<div class="community_block_narrow form_info_s">
		设定我想接收哪些通过 Email 发送来的提醒和朋友邀请
	</div>
	
	<div class="community_block_narrow">

		<% if flash[:error_msg] %>
			<p class="error_msg"><%= flash[:error_msg] %></p>
		<% end %>
		<% if @account_setting.errors.size > 0 %>
			<p class="error_msg">
				<%= list_model_validate_errors(@activity) %>
			</p>
		<% end %>
		<% if flash[:message] %>
		    <p class="info_msg"><%= flash[:message] %></p>
		<% end %>
		
	</div>
	
	<div class="community_block">
		<table cellpadding="0" cellspacing="10" class="main_part_w">
			<% form_tag "/account_settings/set_email/#{session[:account_id]}", :method => :post do %>
				<tr>
					<td style="width: 150px;">
						<label for="email_message_notify">
			                <b>
								当天未读消息提醒:
			                </b>
			            </label>
					</td>
					<td>
						<select name="email_message_notify" id="email_message_notify" class="dropdown_list">
							<% options.each do |option| %>
								<option value="<%= option[0] %>"<%= " selected=\"selected\"" if @email_message_notify == option[0] %>><%= option[1] %></option>
							<% end %>
						</select>
					</td>
				</tr>
				
				
				<tr>
					<td></td>
					<td>
						<%= submit_tag "更新设置", :class => "button", :disabled => @account_limited %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>

