<% owner_name = @edit ? "我" : h(@owner_nick_pic[0]) %>

<% page_title = "谁把 #{owner_name} 加为朋友了" %>
<% community_page_title(page_title) %>

<div class="float_r friend_container_r">
	<% unless @edit %>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>">
				<img src="<%= face_img_src(@owner_nick_pic[1]) %>" border="0" /></a>
		</div>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>" class="account_nick_link">
				<%= owner_name %></a>
		</div>	
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>	
	<% end %>
	
	<div class="community_block">
		<a href="/friends/list/<%= @owner_id %>">» <%= owner_name %> 的朋友</a>
	</div>
	
	<div class="community_block">
		<a href="/friends/both_list/<%= @owner_id %>">» <%= owner_name %> 的伙伴</a>
		<div class="form_info_l">
			互相将对方加为了朋友
		</div>
	</div>
	
	
	<div class="community_title">
		搜索成员 ...
	</div>
	
	<% form_tag "/community/search", :method => :get do %>
		<div class="community_block">
			<input type="text" name="query" class="text_field" style="width: 90%" />
			<input type="hidden" name="scope" value="account" />
		</div>
		
		<div class="community_block align_c">
			<input type="submit" value="搜索成员" class="button" />
		</div>
		
	<% end %>
	
</div>

<div class="friend_container_l">
	<h2><%= page_title %></h2>
	
	<div class="community_block_narrow form_info_s">
		<b>
			<%= @accounts.size %>
		</b>
		人把 <%= owner_name %>
		加为朋友了
	</div>

	<div class="community_block overflow_hidden">
		<%= float_list(@accounts, "account_nick_pic", :account_nick_pic, {:can_del => false}, 7) %>
	</div>
</div>