<% account = result %>

<% account_id = account.id %>
<% account_nick = account.get_nick %>
<% account_pic_url = account.get_profile_pic_url %>

<% Account.set_account_nick_pic_cache(account_id, account_nick, account_pic_url, account.email) %>

<%
	account_setting = account.setting
	unless account_setting
		account_setting = AccountSetting.new(:account_id => account_id, :setting => "")
		account_setting.save
	end
	AccountSetting.set_account_setting_cache(account_id, account_setting)
%>

<%
	friends = account.friends
	Friend.set_account_friend_ids_cache(account_id, friends)
	
	be_friends = account.be_friends
	Friend.set_account_be_friend_ids_cache(account_id, be_friends)
%>


<%
	basic_profile_visible = true
	hobby_profile_visible = true

	edit = (account_id == session[:account_id])
	
	unless edit
		profile_basic_visible = account_setting.get_setting_value(:profile_basic_visible)
		profile_hobby_visible = account_setting.get_setting_value(:profile_hobby_visible)

		check_login = session[:account_id] && session[:account_id] > 0 && session[:email]
		check_friend = Friend.is_friend(account_id, session[:account_id])
		check_be_friend = Friend.is_be_friend(account_id, session[:account_id])

		case profile_basic_visible
			when "any"
			  basic_profile_visible = true
			when "login"
			  basic_profile_visible = check_login
			when "friend"
			  basic_profile_visible = check_login && check_friend
			when "both_friend"
			  basic_profile_visible = check_login && check_friend && check_be_friend
		end

		case profile_hobby_visible
			when "any"
			  hobby_profile_visible = true
			when "login"
			  hobby_profile_visible = check_login
			when "friend"
			  hobby_profile_visible = check_login && check_friend
			when "both_friend"
			  hobby_profile_visible = check_login && check_friend && check_be_friend
		end
	end

	basic_profile = basic_profile_visible ? account.profile_basic : nil
	hobby_profile = hobby_profile_visible ? account.profile_hobby : nil
%>

<%
	province_name = ""
	city_name = ""

	hometown_province_name = ""
	hometown_city_name = ""
	
	if basic_profile
		all_provinces_cities_cache = Province.get_all_provinces_cities
		
		province_name = Province.get_name(basic_profile.province_id, all_provinces_cities_cache) if basic_profile.province_id
		city_name = City.get_name(basic_profile.city_id, all_provinces_cities_cache) if basic_profile.city_id

		hometown_province_name = Province.get_name(basic_profile.hometown_province_id, all_provinces_cities_cache) if basic_profile.hometown_province_id
		hometown_city_name = City.get_name(basic_profile.hometown_city_id, all_provinces_cities_cache) if basic_profile.hometown_city_id
	end
%>




<%
	excerpts = build_excerpts(
		riddle_client,
		[
			h(account_nick),
			h(basic_profile && basic_profile.real_name),
			h(province_name),
			h(city_name),
			h(hometown_province_name),
			h(hometown_city_name),
			[
				h(basic_profile && basic_profile.qmd),
				h(hobby_profile && hobby_profile.intro),
				h(hobby_profile && hobby_profile.interest),
				h(hobby_profile && hobby_profile.music),
				h(hobby_profile && hobby_profile.movie),
				h(hobby_profile && hobby_profile.cartoon),
				h(hobby_profile && hobby_profile.game),
				h(hobby_profile && hobby_profile.sport),
				h(hobby_profile && hobby_profile.book),
				h(hobby_profile && hobby_profile.words),
				h(hobby_profile && hobby_profile.food),
				h(hobby_profile && hobby_profile.idol),
				h(hobby_profile && hobby_profile.car),
				h(hobby_profile && hobby_profile.place)
			].delete_if { |text| text.nil? || text == "" }.join(" ... ")
		],
		query,
		"account_core"
	)
%>


<div>
	<table border="0" cellspacing="5" cellpadding="0" class="main_part_w">
		<tr>
			<td valign="top" style="width: 75px">
				<div class="align_c">
					<div class="community_block">
						<a href="/spaces/show/<%= account_id %>">
							<img src="<%= face_img_src(account_pic_url) %>" border="0" /></a>
					</div>
				</div>
			</td>
			
			<td valign="top">
				<div>
					<a href="/spaces/show/<%= account_id %>" class="account_nick_link">
						<%= excerpts[0] %></a>
				</div>
				
				<div>
					<div>
						<%# seems sphinx excerpts will always return empty string instead of nil %>
						<% if excerpts[1] != "" %>
							真实姓名:
							<%= excerpts[1] %>
							&nbsp;&nbsp;&nbsp;
						<% end %>

						<% if excerpts[2] != "" || excerpts[3] != "" %>
							所在城市:
							<%= excerpts[2] %> &nbsp; <%= excerpts[3] %>
							&nbsp;&nbsp;&nbsp;
						<% end %>
						
						<% if excerpts[4] != "" || excerpts[5] != "" %>
							家乡:
							<%= excerpts[4] %> &nbsp; <%= excerpts[5] %>
						<% end %>
					</div>
					
					<div style="color: #6B6B6B">
						<%= excerpts[6] %>
					</div>
				</div>
				
				<% unless basic_profile_visible && hobby_profile_visible %>
					<div class="form_info_s">
						<i>(按照其资料可见性设置, 部分资料被隐藏 ... )</i>
					</div>
				<% end %>
				
				
				<% unless check_be_friend || edit %>
					<div class="align_r">
						<% form_tag "/friends", :method => :post do %>
							<input type="hidden" name="friend" value="<%= account_id %>" />
							<input type="submit" value="加为我的朋友" class="button" />
						<% end %>
					</div>
				<% end %>
				
				
				<div class="form_info_s search_result_info">
					<% if check_friend %>
						我在其朋友列表中
						
						|
					<% end %>
					
					<% if check_be_friend %>
						是我的朋友
						
						|
					<% end %>
					
					加入时间
					<%= format_datetime(account.created_at) %>
				</div>

			</td>
		</tr>
	</table>
</div>

