<% recruitment = result %>

<%
	excerpts = build_excerpts(
		riddle_client,
		[h(recruitment.title), sanitize_tinymce(extract_text(recruitment.content)), h(recruitment.location), recruitment.recruitment_tags.collect { |tag| h(tag.name) }.join(" - ")],
		query,
		"recruitment_core"
	)
%>

<%
	recruitment_title = excerpts[0]
	recruitment_content = excerpts[1]
	recruitment_location = excerpts[2]
	recruitment_tag_names = excerpts[3]
%>

<div class="recruitment_container">
	<div class="recruitment_title">
		<% if recruitment.recruitment_type && recruitment.recruitment_type > 0 %>
			[<a href="/recruitments/recruitment_type/<%= recruitment.recruitment_type %>" class="account_nick_link"><%= Recruitment.recruitment_type_label(recruitment.recruitment_type) %></a>]
		<% end %>
		<% if recruitment.location && recruitment.location != "" %>
			[<a href="/recruitments/location?name=<%= h(recruitment.location) %>" class="account_nick_link"><%= recruitment_location %></a>]
		<% end %>
		<a href="/recruitments/<%= recruitment.id %>" class="account_nick_link">
			<%= recruitment_title %></a>
	</div>
	
	<div class="align_r">
		<span class="form_info_s">
			发布时间:
		</span>
		<span class="recruitment_info_highlight">
			<b>
				<%= format_date(recruitment.publish_time) %>
			</b>
		</span>
	</div>
	
	<div class="recruitment_content">
		<%= recruitment_content %>
	</div>
	
	<div class="recruitment_tags">
		标签:
		<%= recruitment_tag_names %>
	</div>
</div>


