<% vote_topic = result %>

<%
	vote_topic_id = vote_topic.id
	vote_image = vote_topic.get_image_url

	VoteTopic.set_vote_topic_with_image_cache(vote_topic_id, vote_topic, vote_image)
%>

<%
	group = Group.get_group_with_image(vote_topic.group_id)[0] if (vote_topic.group_id && vote_topic.group_id > 0)
	
	can_view = if group
		is_member = GroupMember.is_group_member(group.id, session[:account_id])
		group_setting = group.get_setting
		
		need_join_to_view_vote = group_setting[:need_join_to_view_vote]
		!(need_join_to_view_vote && (!is_member))
	else
		true
	end
%>

<%
	option_titles = if can_view
		vote_options = vote_topic.options
	
		VoteOption.set_vote_topic_options_cache(vote_topic_id, vote_options)
	
		vote_options.collect { |vo| h(vo.title) }
	else
		[]
	end
%>


<%
	account = vote_topic.account
	account_id = account.id
	account_nick = h(account.get_nick)
	
	category_name = VoteCategory.get_category(vote_topic.category_id)
	
	excerpts = build_excerpts(
		riddle_client,
		[h(vote_topic.title), can_view ? h(vote_topic.desc) : "", category_name, account_nick] + option_titles,
		query,
		"vote_topic_core"
	)
%>


<div>
	<table border="0" cellspacing="5" cellpadding="0" class="main_part_w">
		<tr>
			<td valign="top" style="width: 60px">
				<div class="align_c community_block">
					<a href="/votes/<%= vote_topic_id %>">
						<img src="<%= face_img_src(vote_image) %>" border="0" /></a>
				</div>
			</td>
			
			<td valign="top">
				<div class="search_result_title">
					<a href="/votes/<%= vote_topic_id %>" class="account_nick_link">
						<%= excerpts[0] %></a>
						&nbsp;&nbsp;
						
						<span class="form_info_s" style="font-size: 12px;">
							[<a href="/votes/category/<%= vote_topic.category_id %>">
								<%= excerpts[2] %></a>]
						</span>
				</div>
				
				<div class="search_result_body">
					<div class="form_info_s">
						<%= excerpts[1] %>
					</div>
					<div>
						<table cellpadding="0" cellspacing="0">
							<% 4.upto(20) do |i| %>
								<% ot = excerpts[i] %>
								<% if ot && ot != "" %>
									<tr>
										<td>
											<td align="center" valign="middle">
									            <input type="<%= vote_topic.multiple ? "checkbox" : "radio" %>" disabled="disabled" />
									        </td>
										</td>

										<td>
											<%= ot %>
										</td>
									</tr>
								<% else %>
									<% break %>
								<% end %>
							<% end %>
						</table>
					</div>
				</div>
				
				<% unless can_view %>
					<div class="form_info_s">
						<i>(按照其所在圈子的设置, 只有圈子成员可以查看圈内投票的具体内容 ... )</i>
					</div>
				<% end %>
				
				<div class="form_info_s search_result_info">
					由
					<a href="/spaces/show/<%= vote_topic.account_id %>" class="account_nick_link">
						<%= excerpts[3] %></a>
					发起于
					<%= format_datetime(vote_topic.created_at) %>
					
					|
					
					<% if group %>
						圈内投票:
						<a href="/groups/<%= group.id %>">
							<%= h(group.name) %></a>
					<% else %>
						全局投票
					<% end %>
				</div>
			</td>
		</tr>
	</table>
</div>


