<table cellpadding="0" cellspacing="0" class="main_part_w">
	<tr>
		<td>
			<a href="/spaces/show/<%= operator[2] %>" class="account_nick_link">
				<%= h(operator[0]) %></a>
			做了测试
			<a href="/career_tests/show/<%= career_test_id %>"><%= career_test_name %></a>
		</td>
		
		<% unless save_space %>
			<td style="width: 50px">
				<a href="/spaces/show/<%= operator[2] %>">
					<img src="<%= face_img_src(operator[1]) %>" border="0" /></a>
			</td>
		<% end %>
	</tr>
</table>

