<table cellpadding="0" cellspacing="0" class="main_part_w">
	<tr>
		<td>
			<a href="/spaces/show/<%= operator[2] %>" class="account_nick_link">
				<%= h(operator[0]) %></a>
			<%= bookmark_class_name.downcase.include?("group") ? "收藏" : "推荐" %>
			了
			<a href="<%= h(bookmark_url) %>" target="_blank" title="<%= h(bookmark_desc) %>">
				<%= h(bookmark_title) %>
				<img src="/images/ext_link_small.gif" border="0" /></a>
		</td>
		
		<% unless save_space %>
			<td style="width: 50px">
				<a href="/spaces/show/<%= operator[2] %>">
					<img src="<%= face_img_src(operator[1]) %>" border="0" /></a>
			</td>
		<% end %>
	</tr>
</table>

