<table cellpadding="0" cellspacing="0" class="main_part_w">
	<tr>
		<td>
			<a href="/spaces/show/<%= operator[2] %>" class="account_nick_link">
				<%= h(operator[0]) %></a>
			回应了
			<a href="/group/posts/<%= group_post_id %>">
				圈子话题</a>
			<% if false %>
			说:
			&nbsp;
			<% 
				# since the access related setting of group,
				# do NOT show the complete content here ...
				comment_content = h(truncate(comment_content))
			%>
			<span>
				<img src="/images/left_quote.gif" border="0" />
					<%= comment_content %>
				<img src="/images/right_quote.gif" border="0" />
			</span>
			<% end %>
		</td>
		
		<% unless save_space %>
			<td style="width: 50px">
				<a href="/spaces/show/<%= operator[2] %>">
					<img src="<%= face_img_src(operator[1]) %>" border="0" /></a>
			</td>
		<% end %>
	</tr>
</table>

