<table cellpadding="0" cellspacing="0" class="main_part_w">
	<tr>
		<td>
			<a href="/spaces/show/<%= operator[2] %>" class="account_nick_link">
				<%= h(operator[0]) %></a>
			<%= creator_id == operator[2] ? "创建" : "加入" %>
			了圈子
			<a href="/groups/<%= group_id %>"><%= h(group_name) %></a>
		</td>
		
		<% unless save_space %>
			<td style="width: 50px">
				<a href="/groups/<%= group_id %>">
					<img src="<%= face_img_src(group_image) %>" border="0" /></a>
			</td>
		<% end %>
	</tr>
</table>

