<% account_nick = h(@account_nick_pic[0]) %>

<% page_title = "调整 #{account_nick} 的积分" %>
<% community_page_title(page_title) %>

<div class="float_r community_container_r">
	<div class="community_block align_c">
		<a href="/spaces/show/<%= @account_id %>">
			返回 <%= account_nick %> 的空间</a>
	</div>
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	
	<div class="community_block align_c">
		<a href="/spaces/show/<%= @account_id %>">
			<img src="<%= face_img_src(@account_nick_pic[1]) %>" border="0" /></a>
	</div>
	<div class="community_block align_c">
		<a href="/spaces/show/<%= @account_id %>" class="account_nick_link">
			<%= account_nick %></a>
	</div>
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	
	<div class="community_block align_c">
		<span class="activity_info_label">当前积分:</span>
		<% if false %>
		<img src="/images/spaces/points_icon.gif" border="0" />
		<% end %>
		<span class="point_number"><%= @points %></span>
		&nbsp;
		<% point_level = PointProfile.calculate_level(@points) %>
		<img src="/images/spaces/point_levels/<%= point_level %>.gif" width="16" title="<%= point_level %> 级" alt="<%= point_level %> 级" border="0" />
	</div>
</div>

<div class="community_container_l">
	<h2><%= page_title %></h2>
	
	
	
	<div class="community_block_narrow form_info_s">
		注意确定用户的唯一性编号(ID), 以免误操作 ...
	</div>
	<div class="community_block_narrow" style="color: #666666">
		用户的唯一性编号(ID)为:
		&nbsp;
		<span class="point_number"><%= @account_id %></span>
	</div>
	<br />
	
	
	<div class="community_block_narrow">
		<% form_tag "/spaces/update_point/#{@account_id}", :method => :post do %>
			<table cellpadding="0" cellspacing="10" border="0" class="main_part_w">
				<tr>
					<td style="width: 100px;">
						<label for="adjust_points">
							增加的积分(<span style="color: red;">*</span>):
						</label>
					</td>
					
					<td>
						<input type="text" name="points" id="adjust_points" class="text_field" size="30" />
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<span class="form_info_l">
							填写负数则扣除积分
						</span>
					</td>
				</tr>
				
				<tr>
					<td valign="top">
						<label for="adjust_reason">
							调整的理由(<span style="color: red;">*</span>):
						</label>
						
						<br />
						
						<span class="form_info_s">
							将作为系统消息发送给用户
						</span>
					</td>
					
					<td>
						<textarea name="reason" id="adjust_reason" class="text_field" rows="10" cols="30"></textarea>
					</td>
				</tr>
				
				<tr>
					<td></td>
					<td>
						<input type="submit" value="调整用户积分" class="button" />
						
						&nbsp;&nbsp;&nbsp;
						
						<a href="/spaces/show/<%= @account_id %>">
							返回 <%= account_nick %> 的空间</a>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
	
</div>
	
