<% owner_name = @edit ? "我" : h(@account_nick_pic[0]) %>

<% page_title = "#{h(@account_nick_pic[0])}" %>
<% community_page_title(page_title) %>

<div class="float_r community_container_r">
	<div class="community_block align_c">
		<% face_image_url = @account_nick_pic[1] || "" %>
		<% big_face_image_url = face_image_url.gsub("thumb_48", "thumb_200") if face_image_url.include?("thumb_48") %>
		
		<% if @edit %>
			<a href="/profiles/<%= @account_id %>/pic" title="更改头像">
				<img src="<%= face_img_src(big_face_image_url) %>" border="0" /></a>
			<div>
				<a href="/profiles/<%= @account_id %>/pic">
					更改头像</a>
			</div>
		<% else %>
			<img src="<%= face_img_src(big_face_image_url) %>" border="0" />
		<% end %>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	<% if @basic_profile %>
		<div class="community_block">
			<% if @basic_profile.real_name && @basic_profile.real_name != "" %>
				<span class="activity_info_label">真实姓名:</span>
				<%= h(@basic_profile.real_name) %>
				&nbsp;&nbsp;&nbsp;
			<% end %>
			
			<% unless @basic_profile.gender.nil? %>
				<span class="activity_info_label">性别:</span>
				<%= @basic_profile.gender ? "男" : "女" %>
				&nbsp;&nbsp;&nbsp;
			<% end %>
			
			<% if @province_name || @city_name %>
				<span class="activity_info_label">所在城市:</span>
				<%= @province_name %> &nbsp; <%= @city_name %>
			<% end %>
		</div>
		<div class="community_block">
			<% if @basic_profile.birthday %>
				<span class="activity_info_label">生日:</span>
				<%= format_date(@basic_profile.birthday) %>
				&nbsp;&nbsp;&nbsp;
				
				<span class="activity_info_label">星座:</span>
				<%= Astrology.find_by_date(@basic_profile.birthday.month, @basic_profile.birthday.mday).name %>
				&nbsp;&nbsp;&nbsp;
			<% end %>
			
			<% if @hometown_province_name || @hometown_city_name %>
				<span class="activity_info_label">家乡:</span>
				<%= @hometown_province_name %> &nbsp; <%= @hometown_city_name %>
			<% end %>
		</div>
	<% end %>
	<div class="community_block align_c">
		<a href="/group/posts/276" title="这是什么? 积分有什么用?" target="_blank">
			<img src="/images/spaces/question_mark_tiny.gif" border="0" style="margin-bottom: -3px;" alt="这是什么? 积分有什么用?" /></a>
		&nbsp;
			
		<span class="activity_info_label">积分:</span>
		<span style="font-size: 13px;"><%= @points %></span>
		<img src="/images/spaces/points_icon.gif" border="0" />
		
		<% if general_admin?(session[:account_id]) %>
			&nbsp;&nbsp;&nbsp;
			<a href="#" onclick="var f = document.getElementById('adjust_point_form'); if(f.style.display == 'none') { f.style.display = ''; } else { f.style.display = 'none'; }; return false;" title="增加/扣除这个用户的积分">
				(+/-)</a>
				
			<div id="adjust_point_form" class="community_block" style="border: dashed 1px #DDDDDD; display: none;">
				<% form_tag "/spaces/update_point/#{@account_id}", :method => :post do %>
					<table cellpadding="0" cellspacing="5" border="0" class="main_part_w" style="text-align: left;">
						<tr>
							<td>
								<label for="points_input">
									增加的积分:
								</label>
							</td>
							
							<td>
								<input type="text" name="points" id="adjust_points" class="text_field" size="10" />
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<span class="form_info_l">
									填写负数扣除积分
								</span>
							</td>
						</tr>
						
						<tr>
							<td>
								<label for="adjust_reason">
									调整的理由:
								</label>
								
								<br />
								
								<span class="form_info_s">
									将作为系统消息发送给用户
								</span>
							</td>
							
							<td>
								<textarea name="reason" id="adjust_reason" class="text_field" rows="5" cols="20"></textarea>
							</td>
						</tr>
						
						<tr>
							<td></td>
							<td>
								<input type="submit" value="调整用户积分" class="button" />
								
								&nbsp;&nbsp;&nbsp;
								
								<a href="#" onclick="document.getElementById('adjust_point_form').style.display = 'none'; return false;">
									不了先</a>
							</td>
						</tr>
					</table>
				<% end %>
			</div>
		<% end %>
	</div>
	
	<div class="community_block_narrow">
		<hr size="1" style="color: #EEEEEE" />
	</div>
	
	
	<div class="community_block align_c">
		<a href="/spaces/resume/<%= @account_id %>">查看简历</a>
		&nbsp;&nbsp;&nbsp;
		<a href="/spaces/profile/<%= @account_id %>">详细资料</a>
		&nbsp;&nbsp;&nbsp;
		<a href="#comment_new">留个言吧</a>
		<% unless @edit %>
			&nbsp;&nbsp;&nbsp;
			<a href="/messages/compose/<%= @account_id %>">发送消息</a>
		<% end %>
	</div>
	<% unless @edit %>
		<% if @relationship == "not_friend" || @relationship == "logout" %>
			<div class="community_block align_c">
				<% form_tag "/friends", :method => :post do %>
					<input type="hidden" name="friend" value="<%= @account_id %>" />
					<input type="submit" value="加为我的朋友" class="button" />
				<% end %>
			</div>
		<% end %>
		
		<% if @relationship == "friend" %>
			<div class="community_block align_c">
				<% form_tag "/friends/#{@account_id}", :method => :delete, :onsubmit => "if(!confirm('确定要将其从我的朋友中删除么 ?')){ return false; }" do %>
					<input type="submit" value="从我的朋友中删除" class="button" />
				<% end %>
			</div>
		<% end %>
	<% end %>
	
	
	<div class="community_title">
		<%= owner_name %> 的朋友 ...
	</div>
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="friend_section_expand" href="#" onclick="collapse_section('friend_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="friend_section_collapse" href="#" onclick="expand_section('friend_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<a href="/friends/list/<%= @account_id %>">所有朋友</a>
		</div>
		
		<div id="friend_section" class="overflow_hidden">
			<%= float_list(@friends, "/friends/account_nick_pic", :account_nick_pic, {:can_del => false}, 3) %>
		</div>
		<div class="clear_l"></div>
	</div>
	
	<div class="community_title">
		<%= owner_name %> 参加的圈子 ...
	</div>
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="group_section_expand" href="#" onclick="collapse_section('group_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="group_section_collapse" href="#" onclick="expand_section('group_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<a href="/groups/list/<%= @account_id %>">所有参加的圈子</a>
		</div>
		
		<div id="group_section" class="overflow_hidden">
			<%= float_list(@group_members, "/groups/group_name_img", :group_name_img, {:show_icon => true, :owner_name => owner_name}, 3) %>
		</div>
		<div class="clear_l"></div>
	</div>
	
	
	<div class="community_title">
		<%= owner_name %> 的推荐 ...
	</div>
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="bookmark_section_expand" href="#" onclick="collapse_section('bookmark_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="bookmark_section_collapse" href="#" onclick="expand_section('bookmark_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<a href="/bookmarks/list_personal/<%= @account_id %>">所有的推荐</a>
		</div>
		
		<div id="bookmark_section" class="community_block">
			<% cache("#{PersonalBookmark::FCKP_spaces_show_bookmark}_#{@account_id}") do %>
				<%
					bookmarks = PersonalBookmark.find(
						:all,
						:limit => SpacesController::Space_Bookmark_Num,
						:conditions => ["account_id = ?", @account_id],
						:order => "created_at DESC"
					)
				%>
				<%= render :partial => "/bookmarks/bookmark_small", :collection => bookmarks %>

				<% unless bookmarks.size > 0 %>
					<div class="form_info_l">
						还没有任何推荐 ...
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	
</div>

<div class="community_container_l">
	<h2><%= page_title %></h2>
	
	<div>
		<table cellpadding="0" cellspacing="0" class="main_part_w">
			<tr>
				<td style="width: 50px;" align="left" valign="top">
					<% if @edit %>
						<a href="/profiles/<%= @account_id %>/pic" title="更改头像">
							<img src="<%= face_img_src(face_image_url) %>" border="0" /></a>
					<% else %>
						<img src="<%= face_img_src(face_image_url) %>" border="0" />
					<% end %>
				</td>
				
				<td style="width: 60px;" align="center" valign="top">
					<img src="/images/spaces/chat_small_left.png" border="0" />
				</td>
				
				<td align="left" valign="top">
					<% if @basic_profile && @basic_profile.qmd && @basic_profile.qmd != "" %>
						<%= h(@basic_profile.qmd) %>
					<% else %>
						<span class="form_info_s">
							<%= owner_name %> 还没有签名档 ... 
						</span>
					<% end %>
					
					<% if @edit %>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="/profiles/<%= session[:account_id] %>/basic">编辑签名档</a>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="community_title">
		<%= @edit ? "我的朋友" : owner_name %> 最近的动态 ...
	</div>
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="action_section_expand" href="#" onclick="collapse_section('action_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="action_section_collapse" href="#" onclick="expand_section('action_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<a href="/spaces/<%= "friend_" if @edit %>actions/<%= @account_id %>">所有<%= "朋友的" if @edit %>动态</a>
		</div>
		
		<div id="action_section">
			<%= render(
				:partial => "account_action",
				:collection => @account_actions,
				:locals => {
					:owner_id => @edit ? nil : @account_id,
					:owner_nick => @edit ? nil : @account_nick_pic[0],
					:owner_pic_url => @edit ? nil : @account_nick_pic[1],
					
					:save_space => false
				}
			)%>
		</div>
	</div>
	
	<div class="community_title">
		<%= owner_name %> 的活动 ...
	</div>
	<div class="community_block">
		<a href="/activities/attend_stat/<%= @account_id %>">
			查看 <%= owner_name %> 出席/缺席活动的情况的统计
		</a>
	</div>
	<div>
		<table cellpadding="0" cellspacing="0" class="main_part_w">
			<tr>
				<td style="width: 50%" valign="top">
					<div class="community_block">
						<div class="space_section_title">
							<a class="float_r" title="收起" id="join_activity_section_expand" href="#" onclick="collapse_section('join_activity_section'); return false;">
								<img src="/images/expand.png" border="0" /></a>
							<a class="float_r" title="展开" id="join_activity_section_collapse" href="#" onclick="expand_section('join_activity_section'); return false;" style="display: none">
								<img src="/images/collapse.png" border="0" /></a>
							<span class="float_r">
								<a href="/activities/list_join/<%= @account_id %>">所有参加的活动</a>
								&nbsp;&nbsp;&nbsp;
							</span>
							
							<b>
								参加的活动
							</b>
						</div>
						
						<div id="join_activity_section">
							<% cache("#{ActivityMember::FCKP_spaces_show_activity_member}_#{@account_id}") do %>
								<%
									@activity_members = ActivityMember.agreed.find(
										:all,
										:limit => SpacesController::Space_Activity_Num,
										:conditions => ["account_id = ?", @account_id],
										:include => [:activity => [:image]],
										:order => "join_at DESC"
									)
								%>
								<%= render(:partial => "/activities/activity_small", :collection => @activity_members) %>
							
								<% unless @activity_members.size > 0 %>
									<div class="form_info_l">
										还没有参加过活动 ...
									</div>
								<% end %>
							<% end %>
						</div>
					</div>
				</td>
				
				<td style="width: 50%" valign="top">
					<div class="community_block">
						<div class="space_section_title">
							<a class="float_r" title="收起" id="interest_activity_section_expand" href="#" onclick="collapse_section('interest_activity_section'); return false;">
								<img src="/images/expand.png" border="0" /></a>
							<a class="float_r" title="展开" id="interest_activity_section_collapse" href="#" onclick="expand_section('interest_activity_section'); return false;" style="display: none">
								<img src="/images/collapse.png" border="0" /></a>
							<span class="float_r">
								<a href="/activities/list_interest/<%= @account_id %>">所有感兴趣的活动</a>
								&nbsp;
							</span>
							
							<b>
								感兴趣的活动
							</b>
						</div>
						
						<div id="interest_activity_section">
							<% cache("#{ActivityInterest::FCKP_spaces_show_activity_interest}_#{@account_id}") do %>
								<%
									@activity_interests = ActivityInterest.find(
										:all,
										:limit => SpacesController::Space_Activity_Num,
										:conditions => ["account_id = ?", @account_id],
										:include => [:activity => [:image]],
										:order => "created_at DESC"
									)
								%>
								<%= render(:partial => "/activities/activity_small", :collection => @activity_interests) %>
							
								<% unless @activity_interests.size > 0 %>
									<div class="form_info_l">
										还没有感兴趣的活动 ...
									</div>
								<% end %>
							<% end %>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	
	<div class="community_title">
		<%= owner_name %> 发起的投票 ...
	</div>
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="vote_section_expand" href="#" onclick="collapse_section('vote_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="vote_section_collapse" href="#" onclick="expand_section('vote_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<a href="/votes/list/<%= @account_id %>">所有发起的投票</a>
		</div>
	</div>
	<div id="vote_section" class="community_block">
		<% cache("#{VoteTopic::FCKP_spaces_show_vote_topic}_#{@account_id}") do %>
			<%
				@vote_topics = VoteTopic.find(
					:all,
					:limit => SpacesController::Space_Vote_Num,
					:conditions => ["account_id = ?", @account_id],
					:order => "created_at DESC"
				)
			%>
			<%= render :partial => "/votes/vote_topic_small", :collection => @vote_topics %>
		
			<% unless @vote_topics.size > 0 %>
				<div class="form_info_l">
					还没有发起过投票 ...
				</div>
			<% end %>
		<% end %>
	</div>
	
	
	<div class="community_title">
		<%= owner_name %> 的照片 ...
	</div>
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="photo_section_expand" href="#" onclick="collapse_section('photo_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="photo_section_collapse" href="#" onclick="expand_section('photo_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<a href="/albums/list/<%= @account_id %>">所有相册</a>
		</div>
	</div>
	<div id="photo_section" class="overflow_hidden">
		<% cache("#{Photo::FCKP_spaces_show_photo}_#{@account_id}") do %>
			<%
				@photos = Photo.find(
					:all,
					:limit => SpacesController::Space_Photo_Num,
					:conditions => ["account_id = ?", @account_id],
					:order => "created_at DESC"
				)
			%>
			<%= float_list(@photos, "photo", :photo, {:edit => @edit}, 5) %>
		
			<% unless @photos.size > 0 %>
				<div class="form_info_l">
					还没有上传过照片 ...
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="clear_l" />
	
	<div class="community_title">
		<%= owner_name %> 的博客 ...
	</div>
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="blog_section_expand" href="#" onclick="collapse_section('blog_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="blog_section_collapse" href="#" onclick="expand_section('blog_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<a href="/blogs/list/<%= @account_id %>">所有博客</a>
		</div>
		
		<div id="blog_section" class="community_block">
			<% cache("#{Blog::FCKP_spaces_show_blog}_#{@account_id}") do %>
				<%
					@blogs = Blog.find(
						:all,
						:limit => SpacesController::Space_Blog_Num,
						:conditions => ["account_id = ?", @account_id],
						:order => "created_at DESC"
					)
				%>
				<%= render(:partial => "blog", :collection => @blogs, :locals => {:edit => @edit}) %>
			
				<% unless @blogs.size > 0 %>
					<div class="form_info_l">
						还没有写过博客 ...
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	
	<div class="community_title">
		<%= owner_name %> 的留言板 ...
	</div>
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="wall_section_expand" href="#" onclick="collapse_section('wall_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="wall_section_collapse" href="#" onclick="expand_section('wall_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<a href="/spaces/wall/<%= @account_id %>">到留言板查看所有留言</a>
		</div>
		
		<div id="wall_section">
			<% cache("#{SpaceComment::FCKP_spaces_show_wall}_#{@account_id}") do %>
				<%
					@space_comments = SpaceComment.find(
						:all,
						:limit => SpacesController::Space_Comment_Num,
						:conditions => ["owner_id = ?", @account_id],
						:include => [:account => [:profile_pic]],
						:order => "created_at DESC"
				    )
				%>
				<%= render(:partial => "/common/comment", :collection => @space_comments, :locals => {:can_del => @edit}) %>
			<% end %>
			
			<div class="community_block_narrow">
				<span id="comment_new">添加留言 »</span>
				<% form_tag "/spaces/create_comment/#{@account_id}", :method => :post, :onsubmit => "if(document.getElementById('space_comment').value.replace(/(^\s*)|(\s*$)/g, '') == ''){ alert('请填写评论内容 ...'); return false; }" do %>
					<textarea id="space_comment" name="space_comment" class="text_field" cols="50" rows="5"></textarea>
					
					<div>
						<input type="submit" value="发表留言" class="button" />
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


<% if @edit %>
	<% form_tag "", :method => :post, :id => "delete_comment_form" do %>
	<% end %>
	
	<script language="JavaScript">
		function delete_comment(comment_id) {
			if(confirm("确定要删除留言么 ?")) {
				del_form = document.getElementById("delete_comment_form");
				del_form.action = "/spaces/delete_comment/" + comment_id;
				del_form.submit();
			}
		}
	</script>
<% end %>

<script language="JavaScript">
	function expand_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "";
		document.getElementById(expand_icon).style.display = "";
		document.getElementById(collapse_icon).style.display = "none";
	}
	
	function collapse_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "none";
		document.getElementById(expand_icon).style.display = "none";
		document.getElementById(collapse_icon).style.display = "";
	}
</script>
	
	