<% info_title = h(job_info.title) %>

<div class="community_block" style="border-bottom: 1px dashed #DADADA;" onmouseover="this.style.backgroundColor='#EAEAEA';" onmouseout="this.style.backgroundColor='#FFFFFF';">
	<div class="community_block">
		<% form_tag "/job_infos/#{job_info.id}", :method => :delete, :onsubmit => "if(confirm('确定要删除求职信息 #{info_title} 么 ?')) { return true; }; return false;" do %>
			<span class="float_r">
				<input type="submit" value="删除" class="button" />

				&nbsp;&nbsp;

				<a href="/job_infos/<%= job_info.id %>/edit">
					修改</a>

				&nbsp;

				<a href="#">
					显示</a>
			</span>

			<a href="#" style="font-size: 14px; font-weight: bold;">
				<%= info_title %></a>
			
			<% if job_info.general %>
				&nbsp;
				<span style="color: #666666">
					(通用信息)
				</span>
			<% end %>

		<% end %>
	</div>
	
	
	<% if false %>
	<%
		info_industries = info_data.industries
		info_companies = info_data.companies
	%>
	
	<% if info_industries.size > 0 %>
		<% form_tag "/industry/job_infos/#{info_data.id}/del_job_position_info_item", :method => :post, :id => "remove_industry_form" do %>
			<input type="hidden" name="item_id" id="remove_industry_id" />
		<% end %>
		
		<div class="community_block_narrow form_info_s">
			涉及的行业:
			<% info_industries.each do |industry| %>
				<% industry_name = h(industry.name) %>
				
				&nbsp;&nbsp;&nbsp;
				
				<a href="/industry/job_infos/<%= industry.id %>" target="_blank" title="<%= h(industry.desc) %>">
					<%= industry_name %></a>
				<span class="form_info_s">
					<a title="删除行业 <%= industry_name %>" href="#" onclick="remove_industry(<%= industry.id %>); return false;">
							<img src="/images/delete_small.gif" border="0" /></a>

					&nbsp;&nbsp;&nbsp;
					|
					
				</span>
			<% end %>
		</div>
	<% end %>
	
	<% if info_companies.size > 0 %>
		<% form_tag "/company/job_infos/#{info_data.id}/del_job_position_info_item", :method => :post, :id => "remove_company_form" do %>
			<input type="hidden" name="item_id" id="remove_company_id" />
		<% end %>
		
		<div class="community_block_narrow form_info_s">
			涉及的公司:
			<% info_companies.each do |company| %>
				<% company_name = h(company.name) %>
				
				&nbsp;&nbsp;&nbsp;
				
				<a href="/company/job_infos/<%= company.id %>" target="_blank" title="<%= h(company.desc) %>">
					<%= company_name %></a>
				<span class="form_info_s">
					<a title="删除公司 <%= company_name %>" href="#" onclick="remove_company(<%= company.id %>); return false;">
							<img src="/images/delete_small.gif" border="0" /></a>

					&nbsp;&nbsp;&nbsp;
					|
					
				</span>
			<% end %>
		</div>
	<% end %>
	<% end %>
	
</div>


