<div style="background: transparent url(/images/coach/bullet_icon_small.png) no-repeat scroll left center;padding-left: 10px;">
	<% location = recruitment_item.location %>
	<% show_location = (location && location != "") %>
	<% if show_location %>
		<% h_location = h(location) %>
		<a href="/recruitments/location?name=<%= h_location %>" target="_blank" style="font-size: 12px;">
			[<%= h_location %>]</a>
	<% end %>
	<% lr_title = h(recruitment_item.title) %>
	<a href="/recruitments/<%= recruitment_item.id %>" target="_blank" title="<%= lr_title %>">
		<%= truncate(lr_title, :length => (show_location ? 20 : 23)) %></a>
		
	<span style="color: #999999; font-size: 10px;">
		(<%= recruitment_item.publish_time.strftime("%y-%m-%d") %>)
	</span>
</div>


