<%
	post_names = [
		"overall", "resume_8_hrs", "career_path", "interview_2_days", "sales_training"
	]
%>


<script language="JavaScript" src="/lib/protopack/protoculous-effects-packer.js"></script>

<script language="JavaScript">

	var POSTS = [
		"overall", "resume_8_hrs", "career_path", "interview_2_days", "sales_training"
	];
	
	function get_big_post(post_name) {
		return $("big_post_" + post_name);
	}
	
	function get_small_post(post_name) {
		return $("small_post_" + post_name);
	}
	
	function get_selected_small_post(post_name) {
		return $("selected_small_post_" + post_name);
	}

	function hide_all_big_and_selected_posts(exclude) {
		for(var i = 0; i < POSTS.length; i++) {
			var post_name = POSTS[i];
			
			if(post_name != exclude) {
				var post = get_big_post(post_name);
				if(post.visible()) {
					post.hide();
			
					get_selected_small_post(post_name).hide();
					get_small_post(post_name).show();
				}
			}
		}
	}
	
	function select_post(post_name) {
		var shown_post = get_big_post(post_name);
		if(shown_post.visible()) {
			hide_all_big_and_selected_posts(post_name);
			return;
		}
		
		hide_all_big_and_selected_posts();
		
		shown_post.appear();
		
		get_small_post(post_name).hide();
		get_selected_small_post(post_name).show();
	}
	
	
	function get_current_shown_post_index() {
		for(var i = 0; i < POSTS.length; i++) {
			var post_name = POSTS[i];
			
			var post = get_big_post(post_name);
			if(post.visible()) {
				return i;
			}
		}
	}
	
	function get_next_post_index() {
		current_index = get_current_shown_post_index();
		
		if(current_index == null) {
			return 0;
		}
		
		if(current_index + 1 < POSTS.length) {
			return current_index + 1
		}
		
		// at the end ... jump to first
		return 0;
	}
	
	
	var ON_SMALL_POST = false;
	function set_on_small_post(on) {
		ON_SMALL_POST = on;
	}
	
	function select_next_post() {
		if(!ON_SMALL_POST) {
			select_post(POSTS[get_next_post_index()]);
		}
		
		setTimeout("select_next_post();", 1000 * 10);
	}
	
</script>


<div class="index_both_post_container">
	<div class="index_big_post_container">
		<%
			post_names.each do |post_name|
		%>
			<img src="/images/real_index/posts/<%= post_name %>.jpg" id="big_post_<%= post_name %>" border="0" style="display: none;" />
		<% end %>
	</div>

	<div class="index_small_post_container">
		<%			
			post_names.each do |post_name|
		%>
			<div class="index_small_post">
				<a href="#" onmouseover="select_post('<%= post_name %>'); set_on_small_post(true); return false;" onmouseout="set_on_small_post(false); return false;">
					<img src="/images/real_index/posts/<%= post_name %>_small_selected.png" id="selected_small_post_<%= post_name %>" border="0" style="display: none;" />
					<img src="/images/real_index/posts/<%= post_name %>_small.png" id="small_post_<%= post_name %>" border="0" /></a>
			</div>
		
		<% end %>
		
		<div style="clear: left;"></div>
	</div>
	
</div>

<div class="index_register_button">
	<a href="/coach/register_notice#register_way">
		<img src="/images/real_index/register.png" border="0" /></a>
</div>


<script language="JavaScript">

	select_next_post();
	
</script>


