<% page_title = "周三访谈录" %>
<% community_page_title(page_title) %>

<div class="float_r talk_container_r">
	
	<div class="community_block align_c">
		<a href="/talks">
			<img src="/images/talks/qiaobutang_talk_logo.png" border="0" /></a>
	</div>
	
	<% if talk_editor?(session[:account_id]) %>
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
		
		<div class="community_block">
			<a href="/talks/new">
				添加访谈录</a>
			
			&nbsp;
			|
			&nbsp;
			
			<a href="/talks/talker_index">
				管理受访人</a>
			
			&nbsp;
			|
			&nbsp;
			
			<a href="/talks/unpublished">
				尚未发布的访谈录</a>
		</div>
	<% end %>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block align_c" style="color: #888888;">
		和业内资深人士 500 强 HR
		<br />
		一起聊他们的求职历程 ...
		<br />
		每一个问题, 都没有简单的答案
		<br />
		每一个答案, 都没有空洞的说教
		<br />
		我们全部的努力, 只希望哪怕只有一段话
		<br />
		能为你拓展一个新的角度, 在那时
		<br />
		你会在心里, 对我们的访谈嘉宾说一声
		<br />
		
		<img border="0" src="/images/left_quote.gif" style="width: 10px; height: 8px;"/>
		听君一席话，胜读十年书
		<img border="0" src="/images/right_quote.gif" style="width: 10px; height: 12px;"/>
		
		<img src="/images/index/talk_icon.png" border="0" />
	</div>
	
	<div class="community_block align_r" style="color: #888888; margin-right: 50px;">
		<i>乔布堂.访谈录工作组</i>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block align_c">
		<% form_tag "/community/search", :method => :get do %>
			<input type="text" name="query" class="text_field" size="25" />
			<input type="hidden" name="scope" value="talk" />

			&nbsp;
			<input type="submit" value="搜索访谈录" class="button" />
		<% end %>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	
	<div class="community_title">
		最近评论 ...
	</div>

	<% cache(TalkComment::FCKP_talk_index_comments) do %>
		<%
			# NOTE: account is not consindered here,
			# which means account data updating would not expire the cache
		%>
		<%
			new_comments = TalkComment.find(
		      :all,
		      :limit => TalksController::New_Comment_Size,
		      :include => [:account => [:profile_pic]],
		      :order => "updated_at DESC"
		    )
		%>
		<div class="community_block">
			<%= render(:partial => "small_comment", :collection => new_comments) %>
		</div>
	<% end %>
	
</div>

<div class="talk_container_l">
	<a class="float_r" href="/talks/feed.atom">
		<img src="/images/feed_icon.gif" border="0" alt="订阅 周三访谈录" title="订阅 周三访谈录" /></a>
	
	<h2><%= page_title %></h2>
	
	
	<% cache("#{Talk::FCKP_talk_index_talks}_#{@page}") do %>
		<%
			talks = Talk.published.paginate(
		      :page => @page,
		      :per_page => TalksController::Talk_Page_Size,
		      :order => "publish_at DESC"
		    )
		%>
		<div class="community_block">
			<%= render(:partial => "talk", :collection => talks, :locals => {:page => @page, :highlight_latest => true}) %>
		</div>
		
		<div class="community_block">
			<%= paging_buttons(talks) %>
		</div>
	<% end %>
	
</div>

