<% page_title = "周三访谈录" %>
<% community_page_title(page_title) %>

<div class="float_r talk_container_r">
	
	<div class="community_block align_c">
		<img src="/images/talks/qiaobutang_talk_logo.png" border="0" />
	</div>
	
	<% if talk_editor?(session[:account_id]) %>
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
		
		<div class="community_block">
			<a href="/talks/new">
				添加访谈录</a>
			
			&nbsp;
			|
			&nbsp;
			
			<a href="/talks/talker_index">
				管理受访人</a>
			
			&nbsp;
			|
			&nbsp;
			
			<a href="/talks/unpublished">
				尚未发布的访谈录</a>
		</div>
	<% end %>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	
	<% if @new_comments.size > 0 %>
		<div class="community_title">
			最近评论 ...
		</div>
		
		<div class="community_block">
			<%= render(:partial => "small_comment", :collection => @new_comments) %>
		</div>
	<% end %>
	
</div>

<div class="talk_container_l">
	<a class="float_r" href="/talks/feed.atom">
		<img src="/images/feed_icon.gif" border="0" alt="订阅 周三访谈录" title="订阅 周三访谈录" /></a>
	
	<h2><%= page_title %></h2>
	
	
	<% if @latest_talk %>
		<div class="align_c" style="font-size: 16px;">
			<a href="/talks/<%= @latest_talk.id %>" class="account_nick_link">
				<strong><%= h(@latest_talk.title) %></strong></a>
		</div>
		<div class="align_r" style="padding-right: 20px;">
			<a href="/talks/<%= @latest_talk.id %>#comment_list">
				评论(<%= TalkComment.get_count(@latest_talk.id) %>)</a>
		</div>
		<div style="padding: 0px 15px; color: #555555; text-indent: 25px;">
			<%= simple_format(h(@latest_talk.get_info[:desc])) %>
		</div>
		<div class="align_r" style="padding-right: 20px;">
			<%= format_date(@latest_talk.publish_at) %> 发布
			
			&nbsp;&nbsp;&nbsp;
			|
			&nbsp;&nbsp;&nbsp;
			
			查看:
			<b>
				<%= ViewCounter.get_count(:talk, @latest_talk.id) %>
			</b>
			
			<% if talk_editor?(session[:account_id]) %>
				&nbsp;&nbsp;&nbsp;
				|
				&nbsp;&nbsp;&nbsp;
				
				<a href="/talks/<%= @latest_talk.id %>/manage">
					管理</a>
			<% end %>
		</div>
	
		<div class="community_title">
			更多 ...
		</div>
	<% end %>

	<div class="community_block">
		<%= render(:partial => "talk", :collection => @talks) %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@talks) %>
	</div>
</div>

