<% talk_title = h(@talk.get_title) %>

<% page_title = "管理访谈录 #{talk_title}" %>
<% community_page_title(page_title) %>

<div class="float_r talk_container_r">
	
	<div class="community_title">
		此次访谈录的访谈员
	</div>
	
	<div class="community_block align_r">
		<% form_tag "/talks/#{@talk.id}/add_reporter", :method => :post do %>
			<input type="text" name="reporter_name" class="text_field" />
			&nbsp;
			<input type="submit" value="添加访谈员" class="button" />
		<% end %>
	</div>
	
	<div class="community_block align_r">
		<% @reporters.each do |reporter| %>
			<% form_tag "/talks/#{@talk.id}/del_reporter", :method => :post, :onsubmit => "if(confirm('确定要删除此访谈员么 ?')) { return true; }; return false;" do %>
				<span style="font-size: 14px; font-weight: bold;">
					<%= h(reporter[1]) %>
				</span>
				
				<input type="hidden" name="reporter_id" value="<%= reporter[0] %>" />
				&nbsp;
				<input type="submit" value="删除此访谈员" class="button" />
			<% end %>
		<% end %>
	</div>
	
	
	<div class="community_title">
		此次访谈录的受访人
	</div>
	
	<div class="community_block align_r">
		<% form_tag "/talks/#{@talk.id}/add_talker", :method => :post do %>
			<select name="talker_id" id="talker_id" class="dropdown_list">
				<% Talker.get_all_talker_names.each do |talker| %>
					<option value="<%= talker[0] %>"><%= h(talker[1]) %></option>
				<% end %>
			</select>
			&nbsp;
			<input type="submit" value="增加此受访人" class="button" />
		<% end %>
	</div>
	
	<div class="community_block align_r">
		<% @talkers.each do |talker| %>
			<% form_tag "/talks/#{@talk.id}/del_talker", :method => :post, :onsubmit => "if(confirm('确定要移除此受访人么 ?')) { return true; }; return false;" do %>
				<span style="font-size: 14px; font-weight: bold;">
					<%= h(talker[1].get_name) %>
				</span>
				
				<input type="hidden" name="talk_talker_id" value="<%= talker[0] %>" />
				&nbsp;
				<input type="submit" value="移除此受访人" class="button" />
				&nbsp;
				<a href="/talks/<%= talker[1].id %>/talker_edit" target="_blank">
					修改信息</a>
			<% end %>
		<% end %>
	</div>
	
	<div class="community_block align_r">
		<a href="/talks/talker_index" target="_blank">
			管理现有的受访人</a>
			
		&nbsp;&nbsp;&nbsp;
		
		<a href="/talks/talker_new" target="_blank">
			添加新的受访人</a>
	</div>
	
</div>

<div class="talk_container_l">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block">
		
	</div>
</div>

