<% talk_title = @talk.get_title %>

<% page_title = "#{talk_title} - 周三访谈录" %>
<% community_page_title(page_title) %>

<div class="float_r talk_show_container_r">
	
	<div class="community_block align_c">
		<a href="/talks">
			<img src="/images/talks/qiaobutang_talk_logo.png" border="0" /></a>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block align_c">
		阅读访谈录需要
		<a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">
			Adobe Flash Player</a>
	</div>
	<div class="community_block align_c">
		<a href="http://www.adobe.com/go/getflashplayer" target="_blank">
			<img src="/images/get_flash_player.gif" border="0" alt="获取 Adobe Flash 播放器" /></a>
	</div>
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
		
	<div class="community_block">
		<div class="align_r">
			<a href="#" onclick="toggle_elements(['embed_section']); return false;">
				显示/隐藏 嵌入代码</a>
		</div>
		
		<div id="embed_section">
			<div style="padding-left: 30px;">
				<strong>Flash 地址:</strong>
			</div>
			<div class="align_r">
				<input type="text" value="http://www.qiaobutang.com/swf/TalkReader.swf?talk=<%= @talk.id %>" class="text_field" style="width: 200px; padding: 3px 6px;" onclick="this.select();" readonly="true" />
			</div>
			
			<div style="padding-left: 30px; margin-top: 5px;">
				<strong>HTML 代码:</strong>
			</div>
			<div class="align_r" id="embed_html_code">
				<input type="text" class="text_field" style="width: 200px; padding: 3px 6px;" onclick="this.select();" readonly="true" id="embed_html_code_value" />
			</div>
			<div id="custom_size_link" style="padding-left: 30px;">
				<a href="#" onclick="toggle_elements(['custom_size_link', 'set_size_links', 'embed_html_code', 'embed_size_section']); return false;">
					自定义大小</a>
			</div>
			<div id="embed_size_section" style="padding-left: 30px; display: none;">
				<div>
					宽度:
					&nbsp;
					<input type="text" class="text_field" size="5" id="embed_width" value="100%" />
					
					&nbsp;&nbsp;&nbsp;
					
					<input id="full_width_check" type="checkbox" onclick="var width_input = document.getElementById('embed_width'); if(this.checked){width_input.value='100%'; width_input.disabled=true;}else{width_input.disabled=false;}" />
					<label for="full_width_check">宽度撑满容器</label>
				</div>
				<div>
					高度:
					&nbsp;
					<input type="text" class="text_field" size="5" id="embed_height" value="500" />
				</div>
				<div id="set_size_links" style="padding-left: 40px; display: none;">
					<a href="#" onclick="toggle_elements(['custom_size_link', 'set_size_links', 'embed_html_code', 'embed_size_section']); set_embed_html(document.getElementById('embed_width').value, document.getElementById('embed_height').value); return false;">
						确定</a>
						
					&nbsp;&nbsp;
						
					<a href="#" onclick="toggle_elements(['custom_size_link', 'set_size_links', 'embed_html_code', 'embed_size_section']); return false;">
						取消</a>
						
					&nbsp;&nbsp;
						
					<a href="#" onclick="document.getElementById('embed_width').value = '100%', document.getElementById('embed_height').value = '500'; return false;">
						重置为默认值</a>
				</div>
			</div>
		</div>
	</div>
	<script language="JavaScript">
		function toggle_elements(element_ids) {
			for(var i=0; i<element_ids.length; i++) {
				var element_id = element_ids[i]
				var ele = document.getElementById(element_id);
				ele.style.display = (ele.style.display == 'none') ? '' : 'none';
			}
		}

		function set_embed_html(width, height) {
			var html = "";
			html += "<embed";
			html += " width=\"" + width + "\"";
			html += " height=\"" + height + "\"";
			html += " src=\"http://www.qiaobutang.com/swf/TalkReader.swf?talk=<%= @talk.id %>\"";
			html += " quality=\"high\"";
			html += " bgcolor=\"#b2b2b2\"";
			html += " align=\"middle\"";
			html += " allowFullScreen=\"true\"";
			html += " type=\"application/x-shockwave-flash\"";
			html += "></embed>";

			document.getElementById("embed_html_code_value").value = html;
		}
		
		set_embed_html("100%", "500");
	</script>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	
	<div class="community_block">
		<!--
		<div class="align_r">
			<a href="#" onclick="toggle_elements(['share_section']); return false;">
				显示/隐藏 分享&amp;推荐</a>
		</div>
		-->
		
		<div id="share_section" style="padding-left: 5px;">
			<table cellpadding="0" cellspacing="10" class="main_part_w">
				<tr>
					<td align="left">
						<a title="推荐到 豆瓣" class="account_nick_link" href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='http://www.douban.com/recommend/?url='+e(d.location.href)+'&title='+e(d.title)+'&sel='+e(s)+'&v=1',x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()">
							<img alt="推荐到 豆瓣" src="/images/talks/share/douban.png" border="0" />
							推荐到豆瓣</a>
					</td>
					
					<td align="left">
						<a title="分享到 校内" class="account_nick_link" href="javascript:void((function(s,d,e){var f='http://www.xiaonei.com/share/buttonshare.do?link=',u=d.location,l=d.title,p=[e(u),'&title=',e(l)].join('');function a(){if(!window.open([f,p].join(''),'xnshare',['toolbar=0,status=0,resizable=1,width=626,height=436,left=',(s.width-626)/2,',top=',(s.height-436)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else a();})(screen,document,encodeURIComponent));">
							<img src="/images/talks/share/xiaonei.png" alt="分享到 校内" border="0" />
							分享到校内</a>
					</td>
				</tr>
				
				
				<tr>
					<td align="left">
						<a target="_blank" title="分享到 Twitter" class="account_nick_link" href="http://twitter.com/home?status=<%= page_title %>   http://www.qiaobutang.com/talks/<%= @talk.id %>">
							<img src="/images/talks/share/twitter.png" alt="分享到 Twitter" border="0" />
							分享到Twitter</a>
					</td>
					
					<td align="left">
						<a title="分享到 饭否" class="account_nick_link" href="javascript:var d=document,w=window,f='http://fanfou.com/share',l=d.location,e=encodeURIComponent,p='?u='+e(l.href)+'?t='+e(d.title)+'?d='+e(w.getSelection?w.getSelection().toString():d.getSelection?d.getSelection():d.selection.createRange().text)+'?s=bl';if(!w.open(f+'r'+p,'sharer','toolbar=0,status=0,width=600,height=400')){l.href=f+'.new'+p;}void(0)">
							<img src="/images/talks/share/fanfou.gif" alt="分享到 饭否" border="0" />
							分享到饭否</a>
					</td>
				</tr>
				
				<tr>
					<td align="left">
						<a title="分享到 Google Reader" class="account_nick_link" href="javascript:var b=document.body;var GR________bookmarklet_domain='http://www.google.com';if(b&&!document.xmlVersion){void(z=document.createElement('script'));void(z.src='http://www.google.com/reader/ui/link-bookmarklet.js');void(b.appendChild(z));}else{}">
							<img alt="分享到 Google Reader" src="/images/talks/share/greader.png" border="0" style="margin-right: 2px;" />
							Google Reader</a>
					</td>
					
					<td align="left">
						<a title="分享到 FriendFeed" class="account_nick_link" href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('src','http://friendfeed.com/share/bookmarklet/javascript');document.body.appendChild(e)})())">
							<img alt="分享到 FriendFeed" src="/images/talks/share/friendfeed.png" border="0" style="margin-right: 2px;" />
							FriendFeed</a>
					</td>
				</tr>
				
				<tr>
					<td align="left">
						<a title="分享到 Facebook" class="account_nick_link" href="javascript:var d=document,f='http://www.facebook.com/share',l=d.location,e=encodeURIComponent,p='.php?src=bm&v=4&i=1235124721&u='+e(l.href)+'&t='+e(d.title);1;try{if (!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z) {a=function() {if (!window.open(f+'r'+p,'sharer','toolbar=0,status=0,resizable=1,width=626,height=436'))l.href=f+p};if (/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0)">
							<img alt="分享到 Facebook" src="/images/talks/share/facebook.png" border="0" />
							分享到Facebook</a>
					</td>
					
					<td align="left">
						<a title="分享到 海内" class="account_nick_link" href="javascript:void((function(s,d,e,t,v){var f='http://www.hainei.com/share.proxy?a=',u=d.location,l=d.title,p=['&src=bookmark&url=',e(u),'&title=',e(l),'&v=',v,'&i=',t].join('');function a(){if(!window.open([f,'bmlet',p].join(''),'hnsharer',['toolbar=0,status=0,resizable=1,width=626,height=436,left=',(s.width-626)/2,',top=',(s.height-436)/2].join('')))u.href=[f,'newurl',p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else a();})(screen,document,encodeURIComponent,1235120363,1));">
							<img src="/images/talks/share/hainei.png" alt="分享到 海内" border="0" />
							分享到海内</a>
					</td>
				</tr>
				
				<tr>
					<td align="left">
						<a title="收藏到 一起" class="account_nick_link" href="javascript:function init(){try{var script=document.createElement('SCRIPT');script.src='http://www.yiqi.com/icut/BaseBtn.php?comType=4&reqType=1';document.body.appendChild(script);}catch(err){}}init();">
							<img src="/images/talks/share/yiqi.png" alt="收藏到 一起" border="0" />
							收藏到一起</a>
					</td>
					
					<td align="left">
						<a title="收藏到 叽歪" class="account_nick_link" href="javascript:var d=document,w=window,f='http://jiwai.de/wo/share/',l=d.location,e=encodeURIComponent,p='?u='+e(l.href)+'&t='+e(d.title)+'&d='+e(w.getSelection?w.getSelection().toString():d.getSelection?d.getSelection():d.selection.createRange().text);a=function(){if(!w.open(f+'s'+p,'sharer','toolbar=0,status=0,resizable=0,width=540,height=310'))l.href=f+'w'+p};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}void(0)">
							<img src="/images/talks/share/jiwai.gif" alt="收藏到 叽歪" border="0" />
							收藏到叽歪</a>
					</td>
				</tr>
				
				<tr>
					<td align="left">
						<a title="分享到 做啥" class="account_nick_link" href="javascript:u=location.href;t=document.title;t=t.substr(0,76);c=''+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text);c=c.substr(0,180);var addr='http://zuosa.com/collect/Collect.aspx?t='+encodeURIComponent(t)+'&u='+encodeURIComponent(u);a=function(){if(!window.open(addr,'sharer','toolbar=0,status=0,resizable=0,width=540,height=310'))u=addr};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}void(0)">
							<img src="/images/talks/share/zuosa.png" alt="分享到 做啥" border="0" />
							分享到做啥</a>
					</td>
					
					<td align="left">
						<a title="推荐到 鲜果" class="account_nick_link" href="javascript:var u='http://www.xianguo.com/service/submitdigg/?link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title);a=function(){if(!window.open(u,'xianguo'))location.href=u};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}void(0)">
							<img src="/images/talks/share/xianguo.png" alt="推荐到 鲜果" border="0" />
							推荐到鲜果</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	
	<div style="padding-left: 15px;">
		
		<div class="community_title">
			最新访谈录 ...
		</div>
	
		<div>
			<% (Talk.get_talk_index_talks(1) || []).each do |talk| %>
				<div class="community_block">
					» <a href="/talks/<%= talk.id %>" title="<%= h(extract_text(talk.get_info[:desc])) %>" class="account_nick_link">
						<%= h(talk.get_title) %></a>
				</div>
			<% end %>
		</div>
		
	</div>
	
</div>

<div class="talk_show_container_l">
	<h2><%= page_title %></h2>
	

	<div class="community_block align_r">
		<span class="float_l">
			<% if @edit %>
				<a href="/talks/unpublished">
					尚未发布的访谈录列表</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/talks/<%= @talk.id %>/manage">
					管理这篇访谈录</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% end %>
			<a href="/talks" style="font-size: 13px;">
				返回 周三访谈录列表</a>
		</span>
		
		
		<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/talks/#{@talk.id}", :title => page_title} %>
	</div>
	
	
	<div>
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			id="TalkReaderObject" width="100%" height="500px"
			codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
		
			<param name="movie" value="/swf/TalkReader.swf?talk=<%= @talk.id %>" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#b2b2b2" />
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="allowFullScreen" value="true" />
			<param name="wmode" value="transparent" />
		
			<embed id="TalkReaderEmbed" src="/swf/TalkReader.swf?talk=<%= @talk.id %>"
				quality="high" bgcolor="#b2b2b2"
				width="100%" height="500" name="TalkReader" align="middle"
				play="true" loop="false"
				allowScriptAccess="sameDomain"
				allowFullScreen="true"
				wmode="transparent"
				type="application/x-shockwave-flash"
				pluginspage="http://www.adobe.com/go/getflashplayer">
			</embed>
		</object>
	</div>
	
	
	
	<div class="community_title">
		共有
		<b>
			<%= @talk_comments.total_entries %>
		</b>
		条<span id="comment_list">评论</span> ...
	</div>
	
	<% if @edit %>
		<% form_tag "", :method => :post, :id => "delete_comment_form" do %>
		<% end %>
		
		<script language="JavaScript">
			function delete_comment(comment_id) {
				if(confirm("确定要删除评论么 ?")) {
					del_form = document.getElementById("delete_comment_form");
					del_form.action = "/talks/" + comment_id + "/delete_comment";
					del_form.submit();
				}
			}
		</script>
	<% end %>
	
	<div class="community_block_narrow align_r">
		<a href="#comment_new">添加评论</a>
	</div>

	<div class="community_block">
		<%= render(:partial => "/common/comment", :collection => @talk_comments, :locals => {:can_del => @edit, :counter_shift => calculate_counter_shift(@talk_comments)}) %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@talk_comments) %>
	</div>
	
	<div class="community_block_narrow">
		<span id="comment_new">添加评论 »</span>
		<% form_tag "/talks/#{@talk.id}/create_comment", :method => :post, :onsubmit => "if(document.getElementById('talk_comment').value.replace(/(^\s*)|(\s*$)/g, '') == ''){ alert('请填写评论内容 ...'); return false; }" do %>
			<textarea id="talk_comment" name="talk_comment" class="text_field" cols="50" rows="5"></textarea>
			
			<div style="margin-top: 5px;">
				<input type="submit" value="发表评论" class="button" />
			</div>
		<% end %>
	</div>
	
</div>



<script language="JavaScript">
	// set focus to the reader
	if(!!(window.attachEvent && !window.opera)) {
		// IE
		document.getElementById("TalkReaderObject").focus();
	}
	else {
		document.getElementById("TalkReaderEmbed").focus();
	}
</script>

