<% talk_title = @talk.get_title %>

<% page_title = "#{talk_title} - 周三访谈录" %>
<% community_page_title(page_title) %>

<div class="float_r talk_show_container_r">
	
	<div class="community_block align_c">
		<img src="/images/talks/qiaobutang_talk_logo.png" border="0" />
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block align_c">
		<a href="/talks">
			返回 周三访谈录列表</a>
	</div>
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
		
	<div class="community_block">
		<div class="align_r">
			<a href="#" onclick="toggle_elements(['embed_section']); return false;">
				显示/隐藏 嵌入代码</a>
		</div>
		
		<div id="embed_section">
			<div style="padding-left: 30px;">
				<strong>Flash 地址:</strong>
			</div>
			<div class="align_r">
				<input type="text" value="http://www.qiaobutang.com/swf/TalkReader.swf?talk=<%= @talk.id %>" class="text_field" style="width: 200px; padding: 3px 6px;" onclick="this.select();" readonly="true" />
			</div>
			
			<div style="padding-left: 30px; margin-top: 5px;">
				<strong>HTML 代码:</strong>
			</div>
			<div class="align_r" id="embed_html_code">
				<input type="text" class="text_field" style="width: 200px; padding: 3px 6px;" onclick="this.select();" readonly="true" id="embed_html_code_value" />
			</div>
			<div id="custom_size_link" style="padding-left: 30px;">
				<a href="#" onclick="toggle_elements(['custom_size_link', 'set_size_links', 'embed_html_code', 'embed_size_section']); return false;">
					自定义大小</a>
			</div>
			<div id="embed_size_section" style="padding-left: 30px; display: none;">
				<div>
					宽度:
					&nbsp;
					<input type="text" class="text_field" size="5" id="embed_width" value="100%" />
					
					&nbsp;&nbsp;&nbsp;
					
					<input id="full_width_check" type="checkbox" onclick="var width_input = document.getElementById('embed_width'); if(this.checked){width_input.value='100%'; width_input.disabled=true;}else{width_input.disabled=false;}" />
					<label for="full_width_check">宽度撑满容器</label>
				</div>
				<div>
					高度:
					&nbsp;
					<input type="text" class="text_field" size="5" id="embed_height" value="500" />
				</div>
				<div id="set_size_links" style="padding-left: 40px; display: none;">
					<a href="#" onclick="toggle_elements(['custom_size_link', 'set_size_links', 'embed_html_code', 'embed_size_section']); set_embed_html(document.getElementById('embed_width').value, document.getElementById('embed_height').value); return false;">
						确定</a>
						
					&nbsp;&nbsp;
						
					<a href="#" onclick="toggle_elements(['custom_size_link', 'set_size_links', 'embed_html_code', 'embed_size_section']); return false;">
						取消</a>
						
					&nbsp;&nbsp;
						
					<a href="#" onclick="document.getElementById('embed_width').value = '100%', document.getElementById('embed_height').value = '500'; return false;">
						重置为默认值</a>
				</div>
			</div>
		</div>
	</div>
	<script language="JavaScript">
		function toggle_elements(element_ids) {
			for(var i=0; i<element_ids.length; i++) {
				var element_id = element_ids[i]
				var ele = document.getElementById(element_id);
				ele.style.display = (ele.style.display == 'none') ? '' : 'none';
			}
		}

		function set_embed_html(width, height) {
			var html = "";
			html += "<embed";
			html += " width=\"" + width + "\"";
			html += " height=\"" + height + "\"";
			html += " src=\"http://www.qiaobutang.com/swf/TalkReader.swf?talk=<%= @talk.id %>\"";
			html += " quality=\"high\"";
			html += " bgcolor=\"#b2b2b2\"";
			html += " align=\"middle\"";
			html += " allowFullScreen=\"true\"";
			html += " type=\"application/x-shockwave-flash\"";
			html += "></embed>";

			document.getElementById("embed_html_code_value").value = html;
		}
		
		set_embed_html("100%", "500");
	</script>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
</div>

<div class="talk_show_container_l">
	<h2><%= page_title %></h2>
	

	<div class="community_block">
		<span class="float_r">
			<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/talks/#{@talk.id}", :title => page_title} %>
		</span>
		
		
		<% if @edit %>
			<a href="/talks/unpublished">
				尚未发布的访谈录列表</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/talks/<%= @talk.id %>/manage">
				管理这篇访谈录</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<% end %>
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		查看:
		<b>
			<%= ViewCounter.get_count(:talk, @talk.id) %>
		</b>
	</div>
	
	<br />
	
	
	<div>
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			id="TalkReaderObject" width="100%" height="500px"
			codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
		
			<param name="movie" value="/swf/TalkReader.swf?talk=<%= @talk.id %>" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#b2b2b2" />
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="allowFullScreen" value="true" />
		
			<embed id="TalkReaderEmbed" src="/swf/TalkReader.swf?talk=<%= @talk.id %>"
				quality="high" bgcolor="#b2b2b2"
				width="100%" height="500" name="TalkReader" align="middle"
				play="true"
				loop="false"
				quality="high"
				allowScriptAccess="sameDomain"
				allowFullScreen="true"
				type="application/x-shockwave-flash"
				pluginspage="http://www.adobe.com/go/getflashplayer">
			</embed>
		</object>
	</div>
	
	
	
	<div class="community_title">
		共有
		<b>
			<%= @talk_comments.total_entries %>
		</b>
		条<span id="comment_list">评论</span> ...
	</div>
	
	<% if @edit %>
		<% form_tag "", :method => :post, :id => "delete_comment_form" do %>
		<% end %>
		
		<script language="JavaScript">
			function delete_comment(comment_id) {
				if(confirm("确定要删除评论么 ?")) {
					del_form = document.getElementById("delete_comment_form");
					del_form.action = "/talks/" + comment_id + "/delete_comment";
					del_form.submit();
				}
			}
		</script>
	<% end %>
	
	<div class="community_block_narrow align_r">
		<a href="#comment_new">添加评论</a>
	</div>

	<div class="community_block">
		<%= render(:partial => "/common/comment", :collection => @talk_comments, :locals => {:can_del => @edit, :counter_shift => calculate_counter_shift(@talk_comments)}) %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@talk_comments) %>
	</div>
	
	<div class="community_block_narrow">
		<span id="comment_new">添加评论 »</span>
		<% form_tag "/talks/#{@talk.id}/create_comment", :method => :post, :onsubmit => "if(document.getElementById('talk_comment').value.replace(/(^\s*)|(\s*$)/g, '') == ''){ alert('请填写评论内容 ...'); return false; }" do %>
			<textarea id="talk_comment" name="talk_comment" class="text_field" cols="50" rows="5"></textarea>
			
			<div style="margin-top: 5px;">
				<input type="submit" value="发表评论" class="button" />
			</div>
		<% end %>
	</div>
	
</div>



<script language="JavaScript">
	// set focus to the reader
	if(!!(window.attachEvent && !window.opera)) {
		// IE
		document.getElementById("TalkReaderObject").focus();
	}
	else {
		document.getElementById("TalkReaderEmbed").focus();
	}
</script>

