<% hide_top &&= true %>

<% comment_count = GroupPostComment.get_count(group_post.id) %>

<tr>
	<td valign="middle" style="border-bottom: dashed 1px #DDDDDD;">
		<% unless hide_top %>
			<% if group_post.top %>
				<b>
					[置顶]
				</b>
				&nbsp;
			<% end %>
		<% else %>
			<% group_name = h(Group.get_group_with_image(group_post.group_id)[0].name) %>
			<a href="/groups/<%= group_post.group_id %>" class="account_nick_link form_info_s">(<%= group_name %>)</a>
			<% if group_name.jsize > 12 %>
				<br />
				&nbsp;&nbsp;&nbsp;
			<% end %>
		<% end %>
		
		<% group_post_title = h(group_post.title) %>
		<a href="/group/posts/<%= group_post.id %>" title="<%= group_post_title %>" class="account_nick_link">
			<%= truncate(group_post_title) %>
			<% if group_post.good %>
				&nbsp;
				<img src="/images/groups/good_small.gif" border="0" alt="精华" title="精华" />
			<% end %>
			</a>
	</td>
	
	<td valign="middle" align="right">
		<a href="/group/posts/<%= group_post.id %>#comment_list" class="account_nick_link">
			<%= comment_count %></a>
	</td>
	
	<td valign="middle" align="right">
		<% account_nick = Account.get_nick_and_pic(group_post.account_id)[0] %>
		<a href="/spaces/show/<%= group_post.account_id %>" class="account_nick_link">
			<%= h(account_nick) %></a>
	</td>
	
	<td valign="middle" align="right" class="form_info_s" style="line-height: 1.2;">
		<div>
			<% if group_post.responded_by %>
				<%
					responded_account_id = group_post.responded_by
					responded_account_nick = Account.get_nick_and_pic(responded_account_id)[0]
				%>
				<a href="/spaces/show/<%= responded_account_id %>" class="account_nick_link form_info_s">
					<%= h(responded_account_nick) %></a>
			<% end %>
		</div>
		
		<div style="font-size: 9px;">
			<%= format_datetime(group_post.responded_at || group_post.created_at) %>
		</div>
	</td>
</tr>

