<% group_name = h(@group.name) %>

<% page_title = "邀请MSN/Gmail/Email联系人加入圈子 #{group_name}" %>
<% community_page_title(page_title) %>

<div class="float_r group_container_r">
	
	<div class="community_block align_c">
		<a href="/groups/<%= @group_id %>">
			<img src="<%= face_img_src(@group_image) %>" border="0" /></a>
			
	</div>

	<div class="community_block">
		<a href="/groups/<%= @group_id %>">返回圈子 <%= group_name %></a>
	</div>
	
</div>

<div class="group_container_l">
	<h2><%= page_title %></h2>
	
	<% if flash[:message] %>
	    <p class="info_msg"><%= flash[:message] %></p>
	<% end %>
	
	<%= render :partial => "/common/contact_form" %>
	
	<script language="JavaScript">
		function send_invitations(type) {
			var contact_form = $(type + "_contact_form");
			contact_form.action = "/groups/<%= @group_id %>/send_contact_invitations";
			contact_form.submit();
		}
		
		function import_contact(type) {
			var contact_form = $(type + "_contact_form");
			
			var params = contact_form.serialize();
			params = "from=group&" + params;
			
			toggle_all_forms(false);
			
			var indicator = $(type + "_indicator");
			indicator.show();
			
			var error_field = $(type + "_error");
			error_field.removeClassName("error_msg");
			error_field.update("");
			
			new Ajax.Request(
				"/community/import_contact",
				{
					asynchronous: true,
					evalScripts: true,
					onComplete: function(request) {
						var result = request.responseText;
						if(result && result != "") {
							if(result == "true") {
								window.location.href = "/groups/select_contact/<%= @group_id %>";
							}
							else {
								error_field
								error_field.addClassName("error_msg");
								error_field.update(result);
							}
						}
						
						indicator.hide();
						toggle_all_forms(true);
					},
					method: "post",
					parameters: params
				}
			);
		}
		
		function toggle_all_forms(enabled) {
			var all_forms = $$("form");
			for(var i=0; i<all_forms.length; i++) {
				$(all_forms[i])[enabled ? "enable" : "disable"]();
			}
		}
	</script>
	
</div>


<script language="JavaScript" src="/lib/protopack/prototype-packer.js"></script>


