<% owner_name = @edit ? "我" : h(@owner_nick_pic[0]) %>
<% ownership = @only_admin ? "管理" : "参加" %>

<% page_title = "#{owner_name} #{ownership}的圈子" %>
<% community_page_title(page_title) %>

<div class="float_r friend_container_r">
	<% if @edit %>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>">我的空间</a>
		</div>
	<% else %>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>">
				<img src="<%= face_img_src(@owner_nick_pic[1]) %>" border="0" /></a>
		</div>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>" class="account_nick_link">
				<%= owner_name %></a>
		</div>
	<% end %>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block">
		<a href="/groups/new">
			<img src="/images/groups/new_group_small.gif" border="0" style="margin-right: 5px;" />
			创建一个新的圈子</a>
	</div>
	
	<div class="community_block">
		<a href="/groups/all">
			<img src="/images/groups/all_group_small.png" border="0" />
			全部圈子</a>
	</div>
	
	<% if @edit %>
		<div class="community_block">
			<a href="/groups/recent/<%= @owner_id %>">
				<%= owner_name %> 的圈子近况
			</a>
		</div>
	<% end %>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
		
	<% if @only_admin %>
		<div class="community_block">
			<a href="/groups/list/<%= @owner_id %>">
				<%= owner_name %> 参加的圈子
			</a>
		</div>
	<% else %>
		<div class="community_block">
			<a href="/groups/list_admin/<%= @owner_id %>">
				<img src="/images/groups/admin_icon.png" border="0" />
				<%= owner_name %> 担任管理员的圈子
			</a>
		</div>
	<% end %>
	
	<div class="community_block">
		<a href="/groups/list_friend/<%= @owner_id %>">
			<%= owner_name %> 的朋友参加的圈子
		</a>
	</div>
	
</div>

<div class="friend_container_l">
	<h2><%= page_title %></h2>
	
	<div class="community_block_narrow form_info_s">
		共
		<%= ownership %>
		了
		<b><%= @group_members.total_entries %></b>
		个圈子
	</div>
	
	<div class="community_block overflow_hidden">
		<%= float_list(@group_members, "group_name_img", :group_name_img, {:show_icon => true, :owner_name => owner_name}, 7) %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@group_members) %>
	</div>
	
</div>

