<% group_name = h(@group.name) %>

<% page_title = "圈子 #{group_name} 的照片" %>
<% community_page_title(page_title) %>

<div class="float_r">
	<a href="/groups/<%= @group_id %>">
		<img src="<%= face_img_src(@group_image) %>" border="0" /></a>
</div>
	
<div class="album_container">
	<h2><%= page_title %></h2>
	
	<div class="community_block_narrow form_info_s">
		共有
		<b><%= @group_photos.total_entries %></b>
		张圈子照片,
		<a href="/groups/<%= @group_id %>">
			返回圈子 <%= group_name %></a>
	</div>
	
	<div class="community_block">
		<%= thin_hr %>
	</div>
	
	<div class="overflow_hidden ">
		<%= float_list(@group_photos, "/linked_photos/linked_photo", :linked_photo, {}, 6) %>
	</div>
	
	<div class="community_block clear_l">
		<%= paging_buttons(@group_photos) %>
	</div>

</div>



<link rel="stylesheet" href="/lib/lightbox/css/lightbox.css" type="text/css" media="screen"></link>

<script language="JavaScript" src="/lib/protopack/protoculous-packer.js"></script>
<script language="JavaScript" src="/lib/lightbox/js/lightbox.js"></script>


