<% group_name = h(@group.name) %>

<% page_title = "圈子 #{group_name} 的照片" %>
<% community_page_title(page_title) %>

<div class="float_r">
	<a href="/groups/<%= @group_id %>">
		<img src="<%= face_img_src(@group_image) %>" border="0" /></a>
</div>
	
<div class="album_container">
	<h2><%= page_title %></h2>
	
	<div class="community_block_narrow form_info_s">
		共有
		<b><%= @group_photos.total_entries %></b>
		张圈子照片,
		<a href="/groups/<%= @group_id %>">
			返回圈子 <%= group_name %></a>
	</div>
	
	<div class="community_block">
		<%= thin_hr %>
	</div>
	
	<div class="overflow_hidden">
		<%= float_list(@group_photos, "/linked_photos/linked_photo", :linked_photo, {:is_admin => @is_admin}, 6) %>
	</div>
	
	<div class="community_block clear_l">
		<%= paging_buttons(@group_photos) %>
	</div>

</div>



<link rel="stylesheet" href="/lib/lightbox/css/lightbox.css" type="text/css" media="screen"></link>

<script language="JavaScript" src="/lib/protopack/protoculous-packer.js"></script>
<script language="JavaScript" src="/lib/lightbox/js/lightbox.js"></script>


<script language="JavaScript">
	function delete_linked_photo(linked_photo_id){
		if(confirm('确定要删除么 ?')){
			var indicator_id = "deleting_indicator_" + linked_photo_id;
			var link_id = "delete_linked_photo_link_" + linked_photo_id;
			Element.show(indicator_id);
			Element.hide(link_id);
	
			new Ajax.Request(
	            "/group/linked_photos/destroy_link/" + linked_photo_id,
	            {
	            	asynchronous:true,
	                evalScripts:true,
	                onComplete:function(request){
						Element.show(link_id);
						Element.hide(indicator_id);
					},
	                //onLoading:function(request){},
					method:"post",
	                parameters:"authenticity_token=" + encodeURIComponent("<%= form_authenticity_token %>")
	            }
	        );
		}
	}
</script>


