<% owner_name = @edit ? "我" : h(@owner_nick_pic[0]) %>

<% page_title = "#{owner_name} 的圈子近况" %>
<% community_page_title(page_title) %>

<div class="float_r group_container_r">
	<% if @edit %>
		<div class="community_block">
			<a href="/spaces/show_edit/<%= @owner_id %>">我的空间</a>
		</div>
	<% else %>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>">
				<img src="<%= face_img_src(@owner_nick_pic[1]) %>" border="0" /></a>
		</div>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>" class="account_nick_link">
				<%= owner_name %></a>
		</div>
	<% end %>
	
	<% if @edit %>
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
		
		<div class="community_block">
			<a href="/groups/new">
				<img src="/images/groups/new_group_small.gif" border="0" />
				创建一个新的圈子</a>
		</div>
		
		<div class="community_block">
			<a href="/activities/activity_groups/<%= session[:account_id] %>">
				<img src="/images/activities/new_activity_in_group_small.gif" border="0" />
				在圈子内发起活动</a>
		</div>
	<% end %>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block">
		<a href="/groups/<%= @edit ? "list_friend_edit" : "list_friend" %>/<%= @owner_id %>">
			<%= owner_name %> 的朋友的圈子近况
		</a>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block">
		<% form_tag "/community/search", :method => :get do %>
			<input type="text" name="query" class="text_field" style="width: 50%" />
			<input type="hidden" name="scope" value="group_post" />

			&nbsp;
			<input type="submit" value="搜索全部圈子话题" class="button" />
		<% end %>
	</div>
	
	<div class="community_title">
		参加的圈子 ...
	</div>
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="group_section_expand" href="#" onclick="collapse_section('group_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="group_section_collapse" href="#" onclick="expand_section('group_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<span class="float_r">
				<a href="/groups/<%= @edit ? "list_admin_edit" : "list_admin" %>/<%= @owner_id %>">所有管理的圈子</a>
				&nbsp;&nbsp;&nbsp;
			</span>
			
			<a href="/groups/<%= @edit ? "list_edit" : "list" %>/<%= @owner_id %>">所有参加的圈子</a>
		</div>
	</div>
		
	<div id="group_section">
		<%= float_list(@group_members, "group_name_img", :group_name_img, {:show_icon => true, :owner_name => owner_name}, 3) %>
	</div>

</div>

<div class="group_container_l">
	<h2><%= page_title %></h2>
	
	<a href="/groups/all" style="font-size: 14px; padding-right: 20px;" class="account_nick_link float_r">
		<img src="/images/groups/all_group_small.png" border="0" />
		查看全部的圈子</a>
	
	<div class="community_title">
		最近讨论话题 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="post_section_expand" href="#" onclick="collapse_section('post_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="post_section_collapse" href="#" onclick="expand_section('post_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<span class="float_r">
				<a href="/groups/created_post/<%= @owner_id %>">发起的话题</a>
				&nbsp;&nbsp;&nbsp;
				<a href="/groups/commented_post/<%= @owner_id %>">评论的话题</a>
				&nbsp;&nbsp;&nbsp;
			</span>
			
			<img class="float_l" src="/images/groups/post_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<a href="/groups/all_post/<%= @owner_id %>">参加的圈子的全部话题</a>
		</div>
		
		<div id="post_section" class="community_block">
			<table cellpadding="0" cellspacing="5" class="main_part_w">
				<thead>
					<tr>
						<td width="51%">话题</td>
						<td width="6%" align="right">评论</td>
						<td width="18%" align="right">发起人</td>
						<td width="25%" align="right">最后参与</td>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => "group_post", :collection => @group_posts, :locals => {:hide_top => true} %>
				</tbody>
			</table>
			<% unless @group_posts.size > 0 %>
				<div class="form_info_l">
					还没有讨论话题 ...
				</div>
			<% end %>
		</div>
	</div>
	
	
	<div class="community_title">
		最近圈子活动 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="activity_section_expand" href="#" onclick="collapse_section('activity_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="activity_section_collapse" href="#" onclick="expand_section('activity_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<img class="float_l" src="/images/activities/calendar_small.gif" border="0" width="20" height="20" />
			&nbsp;&nbsp;&nbsp;
			<a href="/groups/all_activity/<%= @owner_id %>">参加的圈子的全部圈子活动</a>
		</div>
	</div>
	<div id="activity_section">
		<%= float_list(@group_activities, "activity_small", :activity_small, {}, 2) %>
		
		<% unless @group_activities.size > 0 %>
			<div class="form_info_l">
				还没有圈子活动 ...
			</div>
		<% end %>
	</div>
	<div class="clear_l">
	</div>
	
	
	<div class="community_title">
		最新圈子投票 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="vote_section_expand" href="#" onclick="collapse_section('vote_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="vote_section_collapse" href="#" onclick="expand_section('vote_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<img class="float_l" src="/images/groups/vote_small.gif" border="0" />
			&nbsp;&nbsp;&nbsp;
			<a href="/groups/all_vote/<%= @owner_id %>">参加的圈子的全部圈子投票</a>
		</div>
		
		<div id="vote_section" class="community_block">
			<%= render :partial => "vote_topic_small", :collection => @group_vote_topics %>
			
			<% unless @group_vote_topics.size > 0 %>
				<div class="form_info_l">
					还没有圈内投票 ...
				</div>
			<% end %>
		</div>
	</div>
	
	
	<div class="community_title">
		最新圈子照片 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="photo_section_expand" href="#" onclick="collapse_section('photo_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="photo_section_collapse" href="#" onclick="expand_section('photo_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<img class="float_l" src="/images/activities/photo_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<a href="/groups/all_photo/<%= @owner_id %>">参加的圈子的全部圈子照片</a>
		</div>
		
		<div id="photo_section" class="community_block">
			<%= float_list(@group_photos, "/linked_photos/linked_photo_small", :linked_photo_small, {}, 5) %>
			
			<% unless @group_photos.size > 0 %>
				<div class="form_info_l">
					还没有圈子照片 ...
				</div>
			<% end %>
		</div>
	</div>
	<div class="clear_l">
	</div>
	
</div>



<script language="JavaScript">
	function expand_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "";
		document.getElementById(expand_icon).style.display = "";
		document.getElementById(collapse_icon).style.display = "none";
	}
	
	function collapse_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "none";
		document.getElementById(expand_icon).style.display = "none";
		document.getElementById(collapse_icon).style.display = "";
	}
</script>

