<% page_title = h(@group.name) %>
<% community_page_title(page_title) %>

<% can_admin = @relationship == "master" || @relationship == "admin" %>
<% no_membership = @relationship == "not_member" || @relationship == "logout" %>

<div class="float_r group_container_r">
	<div class="community_block align_c">
		<% face_image_url = @group_image || "" %>
		<% face_image_url = face_image_url.gsub("thumb_48", "thumb_200") if face_image_url.include?("thumb_48") %>
		<% if can_admin %>
			<a href="/groups/<%= @group_id %>/edit_image">
				<img src="<%= face_img_src(face_image_url) %>" border="0" /></a>
		<% else %>
			<img src="<%= face_img_src(face_image_url) %>" border="0" />
		<% end %>
	</div>
	
	
	
	<% if can_admin %>
		<div class="community_block">
			<a href="/groups/<%= @group_id %>/edit">修改圈子的设置</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/groups/<%= @group_id %>/edit_image">设置圈子的图标</a>
		</div>
		<div class="community_block">
			<a href="/groups/unapproved/<%= @group_id %>">处理加入圈子的申请</a>
		</div>
		<% if @relationship == "master" %>
			<div class="community_block">
				<a href="/groups/members_master/<%= @group_id %>">
					<img src="/images/groups/admin_icon.png" border="0" />
					设置圈子的管理员</a>
			</div>
		<% end %>
		
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
	<% end %>
	
	<div class="community_block">
		<% if can_admin %>
			<a href="/groups/members_edit/<%= @group_id %>">
				<img src="/images/groups/members_small.gif" border="0" />
				管理圈子成员</a>
		<% else %>
			<a href="/groups/members/<%= @group_id %>">
				<img src="/images/groups/members_small.gif" border="0" />
				浏览所有成员</a>
		<% end %>
	</div>
	
	<% unless no_membership %>
		<div class="community_block">
			<a href="/groups/invite/<%= @group_id %>">
				<img src="/images/groups/qiao_small.png" border="0" />
				邀请乔布圈内的朋友加入圈子</a>
		</div>
	
		<!--
		<div class="community_block">
			<a href="/groups/invite/<%= @group_id %>">
				<img src="/images/groups/invite_contact_small.png" border="0" />
				邀请MSN/Gmail/Email联系人加入圈子</a>
		</div>
		-->
	<% end %>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<% if no_membership %>
		<div class="community_block align_c">
			<% form_tag "/groups/#{@group_id}/join", :method => :post do %>
				<input type="submit" value="加入这个圈子" class="button" />
			<% end %>
		</div>
	<% else %>
		<div class="community_block">
			<a href="/group/posts/compose/<%= @group_id %>">
				<img src="/images/groups/add_post_small.png" border="0" />
				发起新的讨论话题</a>
		</div>
		
		<% form_tag "/activities/new_in_groups", :method => :post, :id => "new_group_activity_form" do %>
			<input type="hidden" name="in_group_id[]" value="<%= @group_id %>" />
		<% end %>
		<% form_tag "/votes/new_in_group", :method => :post, :id => "new_group_vote_topic_form" do %>
			<input type="hidden" name="group_id" value="<%= @group_id %>" />
		<% end %>
		<% form_tag "/bookmarks/new_group_bookmark", :method => :post, :id => "new_group_bookmark_form" do %>
			<input type="hidden" name="group_id" value="<%= @group_id %>" />
		<% end %>
		<div class="community_block">
			<a href="#" onclick="document.getElementById('new_group_activity_form').submit(); return false;">
				<img src="/images/activities/new_activity_in_group_small.gif" border="0" />
				发起新的圈内活动</a>
		</div>
		
		<div class="community_block">
			<a href="#" onclick="document.getElementById('new_group_vote_topic_form').submit(); return false;">
				<img src="/images/votes/new_vote_topic_small.gif" border="0" />
				发起新的圈内投票</a>
		</div>
		
		<div class="community_block">
			<a href="/group/linked_photos/select/<%= @group_id %>">
				<img src="/images/activities/new_photo_small.gif" border="0" />
				添加新的圈子照片</a>
		</div>
		
		<div class="community_block">
			<a href="#" onclick="document.getElementById('new_group_bookmark_form').submit(); return false;">
				<img src="/images/bookmarks/new_bookmark_small.gif" border="0" />
				添加新的圈内收藏</a>
		</div>
	<% end %>
	
	<% if @relationship == "member" || @relationship == "admin" %>
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
	
		<div class="community_block align_c">
			<% form_tag "/groups/#{@group_id}/quit", :method => :post, :onsubmit => "if(!confirm('确定要退出这个圈子么 ?')){ return false; }" do %>
				<input type="submit" value="退出这个圈子" class="button" />
			<% end %>
		</div>
	<% end %>
	
	
	
	<div class="community_title">
		新加入成员 ...
	</div>
	
	<div>
		<%= float_list(@new_members, "new_member", :new_member, {}, 3) %>
	</div>
	
	
	<!--
	<div class="community_title clear_l">
		订阅圈子讨论 ...
	</div>
	
	<div class="community_block">

	</div>
	-->
	
</div>

<div class="group_container_l">
	<div class="float_r">
		<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/groups/#{@group_id}", :title => "圈子: #{page_title}"} %>
	</div>
	
	<h2><%= page_title %></h2>
	
	<div class="community_block_narrow form_info_s">
		<%= h(@group.desc) %>
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="notice_section_expand" href="#" onclick="collapse_section('notice_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="notice_section_collapse" href="#" onclick="expand_section('notice_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<span class="float_r">
				圈子创建于 <%= format_date(@group.created_at) %>
				&nbsp;&nbsp;&nbsp;
			</span>
			
			<img class="float_l" src="/images/groups/notice_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<b>
				圈子公告
			</b>
		</div>
		
		<div id="notice_section" class="community_block_narrow">
			<%= simple_format(h(@group_setting[:notice])) %>
		</div>
	</div>
	
	
	<div class="community_title">
		最近圈内讨论 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="post_section_expand" href="#" onclick="collapse_section('post_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="post_section_collapse" href="#" onclick="expand_section('post_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<% unless no_membership %>
				<span class="float_r">
					<a href="/group/posts/compose/<%= @group_id %>">发起新的讨论话题</a>
					&nbsp;&nbsp;&nbsp;
				</span>
			<% end %>
			
			<img class="float_l" src="/images/groups/post_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<a href="/groups/post/<%= @group_id %>">全部圈内讨论</a>
		</div>
		
		<div id="post_section" class="community_block">
			<table cellpadding="0" cellspacing="5" class="main_part_w">
				<thead>
					<tr>
						<td width="51%">话题</td>
						<td width="6%" align="right">评论</td>
						<td width="18%" align="right">发起人</td>
						<td width="25%" align="right">最后参与</td>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => "group_post", :collection => @top_group_posts %>
					<%= render :partial => "group_post", :collection => @group_posts %>
				</tbody>
			</table>
			<% unless @top_group_posts.size + @group_posts.size > 0 %>
				<div class="form_info_l">
					还没有讨论话题 ...
				</div>
			<% end %>
		</div>
	</div>
	
	
	<div class="community_title">
		最近圈内活动 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="activity_section_expand" href="#" onclick="collapse_section('activity_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="activity_section_collapse" href="#" onclick="expand_section('activity_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<% unless no_membership %>
				<span class="float_r">
					<a href="#" onclick="document.getElementById('new_group_activity_form').submit(); return false;">
						发起新的圈内活动</a>
					&nbsp;&nbsp;&nbsp;
				</span>
			<% end %>
			
			<img class="float_l" src="/images/activities/calendar_small.gif" border="0" width="20" height="20" />
			&nbsp;&nbsp;&nbsp;
			<a href="/groups/activity/<%= @group_id %>">全部圈内活动</a>
		</div>
	</div>
	<div id="activity_section">
		<%= float_list(@group_activities, "activity_small", :activity_small, {}, 2) %>
		<% unless @group_activities.size > 0 %>
			<div class="form_info_l">
				还没有圈内活动 ...
			</div>
		<% end %>
	</div>
	<div class="community_block clear_l">
	</div>
	
	
	<div class="community_title">
		最新圈内投票 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="vote_section_expand" href="#" onclick="collapse_section('vote_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="vote_section_collapse" href="#" onclick="expand_section('vote_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<% unless no_membership %>
				<span class="float_r">
					<a href="#" onclick="document.getElementById('new_group_vote_topic_form').submit(); return false;">
						发起新的圈内投票</a>
					&nbsp;&nbsp;&nbsp;
				</span>
			<% end %>
			
			<img class="float_l" src="/images/groups/vote_small.gif" border="0" />
			&nbsp;&nbsp;&nbsp;
			<a href="/groups/vote/<%= @group_id %>">全部圈内投票</a>
		</div>
		
		<div id="vote_section" class="community_block">
			<%= render :partial => "vote_topic_small", :collection => @group_vote_topics %>
			
			<% unless @group_vote_topics.size > 0 %>
				<div class="form_info_l">
					还没有圈内投票 ...
				</div>
			<% end %>
		</div>
	</div>
	
	
	<div class="community_title">
		最新圈内收藏 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="bookmark_section_expand" href="#" onclick="collapse_section('bookmark_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="bookmark_section_collapse" href="#" onclick="expand_section('bookmark_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<% unless no_membership %>
				<span class="float_r">
					<a href="#" onclick="document.getElementById('new_group_bookmark_form').submit(); return false;">
						添加新的圈内收藏</a>
					&nbsp;&nbsp;&nbsp;
				</span>
			<% end %>
			
			<img class="float_l" src="/images/index/bookmark_icon.gif" border="0" />
			&nbsp;&nbsp;&nbsp;
			<a href="/groups/bookmark/<%= @group_id %>">全部圈内收藏</a>
		</div>
		
		<div id="bookmark_section" class="community_block">
			<% cache("#{GroupBookmark::FCKP_groups_show_bookmark}_#{@group_id}") do %>
				<%
					bookmarks = GroupBookmark.find(
						:all,
						:limit => GroupsController::Group_Bookmark_Num,
						:conditions => ["group_id = ?", @group_id],
						:order => "created_at DESC"
					)
				%>
				<%= render :partial => "/bookmarks/bookmark_small", :collection => bookmarks %>

				<% unless bookmarks.size > 0 %>
					<div class="form_info_l">
						还没有圈内收藏 ...
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="community_block clear_l">
	</div>
	
	
	<div class="community_title">
		最新圈子照片 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="photo_section_expand" href="#" onclick="collapse_section('photo_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="photo_section_collapse" href="#" onclick="expand_section('photo_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<% unless no_membership %>
				<span class="float_r">
					<a href="/group/linked_photos/select/<%= @group_id %>">
						添加新的圈子照片</a>
					&nbsp;&nbsp;&nbsp;
				</span>
			<% end %>
			
			<img class="float_l" src="/images/activities/photo_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<a href="/groups/photo/<%= @group_id %>">全部圈子照片</a>
		</div>
		
		<div id="photo_section">
			<%= float_list(@group_photos, "/linked_photos/linked_photo_small", :linked_photo_small, {}, 5) %>
			<% unless @group_photos.size > 0 %>
				<div class="form_info_l">
					还没有圈子照片 ...
				</div>
			<% end %>
		</div>
	</div>
	<div class="community_block clear_l">
	</div>
	
</div>



<script language="JavaScript">
	function expand_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "";
		document.getElementById(expand_icon).style.display = "";
		document.getElementById(collapse_icon).style.display = "none";
	}
	
	function collapse_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "none";
		document.getElementById(expand_icon).style.display = "none";
		document.getElementById(collapse_icon).style.display = "";
	}
</script>

