<% group_name = h(@group.name) %>

<% page_title = "圈子 #{group_name} 的全部圈内投票" %>
<% community_page_title(page_title) %>

<div class="float_r">
	<a href="/groups/<%= @group_id %>">
		<img src="<%= face_img_src(@group_image) %>" border="0" /></a>
</div>

<div class="vote_container">
	<h2><%= page_title %></h2>

	<div class="community_block_narrow form_info_s">
		<b><%= @vote_topics.total_entries %></b>
		个投票话题.
		&nbsp;&nbsp;&nbsp;
		<a href="/groups/<%= @group_id %>">返回圈子 <%= group_name %></a>
	</div>
	<br />
	
	
	<% if @is_admin %>
		<% form_tag "/groups/#{@group_id}/remove_vote", :method => :post, :id => "remove_group_vote_form" do %>
			<input type="hidden" id="remove_group_vote_id" name="vote_id" value="" />
		<% end %>
		
		<script language="JavaScript">
			function remove_vote(vote_id) {
				if(confirm("从圈子移除这个投票后, 这个投票将变为一个全局投票. 这个操作是不可撤销的, 建议跟投票的发起者先适当沟通. 确定要将其从圈内投票中移除么 ?")) {
					document.getElementById("remove_group_vote_id").value = vote_id;
					
					del_form = document.getElementById("remove_group_vote_form");
					del_form.submit();
				}
			}
		</script>
	<% end %>
	
	<%= render(:partial => "/votes/topic_preview_list", :locals => {:vote_topics => @vote_topics, :can_del => @is_admin}) %>
	
</div>


