<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td style="width: 120px;">
			<label for="contact">
				客户姓名(<span style="color: red;">*</span>)
			</label>
		</td>
		
		<td>
			<input type="text" id="contact" name="contact" class="text_field" size="15" value="<%= h(@contact_name) %>" />
		</td>
	</tr>
	
	<tr>
		<td>
			<label for="title">
				标题
			</label>
		</td>
		
		<td>
			<input type="text" id="title" name="title" class="text_field" size="30" value="<%= h(@opportunity.title) %>" />
		</td>
	</tr>
	
	<% if action_name == "edit" %>
		<tr>
			<td>
				<label for="status">
					状态
				</label>
			</td>

			<td>
				<select id="status" name="status" class="dropdown_list">
					<% Intranet::SalesOpportunityStatus.data.each do |status| %>
						<option value="<%= status[:id] %>"<%= %Q! selected="selected"! if status[:id] == @opportunity.status_id %>>
							<%= status[:label] %>
						</option>
					<% end %>
				</select>
			</td>
		</tr>
	<% end %>
	
	<tr>
		<td>
			
		</td>
		
		<td>
			<%= submit_tag submit_label, :class => "button", :disabled => @account_limited %>
		</td>
	</tr>
</table>
