<tr>
	<td style="font-size: 13px; color: #888888;">
		<% opportunity_title = h(opportunity.title) %>
		
		<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_contacts/<%= opportunity.contact.id %>" class="account_nick_link">
			<%= h(opportunity.contact.name) %></a>
			
		<% unless opportunity_title.blank? %>
			&nbsp;
			(
				<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities/<%= opportunity.id %>" class="account_nick_link">
					<%= opportunity_title %></a>
			)
		<% end %>
	</td>
	
	
	<% Intranet::SalesOpportunityStep.data.each do |step| %>
		<%
			step_record = opportunity.step_records.detect { |record| record.step_id == step[:id] }
			done = step_record && step_record.done
		%>
		<td align="center">
			<div id="sales_opportunity_step_<%= opportunity.id %>_<%= step[:id] %>" class="sales_opportunity_step<%= "_done" if done %>">
				
			</div>
		</td>
	<% end %>
	
	
	<td align="center">
		<% if latest_record = @latest_records.detect { |record| record.opportunity_id == opportunity.id } %>
			<span title="<%= h(latest_record.notes) %>"><%= format_date(latest_record.occur_at) %></span>
		<% else %>
			<span class="form_info_s">无记录</span>
		<% end %>
	</td>
	
	
	<td align="center">
		<% attachment_count = opportunity.attachments.size %>
		<% if attachment_count > 0 %>
			<img src="/images/attachment_icon.gif" alt="<%= attachment_count %>个附件" title="<%= attachment_count %>个附件" border="0" />
		<% end %>
	</td>
	
	
	<td align="center">
		<% todo_count = opportunity.todos.size %>
		<% if todo_count > 0 %>
			<img src="/images/job_targets/remind_small.gif" alt="<%= todo_count %>个待办事项" title="<%= todo_count %>个待办事项:<% opportunity.todos.each_with_index do |todo, i| %><%= i+1 %>.<%= h(todo.title) %><% end %>" border="0" />
		<% end %>
	</td>
	
	
	<td align="right">
		<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities/<%= opportunity.id %>" class="account_nick_link">
			查看</a>
	</td>
</tr>
