<%
	page_title = "#{@status[:label]}的销售机会"
	page_title += " (#{@employee[:name]})" if @manager
	community_page_title(page_title)
%>

<div class="float_r">
	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 250px;" do %>
		<div class="action_bar">
			<% if @manager %>
				<span class="form_info_s">添加新的销售机会</span>
			<% else %>
				<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities/new">
					添加新的销售机会</a>
			<% end %>
			
			|
			
			<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_contacts">
				客户管理</a>
		</div>
	<% end %>
</div>

<div class="job_item_container">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block_narrow form_info_s">
		共有
		<b><%= @opportunities.respond_to?(:total_entries) ? @opportunities.total_entries : @opportunities.size %></b>
		个<%= @status[:label] %>的销售机会
	</div>
	
	<div class="community_block">
		<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
			<tr>
				<td style="width: 20px;">
					<a href="#" onclick="toggle_func_list(); return false;" title="显示/隐藏左边的功能列表栏">
						<img src="/images/job_targets/hide_left_icon.gif" border="0" /></a>
				</td>
				
				<td>
					
				</td>
				
				<td align="right" style="width: 150px;">
					<select id="status_switcher" class="dropdown_list" style="font-size: 13px;">
						<% Intranet::SalesOpportunityStatus.data.each do |status| %>
							<option value="<%= status[:name] == "ongoing" ? "" : "/#{status[:name]}" %>"<%= %Q! selected="selected"! if status[:id] == @status[:id] %>>
								<%= status[:label] %>的销售机会
							</option>
						<% end %>
					</select>
				</td>
			</tr>
		</table>
	</div>

	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w list">
		<thead>
			<tr>
				<td></td>
				<% Intranet::SalesOpportunityStep.data.each do |step| %>
					<td style="width: 60px;" align="center"><%= step[:label] %></td>
				<% end %>
				<td align="center" style="width: 80px;">最近记录</td>
				<td align="center" style="width: 30px;">附件</td>
				<td align="center" style="width: 30px;">待办</td>
				<td style="width: 26px;"></td>
			</tr>
		</thead>

		<tbody>
			<%= render :partial => "opportunity", :collection => @opportunities %>
		</tbody>
	</table>

	<div class="community_block">
		<%= paging_buttons(@opportunities) if @opportunities.respond_to?(:total_entries) %>
	</div>
	
</div>



<script type="text/javascript">
	var ACCOUNT_ID = <%= @employee[:account_id] %>;
	
	var readonly = <%= !!@manager %>;
	
	toggle_func_list(false);
</script>
<script type="text/javascript" src="/lib/jquery/jquery-pack.js"></script>
<script type="text/javascript" src="/javascripts/intranet/sales_opportunity.js"></script>
