<%
	page_title = "添加销售机会附件"
	community_page_title(page_title)
%>

<div class="float_r">
	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 125px;" do %>
		<div class="action_bar">
			<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities/<%= @opportunity.id %>">
				返回销售机会</a>
		</div>
	<% end %>
</div>

<div class="job_item_container">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block_narrow" style="font-size: 14px;">
		客户<%= h(@contact.name) %>的销售机会
		-
		<%= h(@opportunity.title) %>
	</div>
	
	
	<div class="community_block_narrow">
		<% if flash[:error_msg] %>
			<p class="error_msg"><%= flash[:error_msg] %></p>
		<% end %>
		<% if @attachment.errors.size > 0 %>
			<p class="error_msg">
				<%= list_model_validate_errors(@attachment) %>
			</p>
		<% end %>
		<% if flash[:message] %>
		    <p class="info_msg"><%= flash[:message] %></p>
		<% end %>
	</div>
	
	<br />
	
	<div class="community_block">
		<% form_tag "/intranet/employees/#{@employee[:account_id]}/sales_opportunities/#{@opportunity.id}/create_attachment", :method => :post, :multipart => true do %>
			<table border="0" cellspacing="5" cellpadding="5">
				<tr>
					<td style="width: 120px;">
						<label for="attachment_file">
							附件(<span style="color: red;">*</span>)
						</label>
					</td>

					<td>
						<input type="file" name="attachment_file" id="attachment_file" />
					</td>
				</tr>

				<tr>
					<td>
						<label for="attachment_desc">
							描述
						</label>
					</td>

					<td>
						<input type="text" name="attachment_desc" id="attachment_desc" class="text_field" size="45" value="<%= h(@attachment.desc) %>" />
					</td>
				</tr>
				
				<tr>
					<td>
						
					</td>

					<td>
						<div class="form_info_s">
							文件大小10M以内, 描述100字以内
						</div>
					</td>
				</tr>
				

				<tr>
					<td>

					</td>

					<td>
						<%= submit_tag "上传附件", :class => "button", :disabled => @account_limited %>
					</td>
				</tr>
			</table>
		<% end %>
	</div>
</div>
