<%
	contact_name = h(@contact.name)
	page_title = "客户 #{contact_name} 的销售机会"
	community_page_title(page_title)
%>

<div class="float_r">
	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 350px;" do %>
		<div class="action_bar">
			<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities/<%= @opportunity.id %>/edit">
				修改销售机会</a>
			|
			<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities">
				返回销售机会列表</a>
		</div>
	<% end %>
</div>

<div class="job_item_container">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block_narrow">
		<%= h(@opportunity.title) %>
	</div>
	
</div>
