<%
	contact_name = h(@contact.name)
	page_title = "客户 #{contact_name} 的销售机会"
	community_page_title(page_title)
	
	status = Intranet::SalesOpportunityStatus.find(@opportunity.status_id)
%>

<div class="float_r">
	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 260px;" do %>
		<div class="action_bar">
			<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities/<%= @opportunity.id %>/edit">
				修改销售机会</a>
			|
			<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities<%= "/#{status[:name]}" unless status[:name] == "ongoing" %>">
				返回销售机会列表</a>
		</div>
	<% end %>
</div>

<div class="job_item_container">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block_narrow" style="font-size: 14px;">
		<%= h(@opportunity.title) %>
	</div>
	
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w list">
		<thead>
			<tr>
				<td></td>
				<% step_width = 80 %>
				<% Intranet::SalesOpportunityStep.data.each do |step| %>
					<td style="width: <%= step_width %>px;" align="center"><%= step[:label] %></td>
				<% end %>
				<td align="right" style="width: 115px;">状态</td>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td style="font-size: 13px; color: #888888;">
					<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_contacts/<%= @contact.id %>" class="account_nick_link">
						<%= h(@contact.name) %></a>
				</td>

				<% Intranet::SalesOpportunityStep.data.each do |step| %>
					<%
						step_record = @step_records.detect { |record| record.step_id == step[:id] }
						done = step_record && step_record.done
					%>
					<td align="center">
						<div id="sales_opportunity_step_<%= @opportunity.id %>_<%= step[:id] %>" class="sales_opportunity_step<%= "_done" if done %>" style="width: <%= step_width %>px;">

						</div>
					</td>
				<% end %>
				
				<td align="right">
					<%= status[:label] %>
				</td>
			</tr>
		</tbody>
	</table>
	
	<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
		<tr>
			<td valign="top" style="width: 60%;">
				<div class="community_title">
					有
					<b>
						<%= @records.size %>
					</b>
					条记录 ...
					
					<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities/<%= @opportunity.id %>/new_record" class="account_nick_link" style="font-size: 12px; margin: 0px 10px;">
						添加记录</a>
				</div>
				<div class="community_block">
					<% form_tag "/intranet/employees/#{@employee[:account_id]}/sales_opportunities/#{@opportunity.id}/delete_record", :method => :post, :id => "delete_record_form" do %>
						<input type="hidden" id="record_id" name="record_id" value="" />
					<% end %>
					
					<%= render :partial => "record", :collection => @records %>
				</div>
			</td>

			<td valign="top">
				<div class="community_title">
					有
					<b>
						<%= @todos.size %>
					</b>
					条待办事项 ...
					
					<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities/<%= @opportunity.id %>/new_todo" class="account_nick_link" style="font-size: 12px; margin: 0px 10px;">
						添加事项</a>
					<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities/<%= @opportunity.id %>/done_todos" class="account_nick_link" style="font-size: 12px;">
						已完成的事项</a>
				</div>
				<div class="community_block">
					<% form_tag "/intranet/employees/#{@employee[:account_id]}/sales_opportunities/#{@opportunity.id}/delete_todo", :method => :post, :id => "delete_todo_form" do %>
						<input type="hidden" id="delete_todo_id" name="todo_id" value="" />
					<% end %>
					<% form_tag "/intranet/employees/#{@employee[:account_id]}/sales_opportunities/#{@opportunity.id}/update_todo_done", :method => :post, :id => "update_todo_done_form" do %>
						<input type="hidden" id="update_todo_id" name="todo_id" value="" />
						<input type="hidden" id="update_todo_done" name="done" value="" />
					<% end %>
					
					<%= render :partial => "todo", :collection => @todos %>
				</div>
				
				
				<div class="community_title">
					有
					<b>
						<%= @attachments.size %>
					</b>
					个附件 ...
					
					<a href="/intranet/employees/<%= @employee[:account_id] %>/sales_opportunities/<%= @opportunity.id %>/new_attachment" class="account_nick_link" style="font-size: 12px; margin: 0px 10px;">
						添加附件</a>
				</div>
				<div class="community_block">
					<% form_tag "/intranet/employees/#{@employee[:account_id]}/sales_opportunities/#{@opportunity.id}/delete_attachment", :method => :post, :id => "delete_attachment_form" do %>
						<input type="hidden" id="attachment_id" name="attachment_id" value="" />
					<% end %>
					
					<%= render :partial => "attachment", :collection => @attachments %>
				</div>
			</td>
		</tr>
	</table>
	
</div>



<script type="text/javascript">
	var ACCOUNT_ID = <%= @employee[:account_id] %>;
</script>
<script type="text/javascript" src="/lib/jquery/jquery-pack.js"></script>
<script type="text/javascript" src="/javascripts/intranet/sales_opportunity.js"></script>
