<% group_name = h(@group.name) %>

<% page_title = "圈子 #{group_name} 的聊天室" %>
<% community_page_title(page_title) %>

<div class="float_r blog_container_r" id="chat_right_col">
	
	<%= render :partial => "chatroom_members" %>
	
</div>


<div class="blog_container_l" id="chat_left_col">
	<div>
		<a href="/groups/<%= @group_id %>" class="float_l">
			<img src="<%= face_img_src(@group_image) %>" border="0" style="margin-right: 15px; margin-bottom: 5px;" /></a>
		<div>
			<div>
				<h2 style="margin-bottom: 8px;"><%= page_title %></h2>
			</div>
			
			<div>
				<a href="/groups/<%= @group_id %>">返回圈子 <%= group_name %></a>
			</div>
		</div>
	</div>
	
	
	<%= 
		render(
			:partial => "chatroom_area", 
			:locals => {
				:channels => @channels, 
				:account_nick_pic => @account_nick_pic,
				:page_url => "/chats/group/#{@group.id}"
			}
		)
	%>
	
</div>

