<% page_title = "我的即时聊天" %>
<% community_page_title(page_title) %>

<div class="float_r blog_container_r" id="chat_right_col">
	
	<div class="community_block">
		<a href="#">
			去公众聊天室
			(
			<b><%= Juggernaut.show_clients_for_channels([ChatsController::Public_Channel_Name]).size %></b>
			人在线)</a>
	</div>
	
	
	<div class="community_title">
		即时聊天在线的朋友 ...
	</div>
	<div id="online_list_container">
		<div id="online_list" class="chat_online_list">
			<% @friends.each do |account_id| %>
				<% if online?(account_id) %>
					
				<% end %>
			<% end %>
		</div>
	</div>
	
</div>


<div class="blog_container_l" id="chat_left_col">
	<h2><%= page_title %></h2>
	
	
	<p id="error_msg_container" class="error_msg" style="display: none;">
		连接服务器失败 ...
		&nbsp;&nbsp;&nbsp;
		<a href="/chats/show/<%= @account_id %>">
			刷新页面, 重新连接</a>
	</p>
	<div id="loading_container" style="margin-top: 50px; padding-left: 50px; font-size: 14px;">
		<img src="/images/loading_small.gif" />
		&nbsp;
		正在连接服务器 ...
	</div>
	
	<script type="text/javascript" src="/lib/protopack/prototype-packer.js"></script>
	<script type="text/javascript" src="/javascripts/juggernaut/swfobject.js"></script>
	<script type="text/javascript" src="/javascripts/juggernaut/juggernaut.js"></script>
	<script type="text/javascript" src="/javascripts/chat.js"></script>
	<script language="JavaScript">
		var channels = [];
		<% @channels.each do |channel| %>
			channels.push("<%= channel %>");
		<% end %>
		add_listeners(channels, encodeURIComponent("<%= form_authenticity_token %>"));
	</script>
	<%#= juggernaut(
			:channels => @channels,
			:client_id => @account_id,
			:debug => false,
			:session_id => session.session_id
		)
	%>
	
	
	<div id="chat_container" style="display: none;">
		<div id="chat_area" class="chat_area">
			
		</div>
	</div>
	
</div>

