<% service_name = h(@service.name) %>

<% page_title = "点评 #{service_name}" %>
<% community_page_title(page_title) %>

<% has_place = @service.place && (@service.place != "") %>
<% service_place = h(@service.place || "") %>

<% is_info_editor = info_editor?(session[:account_id]) %>

<div class="float_r community_container_r">

	<div class="community_block align_c">
		<div class="align_r">
			<% 1.upto(5) do |i| %>
				<span style="color: #<%= JobServicesController::Point_Chart_Colors[i-1] %>; font-weight: bold; padding-left: 20px;">
					<%= (i - 1 + 65).chr %>:
					<%= i %>分
				</span>
			<% end %>
		</div>
		
		<div id="point_chart_container">

		</div>
		
		<div>
			<a href="#" onclick="chart_type('bar_v'); return false;" title="柱状图[竖]">
		        <img src="/images/votes/chart_icons/column.png" alt="柱状图[竖]" border="0" /></a>
		
		    <a href="#" onclick="chart_type('bar_h'); return false;" title="柱状图[横]">
		        <img src="/images/votes/chart_icons/bar.png" alt="柱状图[横]" border="0" /></a>

		    <a href="#" onclick="chart_type('pie'); return false;" title="饼状图">
				<img src="/images/votes/chart_icons/pie.png" alt="饼状图" border="0" /></a>

	    	<a href="#" onclick="chart_type('pie_3d'); return false;" title="饼状图[3D]">
	        	<img src="/images/votes/chart_icons/pie_3d.png" alt="饼状图[3D]" border="0" /></a>
		</div>
	</div>
	
	<script language="JavaScript">
		function chart_type(chart_type) {
			document.getElementById("point_chart_container").innerHTML = get_chart_html(chart_type);
		}
		
		function get_chart_html(chart_type) {
			return "<embed width='280' height='200' src='/charts/charts.swf?library_path=/charts/charts_library&xml_source=/job_services/point_chart/<%= @service.id %>?chart_type=" + chart_type + "' quality='high' type='application/x-shockwave-flash'></embed>"
		}
		
		chart_type("bar_v");
	</script>
	
	
	
	<% if has_place %>
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>

		<div style="margin-left: 20px;">
			<div id="map_canvas">

			</div>

			<div class="align_c">
				<a id="big_map_link" href="#" onclick="big_map(); return false;" style="display: none;">
					<img src="/images/show_big.gif" border="0" alt="大图" title="大图" width="12" height="12" />
					查看大地图</a>
			</div>

			<% if is_info_editor %>
				<div class="align_r">
					<a id="wrong_map_link" href="#" onclick="explain_wrong_map(); return false;" style="display: none;">
						(地图错误?)</a>
				</div>

				<div class="align_c">
					<a id="no_map_link" href="#" onclick="explain_no_map(); return false;" style="display: none;">
						(为什么没有显示地图?)</a>
				</div>
			<% end %>

			<a id="small_map_link" href="#" onclick="small_map(); return false;" style="position: absolute; top: 5px; left: 875px; display: none;">
				<img id="close_big_map_img" src="/images/activities/close_big_map_middle.gif" border="0" /></a>
		</div>
	<% end %>

</div>

<div class="community_container_l">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block">
		<div class="float_r">
			<span class="point_number">
				<%= sprintf("%.2f", @point).gsub(/^([0-9])/, "<strong>\\1</strong>") %>
			</span>
			&nbsp;
			-
			&nbsp;
			<%= rank(@point, :small => false, :readonly => true) %>
		</div>
		
		<div>
			<a href="/job_services">
				求职导航</a>
			»
			<a href="/job_services/category/<%= @service.category_id %>">
				<%= h(JobServiceCategory.get_category(@service.category_id).name) %></a>
		</div>
	</div>
	
	<div class="community_block" style="font-size: 13px; color: #222222;">
		<table cellpadding="0" cellspacing="5" class="main_part_w">
			<tr>
				<td align="left" valign="middle">
					<table cellpadding="0" cellspacing="1" class="main_part_w">
						<tr>
							<td align="left" valign="top" style="width: 65px;"></td>
							<td align="left" valign="top"></td>
						</tr>
						
						<% if has_place %>
							<tr>
								<td align="left" valign="top">
									地址:
								</td>
								<td align="left" valign="top">
									<%= service_place %>
								</td>
							</tr>
						<% end %>
						
						<% if @service.phone && @service.phone != "" %>
							<tr>
								<td align="left" valign="top">
									电话:
								</td>
								<td align="left" valign="top">
									<%= h(@service.phone) %>
								</td>
							</tr>
						<% end %>
						
						<% if @service.scope && @service.scope != "" %>
							<tr>
								<td align="left" valign="top">
									服务范围:
								</td>
								<td align="left" valign="top">
									<%= h(@service.scope) %>
								</td>
							</tr>
						<% end %>

						<% if @service.cost %>
							<tr>
								<td align="left" valign="top">
									价位:
								</td>
								<td align="left" valign="top">
									￥<%= h(@service.cost) %>
								</td>
							</tr>
						<% end %>

						<% if @service.url && @service.url != "" %>
							<tr>
								<td align="left" valign="top">
									链接:
								</td>
								<td align="left" valign="top">
									<a href="/job_services/<%= @service.id %>/url_preview" target="_blank" class="account_nick_link">
										<%= h(@service.url) %></a>

									<br />

									(
										<a href="/job_services/<%= @service.id %>/url_preview" target="_blank">
											预览</a>
									)
								</td>
							</tr>
						<% end %>
					</table>
				</td>
				
				<td style="width: 120px;" align="center" valign="middle">
					<a href="#evaluation_new" title="我要点评">
						<img src="/images/job_services/evaluation_btn.png" border="0" alt="我要点评" /></a>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="community_block">
		<table cellpadding="0" cellspacing="10" class="main_part_w">
			<tr>
				<td align="left" valign="top" style="width: 75px; color: #EE9966; font-size: 14px;">
					服务简介
				</td>
				
				<td style="font-size: 13px; color: #333333;">
					<%= h(@service.desc) %>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="community_block align_r form_info_s">
		最后更新于
		<%= format_datetime(@service.updated_at) %>
		
		&nbsp;&nbsp;
		|
		&nbsp;&nbsp;
		
		由
		<a href="/spaces/show/<%= @service.creator_id %>" class="account_nick_link">
			<%= h(@creator_nick_pic[0]) %></a>
		添加
	</div>
	
	<div class="community_block align_r">
		<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/job_services/#{@service.id}", :title => "点评: #{service_name}"} %>
	</div>
	
	<% if is_info_editor %>
		<% form_tag "/job_services/#{@service.id}", :method => :delete, :id => "service_delete_form" do %>
		<% end %>
		
		<div class="community_block_narrow">
			<a href="#" onclick="if(confirm('确定要删除么 ?')){document.getElementById('service_delete_form').submit();}; return false;">删除</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/job_services/<%= @service.id %>/edit">
				编辑</a>
		</div>
	<% end %>
	
	
	
	<div class="community_title">
		共有
		<b>
			<%= @service_evaluations.total_entries %>
		</b>
		条<span id="evaluation_list">点评</span> ...
	</div>
	
	<% if is_info_editor %>
		<% form_tag "", :method => :post, :id => "delete_evaluation_form" do %>
		<% end %>
		
		<script language="JavaScript">
			function delete_evaluation(evaluation_id) {
				if(confirm("确定要删除此点评么 ?")) {
					del_form = document.getElementById("delete_evaluation_form");
					del_form.action = "/job_services/" + evaluation_id + "/delete_evaluation";
					del_form.submit();
				}
			}
		</script>
	<% end %>
	
	<div class="community_block_narrow align_c form_info_s">
		以下点评仅代表网友个人观点
	</div>
	
	<div class="community_block_narrow align_r">
		<a href="#evaluation_new">添加点评</a>
	</div>

	<div class="community_block">
		<%= render(:partial => "evaluation", :collection => @service_evaluations, :locals => {:can_del => is_info_editor, :counter_shift => calculate_counter_shift(@service_evaluations)}) %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@service_evaluations) %>
	</div>
	
	<div id="evaluation_new" class="community_block">
		<a href="#top" class="float_r">
			回页首</a>
			
		<span style="font-size: 14px; color: #EE9966;">
			添加点评 »
		</span>
	</div>
	<div class="community_block_narrow" style="margin-top: 10px;">
		<div style="margin-bottom: 5px;">
			评分(<span style="color: red;">*</span>)
			:
			&nbsp;
			<%= rank(0, :small => false, :readonly => false, :titles => JobServicesController::Rank_Titles) %>
		</div>
		<div>
			评价(<span style="color: red;">*</span>)
			:
			&nbsp;
			<span class="form_info_s">
				1000 个字符以内
				
				&nbsp;&nbsp;&nbsp;
				(注意: 新的点评将覆盖你之前已经提交的点评)
			</span>
		</div>
		<% form_tag "/job_services/#{@service.id}/create_evaluation", :method => :post, :onsubmit => "return validate_evaluation_form();" do %>
			<textarea id="service_evaluation" name="service_evaluation" class="text_field" cols="50" rows="8"></textarea>
			<input type="hidden" name="service_evaluation_point" id="service_evaluation_point" />
			
			<div style="margin-top: 5px;">
				<input type="submit" value="提交点评" class="button" />
			</div>
		<% end %>
	</div>
	
	
	<% if is_info_editor && has_place %>
		<div>
			<% form_tag "/job_services/#{@service.id}/cache_point", :method => :post, :target => "point_cache_operator", :id => "do_cache_form" do %>
				<input type="hidden" name="point_x" id="point_x_input" value="" />
				<input type="hidden" name="point_y" id="point_y_input" value="" />
			<% end %>
		</div>

		<iframe name="point_cache_operator" id="point_cache_operator" style="display: none;"></iframe>
	<% end %>
	
</div>



<script language="JavaScript">
	function validate_evaluation_form() {
		var evaluation_point = document.getElementById("service_evaluation_point").value;
		if(evaluation_point == null || evaluation_point <= 0) {
			alert("请选择评分 ...");
			return false;
		}
		
		var evaluation_content = document.getElementById('service_evaluation').value || "";
		if(evaluation_content.replace(/(^\s*)|(\s*$)/g, '') == '') {
			alert("请填写评价内容 ...");
			return false;
		}
		if(evaluation_content.length > 1000) {
			alert("评价内容超过长度限制 ...");
			return false;
		}
		
		return true;
	}
	
	function select_rank(num) {
		document.getElementById("service_evaluation_point").value = num;
		
		var cr = document.getElementById("current_rating");
		cr.style.width = num*100/5 + "%";
		cr.inner_html = "当前: " + num;
	}
</script>



<% if has_place %>
	<script src="http://ditu.google.cn/maps?file=api&v=2&hl=zh&key=ABQIAAAAx5FxwPteEaekBa2OsGoGMhRhWPLdTYHlYKadOx9YMcM4H2s8ERRt0O5IDG1pAtx2TxjX-UMGlI5CLA" type="text/javascript"></script>
	<script type="text/javascript">
		var small_map_width = 280;
		var small_map_height = 280;
		var IS_OWNER = <%= !!is_info_editor %>;
		var ADDRESS_NAME = "地点";
		var IS_POINT_CACHED = <%= !!(@place_point && (point_x = @place_point[0]) && (point_y = @place_point[1]) && (point_x != "") && (point_y != "")) %>;
		if(IS_POINT_CACHED) {
			var parsed_point_x = parseFloat("<%= point_x %>");
			var parsed_point_y = parseFloat("<%= point_y %>");
		} else {
			var ADDRESS = "<%= service_place %>";
		}
		var AUTO_LOAD = true;
	</script>
	<script language="JavaScript" src="/javascripts/map.js"></script>
<% end %>

