<table cellpadding="0" cellspacing="5" class="main_part_w">
	<tr>
		<td style="width: 50px">
			<a href="/activities/<%= activity_id %>" target="_blank">
				<img src="<%= face_img_src(activity_image) %>" border="0" /></a>
		</td>
		
		<td>
			你参加活动
			<a href="/activities/<%= activity_id %>" target="_blank"><%= h(activity_title) %></a>
			的申请被
			<b><%= approve ? "批准" : "拒绝" %></b>
			了
		</td>
	</tr>
</table>

