<% page_title = "职业测评列表" %>
<% community_page_title(page_title) %>

<div class="float_r community_container_r">
	<% if @has_login %>
		<div class="community_block align_c">
			<a href="/career_tests/history/<%= session[:account_id] %>" style="font-size: 13px;">
				我过去的测试结果列表</a>
		</div>
		
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
	<% end %>
	
	<div class="community_block align_c">
		<a href="/groups/26">
			去职业测评讨论组</a>
	</div>
</div>

<div class="community_container_l">
	<h2><%= page_title %></h2>
	
	
	<br />
	
	<div class="community_block">
		<% CareerTest.data.each do |t| %>
			<% unless t[:hide] %>
				<% test = CareerTest.get_test(t[:name]) %>

				<div class="test_item form_info_s">
					<a href="/career_tests/show/<%= t[:id] %>" class="account_nick_link" style="font-size: 16px;">
						<%= test.name %></a>

					&nbsp;&nbsp;

					<%= test.flatten_questions.size %>道题
					|
					参与(<%= CareerTestResult.get_count(t[:id]) %>)
				</div>
			<% end %>
		<% end %>
	</div>
	
</div>

