<% albums ||= [] %>

<table style="width: 100%; border: 1px solid #C2E3EF;">
	<tr>
		<td valign="top" style="width: 30%; border-right: 1px solid #C2E3EF;">
			<div style="padding: 0px 5px;">
				<% if albums.size > 0 %>
					<% albums.each do |al| %>
						<div style="margin: 10px 0px;">
							<span id="photo_selector_trigger_<%= al[0] %>">
								<% h_album_name = h(al[1]) %>
								<a title="<%= h_album_name %>" href="#" onclick="photo_selector.show_album_photos(<%= al[0] %>, '<%= photo_list_template %>'); return false;" style="text-decoration: none;">
									<img src="/images/index/pic_icon.gif" border="0"/>
									<%= truncate(h_album_name, 25) %>
								</a>
							</span>
							
							<span id="photo_selector_indicator_<%= al[0] %>" style="display: none;">
								<img src="/images/loading_small.gif" border="0" />
								正在载入照片 ... 
							</span>
						</div>
					<% end %>
				<% else %>
					还没有相册 ... 现在就去 <a href="/albums" target="_blank">相册</a>, 立刻 <a href="/albums/new" target="_blank">创建一个</a> 吧
				<% end %>
			</div>
		</td>
		
		<td valign="top" style="width: 70%;">
			<div style="padding: 3px;">
				<% albums.each do |ar| %>
					<div id="photo_selector_container_<%= ar[0] %>" style="display: none;"></div>
				<% end %>
			</div>
		</td>
	</tr>
</table>

<div style="margin-left: 5px; margin-top: 10px;">
	上传新照片到相册:
	<div>
		<% form_tag "/albums/create_photo_from_photo_selector", :method => :post, :multipart => true, :onsubmit => "if(document.getElementById('album_id_in_photo_selector').value.replace(/(^\s*)|(\s*$)/g, '') == ''){ alert('请选择一个相册 ...'); return false; }", :target => "photo_selector_uploader" do %>
			<select id="album_id_in_photo_selector" name="id" class="dropdown_list">
				<% albums.each do |album| %>
					<option value="<%= album[0] %>"><%= h(album[1]) %></option>
				<% end %>
			</select>
			&nbsp;
			<input type="file" name="image_file" id="image_file_in_photo_selector" />
			<input type="hidden" name="photo_list_template" value="<%= photo_list_template %>" />
			&nbsp;
			<input type="submit" value="上传" class="button" />
		<% end %>
	</div>
	
	<iframe name="photo_selector_uploader" id="photo_selector_uploader" style="display:none"></iframe>
</div>

