<% page_title = "添加照片到相册 #{h(@album.name)}" %>
<% community_page_title(page_title) %>

<div class="album_container">
	<h2><%= page_title %></h2>
	
	<div class="community_block_narrow">
		<img id="cover_photo" src="<%= @album.get_cover_photo_img_src(:thumb_80) %>" border="0" />
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		返回 -
		<a href="/albums/<%= @album.id %>"><%= h(@album.name) %></a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/albums">我的相册列表</a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		或者
		&nbsp;
		<a href="/albums/new">创建一个新相册</a>
	</div>
	
	<div class="community_title">
		上传新的照片 ...
	</div>
	
	<p class="form_info_l">
		你可以上传 JPG, JPEG, GIF, PNG 或 BMP 格式的图片, 每个文件大小可以到 <b>3 M</b>
	</p>
	<% unless @account_checked %>
		<p>
			<%= unchecked_alert(@account_checked) %>
		</p>
	<% end %>
	
	<%= render :partial => "/common/upload", :locals => {:downgrade_link => "/albums/#{@album.id}/upload_simple", :upload_action => "/albums/#{@album.id}/create_photo", :file_size_limit => 3} %>
	
	<div class="community_block_narrow">
		<a href="/albums/<%= @album.id %>">
			返回这个相册</a>
	</div>
	
	
	<br />
	<br />
	
	<div class="community_title">
		相册 <%= h(@album.name) %> 中已有的照片 ...
	</div>
	
	<div class="community_block">
		<%= render(:partial => "uploaded_photo", :collection => @album.get_photos) %>
	</div>
</div>


