<% company_name = h(@company.name) %>

<% page_title = "编辑公司 #{company_name} 的信息" %>
<% community_page_title(page_title) %>

<div class="float_r group_container_r">
	<div class="community_block">
		<a href="/companies/show/<%= @company.id %>">
			返回公司 <%= company_name %></a>
	</div>
</div>

<div class="group_container_l">
	<h2><%= page_title %></h2>
	
	<div class="community_block_narrow">
		
		<% if flash[:message] %>
			<p class="info_msg"><%= flash[:message] %></p>
		<% end %>
		<% if flash[:error_msg] %>
			<p class="error_msg"><%= flash[:error_msg] %></p>
		<% end %>
		<% if @profile.errors.size > 0 %>
			<p class="error_msg">
				<%= list_model_validate_errors(@profile) %>
			</p>
		<% end %>
		
		<div>
			<% form_tag "/companies/update_property/#{@company.id}", :method => :post do %>
				<table cellpadding="0" cellspacing="10" class="main_part_w">
					<%
						info = @profile.get_info
						CompanyProfile::Properties.each do |property|
					%>
						<tr>
							<td style="width: 80px" valign="top">
								<label for="<%= property[0] %>">
									<%= property[1] %>
									:
					            </label>
							</td>
							<td>
								<textarea id="<%= property[0] %>" name="<%= property[0] %>" class="text_field" cols="40" rows="2"><%= h(info[property[0]]) %></textarea>
							</td>
						</tr>
					<% end %>
					
					<tr>
						<td style="width: 80px" valign="top">
							<label for="company_desc">
								<strong>公司简介</strong>
								:
				            </label>
						</td>
						<td>
							<textarea id="company_desc" name="company_desc" class="text_field" cols="40" rows="5"><%= h(info[:desc]) %></textarea>
						</td>
					</tr>
					
					<tr>
						<td></td>
						<td>
							<%= submit_tag "更新信息", :class => "button", :disabled => @account_limited %>
						</td>
					</tr>
				</table>
			<% end %>
		</div>
		
	</div>
	
</div>
