<% page_title = "公司讨论区" %>
<% community_page_title(page_title) %>


<%
	# column_container = "community_container"
	column_container = "blog_container"
%>


<div class="float_r <%= column_container %>_r">
	
	<div style="font-size: 14px;">
		<div class="community_block align_c">
			<a href="/companies/all">
				<strong>全部公司讨论区导航</strong></a>
		</div>

		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>

		<div class="community_block align_c">
			<a href="/job_targets">
				<img src="/images/index/job_targets_icon.png" border="0" />
				去我的求职管家</a>
		</div>
	</div>
	
	
	<div class="community_title">
		所在的行业 ...
	</div>
	
</div>

<div class="<%= column_container %>_l">
	<h2><%= page_title %></h2>
	
	
	<div class="community_title">
		<div class="float_r">
			<% form_tag "/community/search", :method => :get do %>
				<input type="text" name="query" class="text_field" style="width: 150px;" />
				<input type="hidden" name="scope" value="company_post" />

				&nbsp;
				<input type="submit" value="搜索公司话题" class="button" />
			<% end %>
		</div>
		
		最新讨论话题 ...
	</div>
	<div>
		<div style="padding-left: 10px; margin-top: 5px;">
			<a href="/groups/1" target="_blank" class="form_info_s account_nick_link">
				举报话题内容, 或申请置顶,放入精华区等管理操作, 请到 乔布圈反馈小组</a>
		</div>
		
		<table cellpadding="0" cellspacing="5" border="0" class="main_part_w">
			<thead>
				<tr>
					<td width="51%">话题</td>
					<td width="6%" align="right">回帖</td>
					<td width="18%" align="right">发起人</td>
					<td width="25%" align="right">最后参与</td>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => "company_post", :collection => @posts, :locals => {:show_company_name => true, :hide_top => true} %>
			</tbody>
		</table>
		<% unless @posts.size > 0 %>
			<div class="form_info_l">
				还没有讨论话题 ...
			</div>
		<% end %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@posts) %>
	</div>
	
</div>


