<% post_content = extract_text(activity_post.content) %>
<% post_content = sanitize_tinymce(post_content) %>

<% comment_count = ActivityPostComment.get_count(activity_post.id) %>

<div>
	<div class="community_index_post_title">
		<a href="/activity/posts/<%= activity_post.id %>" class="account_nick_link">
			<%= h(activity_post.title) %></a>
	</div>
	
	<div>
		<%= truncate(post_content, 100) %>
	</div>
	
	<div class="form_info_s align_r">
		<a href="/activity/posts/<%= activity_post.id %>#comment_list" class="account_nick_link">
			回帖(<%= comment_count %>)</a>
		
		|
			
		发表于
		<%= format_datetime(activity_post.created_at) %>
	</div>
</div>

