<% comment_count = ActivityPostComment.get_count(activity_post.id) %>

<div class="community_index_post" style="border-bottom: 1px #B2B2B2 dashed">
	<div>
		<a href="/activity/posts/<%= activity_post.id %>" class="account_nick_link">
			<%= h(activity_post.title) %></a>
			
		&nbsp;&nbsp;
		
		<span class="form_info_s">
			来自:
			<% account = activity_post.account %>
			<a href="/spaces/show/<%= account.id%>" class="account_nick_link">
				<%= h(account.get_nick) %></a>
			
			|
			
			<a href="/activity/posts/<%= activity_post.id %>#comment_list" class="account_nick_link">
				回帖(<%= comment_count %>)</a>

			|

			<%= format_date(activity_post.created_at) %>
		</span>
	</div>
</div>

