<% comment_count = GroupPostComment.get_count(group_post.id) %>

<div class="community_index_post" style="border-bottom: 1px #B2B2B2 dashed">
	<div>
		<a href="/group/posts/<%= group_post.id %>" class="account_nick_link">
			<%= h(group_post.title) %></a>
			
		&nbsp;&nbsp;
		
		<span class="form_info_s">
			来自:
			<%
				account_id = group_post.account_id
				account_nick = Account.get_nick_and_pic(account_id)[0]
			%>
			<a href="/spaces/show/<%= account_id %>" class="account_nick_link">
				<%= h(account_nick) %></a>
			
			|
			
			<a href="/group/posts/<%= group_post.id %>#comment_list" class="account_nick_link">
				回帖(<%= comment_count %>)</a>

			|

			<%= format_date(group_post.created_at) %>
		</span>
	</div>
</div>

