<% post_content = extract_text(group_post.content) %>
<% post_content = sanitize_tinymce(post_content) %>

<% comment_count = GroupPostComment.get_count(group_post.id) %>

<div>
	<div class="community_index_post_title">
		<a href="/group/posts/<%= group_post.id %>" class="account_nick_link">
			<%= h(group_post.title) %></a>
	</div>
	
	<div>
		<%= truncate(post_content, 100) %>
	</div>
	
	<div class="form_info_s align_r">
		<a href="/group/posts/<%= group_post.id %>#comment_list" class="account_nick_link">
			回帖(<%= comment_count %>)</a>
		
		|
			
		发表于
		<%= format_datetime(group_post.created_at) %>
	</div>
</div>

