<% community_page_title("搜索乔布圈") %>

<div class="float_r blog_container_r">
	<div class="community_title">
		其他搜索范围 ...
	</div>

	<%
		search_scopes = {
			:all => "全部",
			:account => "成员",
			:group => "圈子",
			:group_post => "圈子话题",
			:activity => "活动",
			:activity_post => "活动话题",
			:recruitment => "招聘信息",
			:vote => "投票",
			:blog => "博客"
			# ,
			# :qa => "问答",
		}
	%>
	<div class="community_block">
		<ul>
			<% search_scopes.each do |key, value| %>
				<li>
					<a href="#" onclick="submit_search_form('<%= key %>'); return false;"<%= " class=\"link_selected\"" if @scope == key.to_s %>>
						<%= value %></a>
				</li>
			<% end %>
		</ul>
	</div>
	
</div>

<div class="blog_container_l">
	<h2>搜索乔布圈</h2>
	
	<div class="community_block">
		<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :class => "community_block align_c" do %>
			<% form_tag "/community/search", :method => :get, :id => "search_form" do %>
				<select name="scope" class="dropdown_list" id="scope_select">
					<option value="all"<%= " selected=\"selected\"" if @scope == "all" %>>选择搜索范围</option>
					<option value="account"<%= " selected=\"selected\"" if @scope == "account" %>>成员</option>
					<option value="group"<%= " selected=\"selected\"" if @scope == "group" %>>圈子</option>
					<option value="group_post"<%= " selected=\"selected\"" if @scope == "group_post" %>>圈子话题</option>
					<option value="activity"<%= " selected=\"selected\"" if @scope == "activity" %>>活动</option>
					<option value="activity_post"<%= " selected=\"selected\"" if @scope == "activity_post" %>>活动话题</option>
					<option value="recruitment"<%= " selected=\"selected\"" if @scope == "recruitment" %>>招聘信息</option>
					<option value="vote"<%= " selected=\"selected\"" if @scope == "vote" %>>投票</option>
					<option value="blog"<%= " selected=\"selected\"" if @scope == "blog" %>>博客</option>
					<!--
					<option value="qa"<%= " selected=\"selected\"" if @scope == "qa" %>>问答</option>
					-->
					<!--
					<option value="idea"<%= " selected=\"selected\"" if @scope == "idea" %>>想法</option>
					<option value="share"<%= " selected=\"selected\"" if @scope == "share" %>>分享</option>
					-->
				</select>
				<input type="text" name="query" id="query_input" class="text_field search_input" size="35" value="<%= h(@query) %>" />
				<input type="submit" value="搜索" class="button" />
				
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/info/newbie#search_help" target="_blank">帮助</a>
			<% end %>
		<% end %>
	</div>

	<% if @scope == "all" %>
		
		<script language="JavaScript">
			function expand_section(div_id) {
				var expand_icon = div_id + "_expand";
				var collapse_icon = div_id + "_collapse";

				document.getElementById(div_id).style.display = "";
				document.getElementById(expand_icon).style.display = "";
				document.getElementById(collapse_icon).style.display = "none";
			}

			function collapse_section(div_id) {
				var expand_icon = div_id + "_expand";
				var collapse_icon = div_id + "_collapse";

				document.getElementById(div_id).style.display = "none";
				document.getElementById(expand_icon).style.display = "none";
				document.getElementById(collapse_icon).style.display = "";
			}
		</script>
		
		<%
			all_scope_items = {
				:activity => "活动",
				:activity_post => "活动话题",
				:group => "圈子",
				:group_post => "圈子话题",
				:recruitment => "招聘信息",
				:vote => "投票"
			}
		%>
		<% all_scope_items.each do |key, value| %>
			<% item_results = eval("@#{key.to_s.pluralize}") %>
			<% if item_results && item_results.total_entries > 0 %>
				<div class="community_block">
					<div>
						<a class="float_r" title="收起" id="<%= key %>_section_expand" href="#" onclick="collapse_section('<%= key %>_section'); return false;">
							<img src="/images/expand.png" border="0" /></a>
						<a class="float_r" title="展开" id="<%= key %>_section_collapse" href="#" onclick="expand_section('<%= key %>_section'); return false;" style="display: none">
							<img src="/images/collapse.png" border="0" /></a>

						<span class="float_r">
							<a href="#" onclick="submit_search_form('<%= key %>'); return false;">
								搜索更多 <%= value %></a>
							&nbsp;&nbsp;&nbsp;
						</span>

						<b>
							<%= value %>
						</b>
					</div>

					<div id="<%= key %>_section">
						<% item_results.each do |result| %>
							<% if result %>
								<%= render :partial => "/community/search_results/#{result.class.name.downcase}", :locals => {:result => result, :query => @query, :riddle_client => get_riddle_client} %>

								<div style="padding: 0px 25px">
									<%= thin_hr %>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
		
	<% else %>
	
		<div class="community_block_narrow form_info_s">
			<b>
				<%= @results ? @results.total_entries : 0 %>
			</b>
			条
		</div>

		<% if @results %>
			<div class="community_block">
				<% @results.each do |result| %>
					<% if result %>
						<%= render :partial => "/community/search_results/#{result.class.name.downcase}", :locals => {:result => result, :query => @query, :riddle_client => get_riddle_client} %>
				
						<div style="padding: 0px 25px">
							<%= thin_hr %>
						</div>
					<% end %>
				<% end %>
			</div>
	
			<div class="community_block">
				<%= paging_buttons(@results) %>
			</div>
		<% end %>
	
	<% end %>
	
</div>



<script language="JavaScript" type="text/javascript">
	function submit_search_form(scope){
		var scope_form = document.getElementById("search_form");
		var scope_select = document.getElementById("scope_select");
		for(var i = 0; i < scope_select.options.length; i++){
			var option = scope_select.options[i];
			if(option.value == scope){
				option.selected = true;
				break;
			}
		}
		document.getElementById("query_input").value = "<%= h(@query) %>";
		scope_form.submit();
	}
</script>

