<%
	target_info = closed_target.get_info
	
	company = closed_target.company
	Company.set_company_cache(company)
	
	position = closed_target.job_position
	JobPosition.set_position_cache(position)
%>

<tr>
	<td align="left" valign="middle" style="width: 40px;">
		<a title="删除" href="#" onclick="delete_target(<%= closed_target.id %>); return false;">
			<img src="/images/delete_small.gif" border="0" /></a>
	</td>
	
	<td align="left" valign="middle" style="font-size: 14px;">
		<%= get_target_company_name(closed_target, company, target_info) %>
	</td>
	
	<td align="left" valign="middle" style="font-size: 14px;">
		<%= h(position.name) %>
	</td>
	
	<td align="left" valign="middle">
		<%= format_date(closed_target.created_at) %>
	</td>
	
	<td align="right" valign="middle" style="width: 100px;">
		<a href="#" onclick="open_target(<%= closed_target.id %>); return false;">
			<img src="/images/job_targets/unclose_target_icon.gif" border="0" />
			打开目标</a>
	</td>
</tr>

<tr>
	<td colspan="5" style="border-bottom: 1px dashed #EAEAEA;"></td>
</tr>


