<div class="float_l step<%= " step_current" if (step.id == target.current_job_step_id) %>" id="step_<%= step.id %>"<%= %Q! style="color: ##{status.color};"! if status %>>
	<div>
		<span id="step_label_<%= step.id %>">
			<%= h(step.label) %>
		</span>
	</div>
	
	<div>
		<span id="step_begin_<%= step.id %>">
			<%= step.begin_at && step.begin_at.strftime("%m.%d") %>
		</span>
		
		<span id="step_process_<%= step.id %>">
			(<%= h(process.name) %>)
		</span>
		
		<span id="step_end_<%= step.id %>">
			<%= step.end_at && step.end_at.strftime("%m.%d") %>
		</span>
	</div>
</div>


