<div class="float_l step<%= " step_current" if (step.id == target.current_job_step_id) %>" id="step_<%= step.id %>">
	<div id="step_status_<%= step.id %>" class="float_l step_status"<%= %Q! style="background-color: ##{status.color};"! if status %>>
		
	</div>
	
	<div class="float_l step_text">
		<% step_label = h(step.label) %>
		<span id="step_label_<%= step.id %>">
			<%= h(step.label) %>
		</span>
		<span id="step_process_<%= step.id %>"<%= %Q! style="display: none"! if step_label && step_label != "" %>>
			<%= h(process.name) %>
		</span>
	</div>
	
	<div class="float_r step_info">
		<span id="step_end_<%= step.id %>">
			<%= step.end_at && step.end_at.strftime("%m.%d") %>
		</span>
		
		<br />
		
		<img src="/images/job_targets/alerm_tiny.gif" border="0" alt="已设置结束前提醒" title="已设置结束前提醒" />
	</div>
</div>


