<%
	company = target.company
	Company.set_company_cache(company)
	
	position = target.job_position
	JobPosition.set_position_cache(position)
%>

<%
	steps = target.steps
	steps.each do |s|
		# set the job step cache
		JobStep.set_step_cache(s)
	end
	
	current_step = nil
	ordered_steps = target.get_info[:step_order].collect { |sid|
		sobj = nil
		begin
			sobj = JobStep.get_step(sid)
		rescue
		end
		
		current_step = sobj if target.current_job_step_id == sid
		
		if sobj
%>
			<script language="JavaScript" type="text/javascript">
				steps.step_<%= sobj.id %> = {
					id: "<%= sobj.id %>",
					target_id: "<%= sobj.job_target_id %>",
					process_id: "<%= sobj.job_process_id %>",
					status_id: "<%= sobj.job_status_id %>",
					label: "<%= h(sobj.label) %>"
				};
			</script>
<%
		end
		
		sobj
	}.compact
%>

<script language="JavaScript" type="text/javascript">
	current_step_mapping["<%= target.id %>"] = "<%= target.current_job_step_id %>";
</script>

<tr>
	<td>
		<%#= target.starred ? 1 : 2 %>
		<%= target.id > 4 ? 1 : 2 %>
	</td>
	
	<td>
		<%= current_step && format_short_date(current_step.end_at) %>
	</td>
	
	<td>
		<%= h(company.name) %>
	</td>
	
	<td>
		<%= h(position.name) %>
	</td>
	
	<td>
		<%= format_short_date(target.created_at) %>
	</td>
	
	<td>
		<div id="step_group_<%= target.id %>">
			<% ordered_steps.each do |step| %>
				<% process = JobProcess.get_process(step.job_process_id) %>
				<% status = JobStatus.get_status(step.job_status_id) if step.job_status_id && step.job_status_id > 0 %>
				
				<%= render :partial => "step", :locals => {:step => step, :target => target, :process => process, :status => status} %>
				
				<script language="JavaScript" type="text/javascript">
					processes["<%= process.id %>"] = {
						id: "<%= process.id %>",
						name: "<%= h(process.name) %>"
					};
					
					<% if status %>	
						statuses["<%= status.id %>"] = {
							id: "<%= status.id %>",
							name: "<%= h(status.name) %>",
							color: "<%= status.color %>"
						};
					<% end %>
				</script>
			<% end %>
		</div>
	</td>
	
	<td><%= target.id %></td>
</tr>


