<%
	company = target.company
	Company.set_company_cache(company)
	
	position = target.job_position
	JobPosition.set_position_cache(position)
%>

<%
	steps = target.steps
	steps.each do |s|
		# set the job step cache
		JobStep.set_step_cache(s)
	end
	
	ordered_steps = target.get_info[:step_order].collect { |sid|
		sobj = nil
		begin
			sobj = JobStep.get_step(sid)
		rescue
		end
		
		sobj
	}.compact
%>

<tr>
	<td>
		<%= h(company.name) %>
	</td>
	
	<td>
		<%= h(position.name) %>
	</td>
	
	<td>
		<%= format_short_date(target.created_at) %>
	</td>
	
	<td>
		<script language="JavaScript" type="text/javascript">
			step_dd_groups.step_dd_group_<%= target.id %> = [];
			group_and_target_id_mapping.step_dd_group_<%= target.id %> = <%= target.id %>;
		</script>
		
		<div id="step_dd_group_<%= target.id %>">
			<% ordered_steps.each do |step| %>
				<div class="float_l step<%= " step_current" if (step.id == target.current_job_step_id) %>" id="step_<%= step.id %>">
					<%= h(step.label) %>
					(<%= h(JobProcess.get_process(step.job_process_id).name) %>)
				</div>
				
				<script language="JavaScript" type="text/javascript">
					step_dd_groups.step_dd_group_<%= target.id %>.push("step_<%= step.id %>");
					step_id_mapping.step_<%= step.id %> = <%= step.id %>;
				</script>
			<% end %>
		</div>
	</td>
</tr>


