<% page_title = "我的求职日历" %>
<% community_page_title(page_title) %>


<div class="blog_container">
	<a href="/job_targets/list/<%= session[:account_id] %>" class="float_r">
		返回我的求职目标</a>
		
	<h2><%= page_title %></h2>
	
	
	
	
	
	
	<div class="community_block">
		
		<div>
			<link rel="stylesheet" href="/stylesheets/calendar.css" type="text/css"></link>
			
			<div>
				<div>
					<table cellspacing="0" cellpadding="0" class="calendar_action_bar">
						<tbody>
							<tr>
								<td>
									<table cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td>
													<a href="/job_targets/calendar/<%= session[:account_id] %>/" title="上一个月">
														<img src="/images/job_targets/calendar/prev_btn_small.gif" border="0" alt="更早" style="padding-left: 5px;" /></a>
												</td>
												
												<td>
													<span style="padding: 0px 5px; white-space: nowrap; font-size: 14px; font-weight: bold;">2009年8月</span>
												</td>
												
												<td>
													<a href="#" title="下一个月">
														<img src="/images/job_targets/calendar/next_btn_small.gif" border="0" alt="更晚" /></a>
												</td>
												
												<td>
													<span style="padding-left: 20px; white-space: nowrap;">
														<a href="/job_targets/calendar/<%= session[:account_id] %>">
															跳转到今天</a>
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td style="float: right; text-align: right;">
									<table cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td>
													<img src="/images/job_targets/steward_small.png" border="0" alt="求职管家" width="22" height="25" style="padding-right: 5px;" />
												</td>
												<td>
													<span style="padding-right: 30px; white-space: nowrap;">
														根据
														<a href="/job_targets/list/<%= session[:account_id] %>">
															您的求职目标列表</a>
														为您生成的专属求职日
													</span>
												</td>
												<td>
													<div class="view_name_t2"> </div>
													<div class="view_name_t1">
													</div>
													<div class="selected_view_name">
														<nobr>按月查看</nobr>
													</div>
												</td>
												<td style="width: 2px;"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		
			<div class="calendar_t2"> </div>
			<div class="calendar_t1"> </div>
			
			<div class="calendar_container">
				<div>
					<a href="#" onclick="toggle_func_list(); return false;" title="显示/隐藏左边的功能列表栏, 缩小/增大求职目标日历的宽度">
						<img src="/images/job_targets/hide_left_icon.gif" border="0" /></a>
					
					&nbsp;&nbsp;&nbsp;
						
					<a href="#" onclick="adjust_calendar_height(-50); return false;" title="缩小日历高度">
						<img src="/images/job_targets/calendar/decrease_height_icon.gif" border="0" /></a>
					
					&nbsp;&nbsp;&nbsp;
					
					<a href="#" onclick="adjust_calendar_height(50); return false;" title="增大日历高度">
						<img src="/images/job_targets/calendar/increase_height_icon.gif" border="0" /></a>
				</div>
				
				<div class="calendar_body" id="calendar_body">
					<div class="calendar_cells">
						<table cellspacing="0" cellpadding="0" class="calendar_daynames">
							<tbody>
								<tr>
									<th title="周一" class="mv-dayname">周一</th>
									<th title="周二" class="mv-dayname">周二</th>
									<th title="周三" class="mv-dayname">周三</th>
									<th title="周四" class="mv-dayname">周四</th>
									<th title="周五" class="mv-dayname">周五</th>
									<th title="周六" class="mv-dayname">周六</th>
									<th title="周日" class="mv-dayname">周日</th>
								</tr>
							</tbody>
						</table>
						
						<div class="calendar_days">
							<div style="top: 0%; height: 20%;" class="month-row">
								<table cellspacing="0" cellpadding="0" class="st-bg-table">
									<tbody>
										<tr>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
										</tr>
									</tbody>
								</table>
								<table cellspacing="0" cellpadding="0" class="st-grid">
									<tbody>
										<tr>
											<td class="st-dtitle st-dtitle-nonmonth">
												<span class="ca-cdp20219">27</span>
											</td>
											<td class="st-dtitle st-dtitle-nonmonth">
												<span class="ca-cdp20220">28</span>
											</td>
											<td class="st-dtitle st-dtitle-nonmonth">
												<span class="ca-cdp20221">29</span>
											</td>
											<td class="st-dtitle st-dtitle-nonmonth">
												<span class="ca-cdp20222">30</span>
											</td>
											<td class="st-dtitle st-dtitle-nonmonth">
												<span class="ca-cdp20223">31</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20225">8月 1</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20226">2</span>
											</td>
										</tr>
										<tr>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
										</tr>
									</tbody>
								</table>
							</div>
							<div style="top: 16.6667%; height: 16.6667%;" class="month-row">
								<table cellspacing="0" cellpadding="0" class="st-bg-table">
									<tbody>
										<tr>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
										</tr>
									</tbody>
								</table>
								<table cellspacing="0" cellpadding="0" class="st-grid">
									<tbody>
										<tr>
											<td class="st-dtitle">
												<span class="ca-cdp20227">3</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20228">4</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20229">5</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20230">6</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20231">7</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20232">8</span>
											</td>
											<td class="st-dtitle st-dtitle-today">
												<span class="ca-cdp20233">今天 9</span>
											</td>
										</tr>
										<tr>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
										</tr>
									</tbody>
								</table>
							</div>
							<div style="top: 33.3333%; height: 16.6667%;" class="month-row">
								<table cellspacing="0" cellpadding="0" class="st-bg-table">
									<tbody>
										<tr>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
										</tr>
									</tbody>
								</table>
								<table cellspacing="0" cellpadding="0" class="st-grid">
									<tbody>
										<tr>
											<td class="st-dtitle">
												<span class="ca-cdp20234">10</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20235">11</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20236">12</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20237">13</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20238">14</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20239">15</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20240">16</span>
											</td>
										</tr>
										<tr>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
										</tr>
									</tbody>
								</table>
							</div>
							<div style="top: 50%; height: 16.6667%;" class="month-row">
								<table cellspacing="0" cellpadding="0" class="st-bg-table">
									<tbody>
										<tr>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
										</tr>
									</tbody>
								</table>
								<table cellspacing="0" cellpadding="0" class="st-grid">
									<tbody>
										<tr>
											<td class="st-dtitle">
												<span class="ca-cdp20241">17</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20242">18</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20243">19</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20244">20</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20245">21</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20246">22</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20247">23</span>
											</td>
										</tr>
										<tr>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
										</tr>
									</tbody>
								</table>
							</div>
							<div style="top: 66.6667%; height: 16.6667%;" class="month-row">
								<table cellspacing="0" cellpadding="0" class="st-bg-table">
									<tbody>
										<tr>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
										</tr>
									</tbody>
								</table>
								<table cellspacing="0" cellpadding="0" class="st-grid">
									<tbody>
										<tr>
											<td class="st-dtitle">
												<span class="ca-cdp20248">24</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20249">25</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20250">26</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20251">27</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20252">28</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20253">29</span>
											</td>
											<td class="st-dtitle">
												<span class="ca-cdp20254">30</span>
											</td>
										</tr>
										<tr>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
										</tr>
									</tbody>
								</table>
							</div>
							<div style="top: 83.3333%; height: 16.6667%;" class="month-row">
								<table cellspacing="0" cellpadding="0" class="st-bg-table">
									<tbody>
										<tr>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
											<td class="st-bg"> </td>
										</tr>
									</tbody>
								</table>
								<table cellspacing="0" cellpadding="0" class="st-grid">
									<tbody>
										<tr>
											<td class="st-dtitle">
												<span class="ca-cdp20255">31</span>
											</td>
											<td class="st-dtitle st-dtitle-nonmonth">
												<span class="ca-cdp20257">9月 1</span>
											</td>
											<td class="st-dtitle st-dtitle-nonmonth">
												<span class="ca-cdp20258">2</span>
											</td>
											<td class="st-dtitle st-dtitle-nonmonth">
												<span class="ca-cdp20259">3</span>
											</td>
											<td class="st-dtitle st-dtitle-nonmonth">
												<span class="ca-cdp20260">4</span>
											</td>
											<td class="st-dtitle st-dtitle-nonmonth">
												<span class="ca-cdp20261">5</span>
											</td>
											<td class="st-dtitle st-dtitle-nonmonth">
												<span class="ca-cdp20262">6</span>
											</td>
										</tr>
										<tr>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
											<td class="st-c st-s"> </td>
										</tr>
									</tbody>
								</table>
							</div>
						
						</div>
					</div>
				</div>
			
			</div>
			
			<div class="bottom_action_bar">
				<div class="align_r">
					<a href="#" onclick="adjust_calendar_height(-50); return false;" title="缩小日历高度">
						<img src="/images/job_targets/calendar/decrease_height_icon.gif" border="0" /></a>
					&nbsp;&nbsp;&nbsp;
					<a href="#" onclick="adjust_calendar_height(50); return false;" title="增大日历高度">
						<img src="/images/job_targets/calendar/increase_height_icon.gif" border="0" /></a>
				</div>
			</div>
			
			<div class="calendar_t1"> </div>
			<div class="calendar_t2"> </div>
			
			
			<script language="JavaScript" type="text/javascript">	
				function adjust_calendar_height(n) {
					var cb = document.getElementById("calendar_body");
					var h = cb.offsetHeight;

					if(h <= 200 && n < 0) {
						return;
					}

					cb.style.height = (h + n) + "px";
				}
			</script>
			
		</div>
		
	</div>
</div>


