<% page_title = "我的求职目标" %>
<% community_page_title(page_title) %>

<div class="float_r">
	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 320px;" do %>
		<div class="action_bar">
			<a href="/job_targets/new">
				<img src="/images/job_targets/new_job_target_small.gif" border="0" style="margin-right: 5px;" />添加求职目标</a>
			
			<a href="/job_targets">
				<img src="/images/job_targets/determine_job_target_small.gif" border="0" style="margin-right: 5px;" />还没有目标?帮我确定目标</a>
		</div>
	<% end %>
</div>
	
<div>
	<img class="float_l" style="margin: 0px 10px;" src="/images/job_targets/steward_small.png" border="0" alt="求职管家" />
	<h2><%= page_title %></h2>
	
	<br />
	
	<% if info_editor?(session[:account_id]) %>
		<div class="community_block align_r" style="word-spacing: 10px;">
			<a href="#" target="_blank">
				管理求职信息</a>
				
			|
			
			管理系统添加的:
			<a href="/industry/job_items" target="_blank">
				行业</a>
				
			<a href="/company/job_items" target="_blank">
				公司</a>
				
			<a href="/job_position/job_items" target="_blank">
				职位</a>
				
			<a href="/job_targets/system_process">
				流程</a>
					
			<a href="/job_targets/system_status">
				状态</a>
		</div>
	<% end %>


	
	<div id="loading_container" class="community_block" style="padding-left: 50px;">
		<img src="/images/loading_small.gif" />
		&nbsp;
		正在加载 求职目标 ...
	</div>
	
	
	
	<link rel="stylesheet" href="/lib/ext/resources/css/ext-all.css" type="text/css" media="screen"></link>
	<link rel="stylesheet" href="/lib/ext/resources/css/xtheme-gray.css" type="text/css" media="screen"></link>

	<script language="JavaScript" type="text/javascript" src="/lib/ext/adapter/ext/ext-base.js"></script>
	<script language="JavaScript" type="text/javascript" src="/lib/ext/ext-all.js"></script>

	<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/GridFilters.js"></script>
	<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/Filter.js"></script>
	<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/NumericFilter.js"></script>
	<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/StringFilter.js"></script>
	<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/DateFilter.js"></script>
	<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/grid/filter/BooleanFilter.js"></script>

	<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/menu/RangeMenu.js"></script>
	<script language="JavaScript" type="text/javascript" src="/lib/ext/build/widgets/menu/EditableItem.js"></script>

	<script language="JavaScript" type="text/javascript" src="/lib/ext/build/locale/ext-lang-zh_CN.js"></script>

	<script language="JavaScript" type="text/javascript" src="/javascripts/job_target_table.js"></script>



	<script language="JavaScript" type="text/javascript">
	
		var form_authenticity_token = encodeURIComponent("<%= form_authenticity_token %>");
		
		var current_user_id = <%= session[:account_id] %>;
		
		var target_count = <%= @targets.size %>;
		
		var system_processes = [];
		var account_processes = [];
		
		<% @system_processes.each do |process| %>
			system_processes.push(
				{
					id: "<%= process.id %>",
					name: "<%= h(process.name) %>"
				}
			);
		<% end %>
		<% @account_processes.each do |process| %>
			account_processes.push(
				{
					id: "<%= process.id %>",
					name: "<%= h(process.name) %>"
				}
			);
		<% end %>
		
		
		var system_statuses = [];
		var account_statuses = [];
		
		<% @system_statuses.each do |status| %>
			system_statuses.push(
				{
					id: "<%= status.id %>",
					name: "<%= h(status.name) %>",
					color: "<%= status.color %>"
				}
			);
		<% end %>
		<% @account_statuses.each do |status| %>
			account_statuses.push(
				{
					id: "<%= status.id %>",
					name: "<%= h(status.name) %>",
					color: "<%= status.color %>"
				}
			);
		<% end %>
		

		Ext.onReady(
			function() {
				toggle_func_list(false);
				
				Ext.get("table_container").show(true);
				create_table_grid();

				Ext.get("loading_container").remove();
			}
		);

	</script>
	
	
	
	<div id="table_container" class="community_block" style="display: none;">
		
		<table id="job_targets_container" cellpadding="0" cellspacing="0" border="0" class="main_part_w">
			<thead>
				<tr>
					<th>星标</th>
					<th>当前期限</th>
					<th>公司</th>
					<th>职位</th>
					<th>添加日期</th>
					<th>步骤</th>
					<td>目标编号</td>
				</tr>
			</thead>
			
			<tbody>
				<%= render :partial => "target", :collection => @targets %>
			</tbody>
		</table>
		
	</div>
	
</div>


