<% page_title = "添加求职目标: 选择目标公司" %>
<% community_page_title(page_title) %>

	
<div class="blog_container">
	<a class="float_r" href="/job_targets/list/<%= session[:account_id] %>">
		返回我的求职目标</a>
		
	<h2><%= page_title %></h2>
	
	<%= render :partial => "new_job_target_order", :locals => {:current_order => 0} %>
	
	<div class="community_block">
		<div class="info_msg float_r" style="width: 200px; color: #666666;">
			友情提醒: 使用系统添加的公司可获得更多的关联信息噢~
		</div>
		
		
		<input type="radio" value="system" name="company_from" id="company_from_system"<%= %Q! checked="checked"! if @company_from == "system" %> onclick="change_company_from(this.value);" />
		<label for="company_from_system">
			从系统添加的公司中选择
		</label>
	
		&nbsp;&nbsp;
		&nbsp;&nbsp;
		
		<input type="radio" value="mine" name="company_from" id="company_from_mine"<%= %Q! checked="checked"! if @company_from == "mine" %> onclick="change_company_from(this.value);" />
		<label for="company_from_mine">
			从自己曾添加的公司中选择
		</label>
		
		&nbsp;&nbsp;
		&nbsp;&nbsp;
		
		<input type="radio" value="new" name="company_from" id="company_from_new"<%= %Q! checked="checked"! if @company_from == "new" %> onclick="change_company_from(this.value);" />
		<label for="company_from_new">
			添加新的公司
		</label>
		
	</div>
	
	
	<div class="community_block_narrow" id="specify_company_from_system" style="display: none;">
		<div class="community_block_narrow form_info_s">
			搜索并选择要添加的公司
			<% if @found_system_companies %>
				,
				&nbsp;&nbsp;&nbsp;
				搜索到
				<b><%= @found_system_companies.size %></b>
				个公司
			<% end %>
		</div>
		
		<div class="community_block">
			<% form_tag "/job_targets/new", :method => :get do %>
				<input type="text" name="query" class="text_field search_input" size="25" value="<%= h(@query) %>" />
				&nbsp;&nbsp;&nbsp;
				<input type="submit" value="搜索公司" class="button" />

				<% if general_admin?(session[:account_id]) %>
					&nbsp;&nbsp;&nbsp;
					<a href="/company/job_items" target="_blank">
						管理系统添加的公司</a>
				<% end %>
			<% end %>
		</div>
		
		<div class="community_block">
			<% if @found_system_companies %>
				<%= render :partial => "item", :collection => @found_system_companies %>
			<% end %>
		</div>
		
		<div class="community_block align_r">
			<a href="#" onclick="select_company_from_new(); return false;">
				系统还没有添加要找的公司? 那么先自己添加一个吧</a>
		</div>
	</div>
	
	<div class="community_block_narrow" id="specify_company_from_mine" style="display: none;">
		<% account_companies = Company.get_account_companies(session[:account_id]) %>
		
		<% unless account_companies.size > 0 %>
			<div class="form_info_l">
				还没有添加过公司 ...
			</div>
		<% end %>
		
		<%= render :partial => "item", :collection => account_companies %>
	</div>
	
	<div class="community_block_narrow" id="specify_company_from_new" style="display: none;">
		<% if flash[:error_msg] %>
			<p class="error_msg" style="width: 400px;"><%= flash[:error_msg] %></p>
		<% end %>
		
		<% form_tag "/job_targets/new_for_position", :method => :post do %>
			<div class="community_block" style="margin-top: 10px;">
				<label for"new_company_name">
					公司的名称(<span style="color: red;">*</span>):
					&nbsp;
				</label>
			</div>
			<div class="community_block_narrow">
				<input type="text" id="new_company_name" name="new_company_name" class="text_field" size="50" value="<%= h(@company_name) %>" />
				<div class="form_info_l">
					例如: 国际商用机器有限公司
				</div>
			</div>
			
			<div class="community_block" style="margin-top: 10px;">
				<label for"new_company_desc">
					公司的英文名, 别名 或 其他常用名:
					&nbsp;
				</label>
			</div>
			<div class="community_block_narrow">
				<input type="text" id="new_company_desc" name="new_company_desc" class="text_field" size="50" value="<%= h(@company_desc) %>" />
				<div class="form_info_l">
					例如: IBM
				</div>
			</div>
			
			<div class="community_block">
				<%= submit_tag "下一步", :class => "button", :disabled => @account_limited %>
			</div>
		<% end %>
	</div>
	
	
	<% form_tag "/job_targets/new_for_position", :method => :post, :id => "company_id_form" do %>
		<input type="hidden" name="company_id" id="company_id" value="" />
	<% end %>
	
</div>


<script language="JavaScript" type="text/javascript">

	function select_item(item_id) {
		document.getElementById("company_id").value = item_id;
		document.getElementById("company_id_form").submit();
	}

	function select_company_from_new() {
		var radio = document.getElementById("company_from_new");
		radio.checked = true;
		radio.onclick();
	}

	function change_company_from(company_from) {
		document.getElementById("specify_company_from_system").style.display = "none";
		document.getElementById("specify_company_from_mine").style.display = "none";
		document.getElementById("specify_company_from_new").style.display = "none";
		
		document.getElementById("specify_company_from_" + company_from).style.display = "";
	}
	
	change_company_from("<%= @company_from %>");

</script>


