<% page_title = "与求职目标 #{@target_name} 相关的招聘信息" %>
<% community_page_title(page_title) %>


<div class="blog_container">
	<a href="/job_targets/list/<%= session[:account_id] %>" class="float_r">
		返回我的求职目标</a>
		
	<h2><%= page_title %></h2>
	
	
	
	<div class="community_block_narrow" style="color: #555555;">
		<img src="/images/job_targets/steward_small.png" border="0" alt="求职管家" />
		
		&nbsp;&nbsp;
		
		为您找到了
		<span style="font-size: 14px; color: #000000;"><b><%= @recruitments.total_entries %></b></span>
		条
		与您的求职目标
		<span style="font-size: 14px; color: #000000;"><strong><%= @target_name %></strong></span>
		相关的招聘信息
	</div>
	
	<div class="overflow_hidden">
		<a href="/job_targets/<%= @target.id %>/recruitments_by_rel" class="<%= @by_rel ? "order_by_selected" : "order_by" %>">
			按相关度排序</a>
		
		<a href="/job_targets/<%= @target.id %>/recruitments" class="<%= @by_rel ? "order_by" : "order_by_selected" %>">
			按发布时间排序</a>
			
		<div class="clear_r"></div>
	</div>
	
	
	<% form_tag "/job_targets/create_from_recruitment", :method => :post, :target => RecruitmentsController::Create_Job_Target_Page_Name, :id => "create_job_target_form" do %>
		<input type="hidden" id="job_target_recruitment_title" name="recruitment_title" value="" />
		<input type="hidden" id="job_target_recruitment_id" name="recruitment_id" value="" />
	<% end %>
	<script language="JavaScript" type="text/javascript">
		function create_job_target(title, id) {
			if(confirm("确定要根据招聘信息 " + title + " 创建求职目标么 ?")){
				document.getElementById("job_target_recruitment_title").value = title;
				document.getElementById("job_target_recruitment_id").value = id;
				document.getElementById("create_job_target_form").submit();
			}
		}
	</script>
	
	<div class="community_block">
		<%= paging_buttons(@recruitments) %>
	</div>
	
	<div class="community_block">
		<%#= render(:partial => "/recruitments/recruitment", :collection => @recruitments) %>
		<% @recruitments.each do |r| %>
			<% if r %>
				<%= render(:partial => "/community/search_results/recruitment", :locals => {:result => r, :query => @company_name, :riddle_client => get_riddle_client}) %>
			
				<div style="height: 15px; margin: 0px 100px 20px; border-bottom: 1px dashed #DDDDDD;">
				
				</div>
			<% end %>
		<% end %>
	</div>

	<div class="community_block">
		<%= paging_buttons(@recruitments) %>
	</div>
</div>


