<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_content">
				<a href="#pfizer">辉瑞制药公司</a>&nbsp;
				<a href="#msd">默沙东(默克)集团公司</a>&nbsp;
				<a href="#bi">勃林格殷格翰</a>&nbsp;
				<a href="#novartis">诺华制药公司</a>&nbsp;
				<a href="#mindray">迈瑞</a>&nbsp;
				<a href="#jnj">强生</a>&nbsp;
				<a href="#lillychina">中国礼来公司</a>&nbsp;
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.novartis.com.cn/" target="_blank">http://www.novartis.com.cn/</a>
					&nbsp;
				</span>
				<a name="novartis">诺华</a> »
			</div>

			<div class="index_container_l_section_content">
				<a href="#top" style="float: right;">回页首</a>
				
				<div>
					<table border="0" cellspacing="10" cellpadding="2">
						<tr>
							<td>上海复旦大学医学院</td>
							<td style="color: #FF9900; font-weight: bold;">11月23日18:30</td>
							<td>新教306</td>
						</tr>
					</table>
				</div>
				
				<%= draw_hor_line("300px", "1px") %>
				
				<div>
					招聘岗位1：遍及全国的实习医药代表
				</div>
				
				<%= draw_hor_line("300px", "1px") %>
				
				<div>
					招聘岗位2：北京昌平工厂实习物流专员、实习生产技术员、实习工程部技术员、实习理化分析师，北京总部实习医学助理等职位
					<br />
					专业要求：未明确限制
				</div>
			</div>
			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.boehringer-ingelheim.com.cn/" target="_blank">http://www.boehringer-ingelheim.com.cn/</a>
					&nbsp;
				</span>
				<a name="bi">勃林格殷格翰</a> »
			</div>

			<div class="index_container_l_section_content">
				<a href="#top" style="float: right;">回页首</a>
				
				<div>
					<table border="0" cellspacing="10" cellpadding="2">
						<tr>
							<td>上海交通大学医学院</td>
							<td style="color: #FF9900; font-weight: bold;">11月10日18:00</td>
							<td>懿德楼2楼报告厅</td>
						</tr>
						<tr>
							<td>华东理工大学</td>
							<td style="color: #FF9900; font-weight: bold;">11月11日18:00</td>
							<td>一教101室</td>
						</tr>
					</table>
				</div>
				
				<%= draw_hor_line("300px", "1px") %>
				
				<div>
					招聘岗位：医药代表/大区销售助理/质量保证技术员
					<br />
					专业要求：临床医学，制药工程，药物制剂，护理学，预防医学，中医学，中药学，化学，生物工程，药品市场营销，市场营销，兽医，畜牧等相关专业
				</div>
			</div>
			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.msdchina.com.cn/" target="_blank">http://www.msdchina.com.cn/</a>
					&nbsp;
				</span>
				<a name="msd">默沙东</a> »
			</div>

			<div class="index_container_l_section_content">
				<a href="#top" style="float: right;">回页首</a>
				
				<div>
					<table border="0" cellspacing="10" cellpadding="2">
						<tr>
							<td>上海交通大学附属医学院</td>
							<td style="color: #FF9900; font-weight: bold;">10月29日</td>
							<td>懿德楼二楼报告厅</td>
						</tr>
						<tr>
							<td>上海复旦大学附属医学院</td>
							<td style="color: #FF9900; font-weight: bold;">10月30日</td>
							<td>西六楼12教</td>
						</tr>
					</table>
				</div>
				
				<%= draw_hor_line("300px", "1px") %>
				
				<div>
					招聘职位：主要是医药代表，其他职位按照需求情况招聘
					<br />
					专业要求：未明确限制
				</div>
			</div>
			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.pfizer.com.cn/" target="_blank">http://www.pfizer.com.cn/</a>
					&nbsp;
				</span>
				<a name="pfizer">辉瑞</a> »
			</div>

			<div class="index_container_l_section_content">
				<a href="#top" style="float: right;">回页首</a>
				
				<div>
					<table border="0" cellspacing="10" cellpadding="2">
						<tr>
							<td>复旦大学医学部</td>
							<td style="color: #FF9900; font-weight: bold;">10月28日 18:30</td>
							<td>新教学楼201</td>
						</tr>
					</table>
				</div>
				
				<%= draw_hor_line("300px", "1px") %>
				
				<div>
					招聘岗位：医学信息沟通专员
					<br />
					专业要求：医学，药学，生命科学等相关专业优先
				</div>
			</div>
			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.mindray.com.cn/" target="_blank">http://www.mindray.com.cn/</a>
					&nbsp;
				</span>
				<a name="mindray">迈瑞</a> »
			</div>

			<div class="index_container_l_section_content">
				<a href="#top" style="float: right;">回页首</a>
				
				<div>
					<table border="0" cellspacing="10" cellpadding="2">
						<tr>
							<td>上海交通大学</td>
							<td style="color: #FF9900; font-weight: bold;">10月25日</td>
						</tr>
					</table>
				</div>
				
				<%= draw_hor_line("300px", "1px") %>
				
				<div>
					招聘岗位1：国际销售代表
					<br />
					专业要求1：外语专业
				</div>

				<%= draw_hor_line("300px", "1px") %>

				<div>
					招聘岗位2：临床工程师
					<br />
					专业要求2：生物医学工程、医学影像学（超声）、核医学、医学检验、免疫学、生物化学、放射影像学、临床医学相关专业
				</div>

				<%= draw_hor_line("300px", "1px") %>

				<div>
					招聘岗位3：国内销售工程师/国内市场产品专员
					<br />
					专业要求3：医学放射影像、医学超声影像、麻醉、临床医学、医学检验、生物医学工程等相关专业
				</div>
			</div>
			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.tylenol.com.cn/" target="_blank">http://www.tylenol.com.cn/</a>
					&nbsp;
				</span>
				<a name="jnj">强生</a>(五家联合) »
			</div>

			<div class="index_container_l_section_content">
				<a href="#top" style="float: right;">回页首</a>
				
				<div>
					<table border="0" cellspacing="10" cellpadding="2">
						<tr>
							<td>复旦大学</td>
							<td style="color: #FF9900; font-weight: bold;">10月16日18:30</td>
							<td>新逸夫科技楼</td>
						</tr>
						<tr>
							<td>上海交通大学</td>
							<td style="color: #FF9900; font-weight: bold;">10月15日18:30</td>
							<td>闵行校区光彪楼多功能报告厅</td>
						</tr>
					</table>
				</div>

				<%= draw_hor_line("300px", "1px") %>
				
				<div>
					强生（中国）医疗器材有限公司，强生（苏州）医疗器材有限公司
					<br />
					西安杨森制药有限公司，强生(中国)有限公司，上海强生制药有限公司
				</div>
				
				<%= draw_hor_line("300px", "1px") %>
				
				<div>
					招聘岗位：主要是医药代表，其他岗位按照需求情况招聘
					专业要求：未明确限制
				</div>
			</div>
			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="http://www.lillychina.com/" target="_blank">http://www.lillychina.com/</a>
					&nbsp;
				</span>
				<a name="lillychina">礼来</a> »
			</div>

			<div class="index_container_l_section_content">
				<a href="#top" style="float: right;">回页首</a>
				
				<div>
					<table border="0" cellspacing="10" cellpadding="2">
						<tr>
							<td>复旦大学医学院</td>
							<td style="color: #FF9900; font-weight: bold;">09月23日</td>
							<td>新教201</td>
							<td>09月28日</td>
							<td>office</td>
						</tr>
						<tr>
							<td>交通大学医学院</td>
							<td style="color: #FF9900; font-weight: bold;">09月22日</td>
							<td>懿德楼报告厅</td>
							<td>09月28日</td>
							<td>office</td>
						</tr>
					</table>
				</div>
				
				<%= draw_hor_line("300px", "1px") %>
				
				<div>
					招聘岗位：医药代表（肿瘤，内分泌，抗感染，中枢神经系统领域）
					<br />
					专业要求：本科学历，医学、药学，生物学，生物化学，生物工程，化学等相关专业
				</div>
			</div>
			
		</div>
	<% end %>
</div>


