<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_content">
				<a href="#pharmaceutical_top_20">世界医药公司排名20强</a>&nbsp;&nbsp;&nbsp;
				<a href="#medical_instrument_top_50">医疗器械工业企业销售排名50强</a>&nbsp;&nbsp;&nbsp;
				<a href="#domestic_medical_instrument_top_30">国内医药公司排名30强</a>
			</div>
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="#top">回页首</a>
					&nbsp;
				</span>
				<a name="pharmaceutical_top_20">世界医药公司排名20强</a> »
			</div>

			<div class="index_container_l_section_content">
				<table border="0" cellspacing="15" cellpadding="0">
					<tr>
						<th>位次</th>
						<th>公司名称</th>
						<th>中文名称</th>
						<th>国别</th>
						<th>营收 (百万美元)</th>
					</tr>
					
					<%
						[
							%w{1 Pfizer 辉瑞 美国 $45,083},
							[2, "GlaxoSmithKline", "葛兰素史克", "英国", "$37,003"],
							%w{3 Sanofi-Aventis 赛诺菲-安万特 法国 $35,643},
							%w{4 AstraZeneca 阿斯利康 英国 $25,741},
							%w{5 Novartis 诺华 瑞士 $23,532},
							%w{6 Merck 默沙东(默克) 美国 $23,425},
							[7, "Johnson & Johnson", "强生", "美国", "$23,267"],
							%w{8 Roche 罗氏 瑞士 $19,300},
							%w{9 Wyeth 惠氏 美国 $15,683},
							[10, "Eli Lilly & Co.", "礼来", "美国", "$14,816"],
							[11, "Bristol-Myers Squibb", "百时美施贵宝", "美国", "$13,861"],
							[12, "Abbott Laboratories", "雅培", "美国", "$12,395"],
							%w{13 Schering-Plough 先灵葆雅 美国 $10,461},
							%w{14 Boehringer-Ingelheim 勃林格殷格翰 德国 $10,440},
							%w{15 Takeda 武田 日本 $9,793},
							[16, "Bayer AG", "拜耳", "德国", "$8,518"],
							%w{17 Astellas 安斯泰来 日本 $7,862},
							%w{18 Daiichi-Sankyo 第一制药 日本 $7,166},
							%w{19 Eisai 卫材 日本 $5,589},
							[20, "Merck KgA", "默克KGa", "德国", "$4,674"]
						].each do |row|
					%>
						<tr>
							<td><%= row[0] %></td>
							<td><%= row[1] %></td>
							<td><%= row[2] %></td>
							<td><%= row[3] %></td>
							<td align="right"><%= row[4] %></td>
						</tr>
					<% end %>
				</table>
			</div>
			
		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="#top">回页首</a>
					&nbsp;
				</span>
				<a name="domestic_medical_instrument_top_30">国内医药公司排名30强</a> »
			</div>

			<div class="index_container_l_section_content">
				1. <a href="http://www.pharm-sh.com.cn" target="_blank">上海医药（集团）有限公司</a><br />
				2. <a href="http://www.cncm.com.cn" target="_blank">中国医药集团总公司</a><br />
				3. <a href="http://www.gpc.com.cn" target="_blank">广州医药集团有限公司</a><br />
				4. <a href="http://www.pharm.cn" target="_blank">天津市医药集团有限公司</a><br />
				5. <a href="http://www.dongeejiao.com" target="_blank">山东东阿阿胶集团有限责任公司</a><br />
				6. <a href="http://www.hayao.com" target="_blank">哈药集团有限公司</a><br />
				7. <a href="http://www.ncpc.com.cn" target="_blank">华北制药集团有限责任公司</a><br />
				8. <a href="http://www.yangzijiang.com" target="_blank">江苏扬子江药业集团公司</a><br />
				9. <a href="http://www.taiji.com" target="_blank">太极集团有限公司</a><br />
				10. <a href="http://www.lkpc.com" target="_blank">新华鲁抗药业集团有限公司</a><br />
				11. <a href="http://218.3.117.193/index.asp" target="_blank">南京医药股份有限公司</a><br />
				12. <a href="http://www.cq-m.com.cn" target="_blank">重庆医药股份有限公司</a><br />
				13. 杭州华东医药集团有限公司<br />
				14. 江西省医药集团公司<br />
				15. 石家庄制药集团有限公司<br />
				16. 东北制药集团有限责任公司<br />
				17. 上海雷允上药业有限公司<br />
				18. 深圳海王集团股份有限公司<br />
				19. 天津太平（集团）有限公司<br />
				20. 天津中新药业集团股份有限公司<br />
				21. 广州白云山制药股份有限公司<br />
				22. 上海新先锋药业有限公司<br />
				23. 北京同仁堂集团有限责任公司<br />
				24. 汇仁集团有限公司<br />
				25. 上海复兴实业股份有限公司<br />
				26. 浙江海正集团有限公司<br />
				27. 丽珠医药集团股份有限公司<br />
				28. 山东鲁抗医药集团有限公司<br />
				29. 健康元药业集团股份有限公司<br />
				30. 吉林修正药业集团
			</div>

		</div>
	<% end %>
</div>

<div class="coach_block">
	<% round_corner_div :border_color => "#C0C0C0", :bg_color => "#FFFFFF" do %>
		<div class="index_container_l_section">
			<div class="index_container_l_section_title">
				<span style="float: right;">
					<a href="#top">回页首</a>
					&nbsp;
				</span>
				<a name="medical_instrument_top_50">医疗器械工业企业销售排名50强</a> »
			</div>

			<div class="index_container_l_section_content">
				1. 欧姆龙（大连）有限公司<br />
				2. 航卫通用电气医疗系统有限公司<br />
				3. 江苏宏宝集团有限公司<br />
				4. 力斯顿听力技术(苏州)有限公司<br />
				5. 山东淄博山川医用器材有限公司<br />
				6. 楼氏电子(苏州)有限公司<br />
				7. 双鸽集团有限公司<br />
				8. 瑞声达听力技术（中国）有限公司<br />
				9. 通用电气医疗系统（中国）有限公司<br />
				10. 江苏金鹿集团有限公司<br />
				11. 扬州中惠集团公司<br />
				12. 上海西门子医疗器械有限公司<br />
				13. 优利康听力技术(苏州)有限公司<br />
				14. 江苏鱼跃医疗设备有限公司<br />
				15. 稳健实业（深圳）有限公司<br />
				16. 山东新华医疗器械集团<br />
				17. 北京京精医疗设备有限公司<br />
				18. 珠海正扬科技实业有限公司<br />
				19. 中山荣南机械工业有限公司<br />
				20. 北京通用电气华伦医疗设备有限公司<br />
				21. 微创医疗器械(上海)有限公司<br />
				22. 苏州碧迪医疗器械有限公司<br />
				23. 上海医疗器械厂<br />
				24. 秦皇岛康泰医学系统有限公司<br />
				25. 天津哈娜好医材有限公司<br />
				26. 上海泰雷兹电子管有限公司<br />
				27. 大连JMS医疗器具有限公司<br />
				28. 博能（广州）电子有限公司<br />
				29. 上海德尔格医疗器械有限公司<br />
				30. 浙江康德莱医疗器械股份有限公司<br />
				31. 优盛医疗电子（上海）有限公司<br />
				32. 日立医疗系统（苏州）有限公司<br />
				33. 沈阳东软数字医疗系统股份有限公司<br />
				34. 佛山市顺德区安爱工业有限公司<br />
				35. 上海阿洛卡医用仪器有限公司<br />
				36. 巴固工贸(上海)有限公司<br />
				37. 南海良润医疗运动器材有限公司<br />
				38. 深圳安科高技术股份有限公司<br />
				39. 广州三瑞医疗器械有限公司<br />
				40. 贝克曼库尔实验系统（苏州）有限公司<br />
				41. 东软飞利浦医疗设备系统有限责任公司<br />
				42. 积美实业（深圳）有限公司<br />
				43. 上海美华医疗器具股份有限公司<br />
				44. 扬州亚达实业有限公司<br />
				45. 上海双鸽实业有限公司<br />
				46. 天长市天泰建材塑业有限公司<br />
				47. 美利驰医疗器械（苏州）有限公司<br />
				48. 北京万东医疗设备股份有限公司<br />
				49. 上海开爱富医用高分子器材有限公司<br />
				50. 苏州六六视觉科技股份有限公司
			</div>
			
		</div>
	<% end %>
</div>

