<%
	account_id = picture.account_id
	account_nick_pic = Account.get_nick_and_pic(account_id)
	account_nick = account_nick_pic[0]
	# no need to extract pic
	# account_pic_url = account_nick_pic[1]
%>

<% comment_count = "#{picture_type.to_s.camelize}PictureComment".constantize.get_count(picture.id) %>

<div class="picture">
	<div class="align_c">
		<a href="/<%= picture_type %>/pictures/<%= picture.id %>" title="<%= h(picture.title) %>">
			<img src="<%= picture.image.url(:thumb_160) %>" border="0" /></a>
	</div>
	
	<div class="form_info_s" style="margin-top: 5px;">
		来自
		<a href="/spaces/show/<%= account_id %>" class="account_nick_link">
			<%= h(account_nick) %></a>
			
		&nbsp;&nbsp;&nbsp;
		|
		<a href="/<%= picture_type %>/pictures/<%= picture.id %>#comment_list" class="account_nick_link">
			评论(<%= comment_count %>)</a>
	</div>
</div>

