<% type_name = h(@type_name) %>
<% pluralized_picture_type = @picture_type.pluralize %>
<% uploader_name = h(@uploader_nick_pic[0]) %>

<% page_title = "活动 #{type_name} 的专属照片" %>
<% community_page_title(page_title) %>

<div class="float_r photo_container_r">

	<div class="community_title">
		<%= @type_label %> ...
	</div>
	
	<div class="community_block align_c">
		<a href="/<%= pluralized_picture_type %>/<%= @type_id %>">
			<img src="<%= face_img_src(@type_image) %>" border="0" /></a>
	</div>
	
	<div class="community_block">
		<a href="/<%= pluralized_picture_type %>/<%= @type_id %>">
			返回<%= @type_label %> <%= type_name %></a>
	</div>
	
	
	<% if @can_view %>
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
		
		<div class="community_block">
			<a href="/<%= pluralized_picture_type %>/picture/<%= @type_id %>">
				<%= @type_label %>的全部专属照片</a>
		</div>
		
		<div class="community_block">
			<a href="/<%= pluralized_picture_type %>/good_picture/<%= @type_id %>">
				查看<%= @type_label %>的专属照片的精华区</a>
		</div>
	
		<% if @access.include?(:can_upload) %>
			<div class="community_block_narrow">
				<%= thin_hr %>
			</div>
	
			<div class="community_block">
				<a href="/<%= @picture_type %>/pictures/upload/<%= @type_id %>">
					<img src="/images/activities/new_picture_small.gif" border="0" />
					上传新的专属照片</a>
			</div>
		
		<% elsif @picture_type == "group" %>
			<div class="community_block">
				<% form_tag "/groups/#{@type_id}/join", :method => :post do %>
					<input type="submit" value="加入圈子" class="button" />
					后上传专属照片
				<% end %>
			</div>
		<% elsif @picture_type == "activity" %>
			<div class="community_block">
				<% form_tag "/activities/#{@type_id}/check_profile", :method => :post do %>
					<input type="submit" value="报名参加活动" class="button" />
					后上传专属照片
				<% end %>
			</div>
		<% end %>
	<% end %>
	
</div>

<div class="photo_container_l">
	<% if @picture.good %>
		<div class="float_r">
			<img src="/images/groups/good_small.gif" border="0" alt="精华" title="精华" />
			精华
		</div>
	<% end %>
	
	<h2><%= page_title %></h2>
	
	<div class="community_block form_info_s">
		<a href="/spaces/show/<%= @picture.account_id %>">
			<img src="<%= face_img_src(@uploader_nick_pic[1]) %>" border="0" /></a>
		&nbsp;&nbsp;&nbsp;
		<a href="/spaces/show/<%= @picture.account_id %>" class="account_nick_link">
			<%= uploader_name %></a>
		&nbsp;&nbsp;&nbsp;
		上传于
		<%= format_datetime(@picture.created_at) %>
	</div>
	
	
	
	<% if @can_view %>
			
		<div class="community_block photo_view_container">
			<div class="float_l">
				<a target="_blank" href="<%= @picture.image.url %>">
					<img src="/images/show_big.gif" border="0" alt="原图" title="原图" /></a>
			</div>
			
			<div class="align_r">
				<a href="">« 上一张</a>
				&nbsp;
				-
				&nbsp;
				<a href="">下一张 »</a>
			</div>
			
			<div class="photo_view">
				<a href="">
					<img src="<%= @picture.image.url(:normal) %>" border="0" title="点击查看下一张" /></a>
			</div>
		
			<div class="align_r">
				<a href="">« 上一张</a>
				&nbsp;
				-
				第6张 / 共10张
				-
				&nbsp;
				<a href="">下一张 »</a>
			</div>
	
			<div class="community_block_narrow">
				<span id="picture_title_section">
					<%= simple_format(h(@picture.title)) %>
				</span>
			
				<div class="photo_view_actions_container">
					<% if @access.include?(:author) %>
						<a href="#" onclick="document.getElementById('photo_title_update_form').style.display = ''; return false;">修改照片描述</a>
					
						<div id="photo_title_update_form" style="display: none;">
							<% form_tag "/#{@picture_type}/pictures/#{@picture.id}", :method => :put do %>
								<textarea name="picture_title" class="text_field" cols="50" rows="5"><%= h(@picture.title) %></textarea>

								<div>
									<input type="submit" value="修改" class="button" />
									&nbsp;&nbsp;
									<a href="#" onclick="document.getElementById('photo_title_update_form').style.display = 'none'; return false;">暂时不修改了</a>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
				
				<div class="form_info_s">
					最后更新于 <%= format_date(@picture.updated_at) %>
				</div>
			</div>
		</div>
	
		<div class="community_block align_r">
			<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/#{@picture_type}/pictures/#{@picture.id}", :title => (@picture.title && @picture.title != "") ? "照片: #{h(truncate(@picture.title, 250))}" : ""} %>
		</div>
	
		<% if @access.include?(:admin) %>	
			<% if false %>
			<% top_action = @picture.top ? "untop" : "top" %>
			<% form_tag "/#{@picture_type}/pictures/#{@picture_id}/#{top_action}", :method => :post, :id => "adjust_top_form" do %>
			<% end %>
			<% end %>
		
			<% good_action = @picture.good ? "ungood" : "good" %>
			<% form_tag "/#{@picture_type}/pictures/#{@picture_id}/#{good_action}", :method => :post, :id => "adjust_good_form" do %>
			<% end %>

			<% form_tag "", :method => :post, :id => "delete_comment_form" do %>
			<% end %>
	
			<script language="JavaScript">
				function delete_comment(comment_id) {
					if(confirm("确定要删除么 ?")) {
						del_form = document.getElementById("delete_comment_form");
						del_form.action = "/<%= @picture_type %>/pictures/" + comment_id + "/delete_comment";
						del_form.submit();
					}
				}
			</script>
		<% end %>

		<div class="community_block_narrow">
			<% if @access.include?(:admin) || @access.include?(:author) %>
				<% form_tag "/#{@picture_type}/pictures/#{@picture_id}", :method => :delete, :id => "picture_delete_form" do %>
				<% end %>
		
				<a href="#" onclick="if(confirm('确定要删除么 ?')){document.getElementById('picture_delete_form').submit();}; return false;">删除</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% end %>
		
			<% if @access.include?(:admin) %>
				<a href="#" onclick="document.getElementById('adjust_good_form').submit(); return false;"><%= @picture.good ? "从精华区移除" : "放入精华区" %></a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
				<% if false %>
				<a href="#" onclick="document.getElementById('adjust_top_form').submit(); return false;"><%= @picture.top ? "取消置顶" : "置顶" %></a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<% end %>
			<% end %>
		</div>
	
		
		<div class="community_title">
			共有
			<b>
				<%= @comments.total_entries %>
			</b>
			条<span id="comment_list">评论</span> ...
		</div>
	
		<% if @access.include?(:can_add_comment) %>
			<div class="community_block_narrow align_r">
				<a href="#comment_new">添加评论</a>
			</div>
		<% else %>
			<div class="community_block align_r">
				<span class="form_info_l">无权添加评论 ...</span>
			</div>
		<% end %>
	
		<div class="community_block">
			<%= render(:partial => "/common/comment", :collection => @comments, :locals => {:can_del => @access.include?(:admin), :counter_shift => calculate_counter_shift(@comments)}) %>
		</div>
	
		<div class="community_block">
			<%= paging_buttons(@comments) %>
		</div>
	
		<% if @access.include?(:can_add_comment) %>
			<div class="community_block_narrow">
				<span id="comment_new">添加评论 »</span>
				<% form_tag "/#{@picture_type}/pictures/#{@picture_id}/create_comment", :method => :post, :onsubmit => "if(document.getElementById('picture_comment').value.replace(/(^\s*)|(\s*$)/g, '') == ''){ alert('请填写评论内容 ...'); return false; }" do %>
					<textarea id="picture_comment" name="picture_comment" class="text_field" cols="50" rows="5"></textarea>
				
					<div>
						<input type="submit" value="发表评论" class="button" />
					</div>
				<% end %>
			</div>
		<% end %>
		
	<% else %>
		
		<p class="warning_msg">
			根据<%= @type_label %>
			<a href="/<%= pluralized_picture_type %>/<%= @type_id %>">
				<%= type_name %></a>
			的设置, 只有成员可以查看其专属照片
		</p>
		
		<% if @picture_type == "group" %>
			<p>
				<% form_tag "/groups/#{@type_id}/join", :method => :post do %>
					<input type="submit" value="我要加入圈子" class="button" />
				<% end %>
			</p>
		<% elsif @picture_type == "activity" %>
			<p>
				<% form_tag "/activities/#{@type_id}/check_profile", :method => :post do %>
					<input type="submit" value="我要报名参加活动" class="button" />
				<% end %>
			</p>
		<% end %>
		
	<% end %>

</div>

