<% is_admin &&= true %>
<% can_del = is_admin || (linked_photo.account_id == session[:account_id]) %>

<% account = linked_photo.account %>
<% photo = linked_photo.photo %>

<% Photo.set_photo_cache(photo.id, photo) %>

<% comment_count = PhotoComment.get_count(photo.id) %>

<div class="linked_photo" id="linked_photo_<%= linked_photo.id %>">
	<div class="align_c">
		<a href="<%= photo.image.url(:big) %>" rel="lightbox[activity]" title="ESC 或 X 键退出, N 键到下一张, P 键到上一张 | &lt;a target='_blank' href='/photos/<%= photo.id %>'&gt;查看/评论&lt;/a&gt; &lt;br /&gt; <%= h(photo.title) %> &lt;br /&gt;">
			<img src="<%= photo.image.url(:thumb_120) %>" border="0" /></a>
	</div>
	
	<div class="form_info_s" style="margin-top: 5px;">
		链接自
		<a href="/spaces/show/<%= account.id %>" class="account_nick_link" target="_blank">
			<%= h(account.get_nick) %></a>
		的
		<a href="/albums/<%= photo.album_id %>" class="account_nick_link" target="_blank">
			相册</a>
	</div>
	
	<div class="align_c">
		<% if can_del %>
			<a class="account_nick_link" id="delete_linked_photo_link_<%= linked_photo.id %>" href="#" onclick="delete_linked_photo(<%= linked_photo.id %>); return false;">删除</a>
			<img id="deleting_indicator_<%= linked_photo.id %>" src="/images/loading_small.gif" style="display: none;" />
			&nbsp;&nbsp;
		<% end %>
		<a target="_blank" href="/photos/<%= photo.id %>#comment_list" class="account_nick_link">评论(<%= comment_count %>)</a>
	</div>
</div>

