<% type_name = h(@type_name) %>
<% pluralized_post_type = @post_type.pluralize %>
<% poster_name = h(@poster_nick_pic[0]) %>

<% page_title = "#{h(@post.title)}" %>
<% community_page_title(page_title) %>

<div class="float_r blog_container_r">
	<div class="community_title">
		<%= @type_label %> ...
	</div>
	
	<% if @display_image %>
		<div class="community_block">
			<a href="/<%= pluralized_post_type %>/<%= @type_id %>">
				<img src="<%= face_img_src(@type_image) %>" border="0" /></a>
		</div>
	<% end %>
	
	<div class="community_block">
		<a href="/<%= pluralized_post_type %>/<%= @type_id %>">
			返回<%= @type_label %> <%= type_name %></a>
	</div>

	<% if @can_view %>
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
		
		<div class="community_block">
			<a href="/<%= pluralized_post_type %>/post/<%= @type_id %>">
				全部<%= @type_label %>讨论话题</a>
		</div>
		
		<div class="community_block">
			<a href="/<%= pluralized_post_type %>/good_post/<%= @type_id %>">
				查看<%= @type_label %>的精华区</a>
		</div>
	
		<% if @access.include?(:can_compose) %>
			<div class="community_block_narrow">
				<%= thin_hr %>
			</div>
	
			<div class="community_block">
				<a href="/<%= @post_type %>/posts/compose/<%= @type_id %>">
					<img src="/images/groups/add_post_small.png" border="0" />
					发表新的讨论话题</a>
			</div>
		
		<% elsif @post_type == "group" %>
			<div class="community_block">
				<% form_tag "/groups/#{@type_id}/join", :method => :post do %>
					<input type="submit" value="加入圈子" class="button" />
					后发起讨论话题
				<% end %>
			</div>
		<% elsif @post_type == "activity" %>
			<div class="community_block">
				<% form_tag "/activities/#{@type_id}/check_profile", :method => :post do %>
					<input type="submit" value="报名参加活动" class="button" />
					后发起讨论话题
				<% end %>
			</div>
		<% end %>
	
		<div class="community_title">
			发起的其他话题 ...
		</div>

		<div class="community_block">
			<% @other_posts.each do |op| %>
				<div>
					» <a href="/<%= @post_type %>/posts/<%= op.id %>" class="account_nick_link"><%= h(op.title) %></a>
				</div>
				<div style="height: 10px;"></div>
			<% end %>
		</div>
	<% end %>
	
</div>

<div class="blog_container_l">
	<% if @post.good %>
		<div class="float_r">
			<img src="/images/groups/good_small.gif" border="0" alt="精华" title="精华" />
			精华
		</div>
	<% end %>
	
	<h2><%= page_title %></h2>
	
	<div class="community_block form_info_s">
		<table border="0" cellspacing="0" cellpadding="0" class="main_part_w">
			<tr>
				<td align="left" valign="top" style="width: 50px;">
					<a href="/spaces/show/<%= @post.account_id %>">
						<img src="<%= face_img_src(@poster_nick_pic[1]) %>" border="0" /></a>
				</td>
				
				<td align="center" valign="top" style="width: 50px; padding-top: 2px;">
					<% point_level = PointProfile.calculate_level(@poster_points) %>
					<img src="/images/spaces/point_levels/<%= point_level %>.gif" width="16" title="<%= point_level %> 级" alt="<%= point_level %> 级" border="0" />
				</td>
				
				<td align="left" valign="bottom">
					<div style="margin-bottom: 2px;">
						<% if @is_brain_trust %>
							<%= SpacesController::Expert_Title %>
							&nbsp;
						<% end %>
						<% if @is_vip %>
							<img src="/images/spaces/vip_icon.gif" title="<%= SpacesController::VIP_Title %>" alt="<%= SpacesController::VIP_Title %>" border="0" />
							&nbsp;
						<% end %>
						<% if @is_kind_hearted %>
							<img src="/images/spaces/kind_hearted_icon.gif" title="<%= SpacesController::Kind_Hearted_Title %>" alt="<%= SpacesController::Kind_Hearted_Title %>" border="0" />
							&nbsp;
						<% end %>
					</div>
					
					<div>
						<a href="/spaces/show/<%= @post.account_id %>" class="account_nick_link">
							<%= poster_name %></a>
						&nbsp;&nbsp;&nbsp;
						发表于
						<%= format_datetime(@post.created_at) %>

						&nbsp;&nbsp;&nbsp;
						查看:
						<b>
							<%= ViewCounter.increase_count("#{@post_type}_post".to_sym, @post.id) %>
						</b>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	
	
	<% if @can_view %>
	
		<div style="margin-top: 10px;" class="tinymce_content">
			<%= sanitize_tinymce(@post.content) %>
		</div>
	
		<div class="community_block form_info_s">
			最后更新于
			<%= format_datetime(@post.updated_at) %>
		</div>
		
		
		<div class="align_r">
			<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/#{@post_type}/posts/#{@post_id}", :title => "#{@type_label}讨论话题: #{page_title}"} %>
		</div>
		
	
		<% if @access.include?(:can_top) %>	
			<% top_action = @post.top ? "untop" : "top" %>
			<% form_tag "/#{@post_type}/posts/#{@post_id}/#{top_action}", :method => :post, :id => "adjust_top_form" do %>
			<% end %>
		<% end %>
			
		<% if @access.include?(:can_good) %>	
			<% good_action = @post.good ? "ungood" : "good" %>
			<% form_tag "/#{@post_type}/posts/#{@post_id}/#{good_action}", :method => :post, :id => "adjust_good_form" do %>
			<% end %>
		<% end %>
	
		<% if @access.include?(:can_del_comment) %>	
			<% form_tag "", :method => :post, :id => "delete_comment_form" do %>
			<% end %>
		
			<script language="JavaScript">
				function delete_comment(comment_id) {
					if(confirm("确定要删除么 ?")) {
						del_form = document.getElementById("delete_comment_form");
						del_form.action = "/<%= @post_type %>/posts/" + comment_id + "/delete_comment";
						del_form.submit();
					}
				}
			</script>
		<% end %>
	
		<div class="community_block_narrow">
			<% if @access.include?(:can_del) %>
				<% form_tag "/#{@post_type}/posts/#{@post_id}", :method => :delete, :id => "post_delete_form" do %>
				<% end %>
			
				<a href="#" onclick="if(confirm('确定要删除么 ?')){document.getElementById('post_delete_form').submit();}; return false;">删除</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% end %>
			
			<% if @access.include?(:can_good) %>
				<a href="#" onclick="document.getElementById('adjust_good_form').submit(); return false;"><%= @post.good ? "从精华区移除" : "放入精华区" %></a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% end %>
			
			<% if @access.include?(:can_top) %>
				<a href="#" onclick="document.getElementById('adjust_top_form').submit(); return false;"><%= @post.top ? "取消置顶" : "置顶" %></a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% end %>
		
			<% if @access.include?(:can_edit) %>
				<a href="/<%= @post_type %>/posts/<%= @post_id %>/edit">修改</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% end %>
			
			<% if @access.include?(:can_add_attachment) %>
				<a href="/<%= @post_type %>/posts/<%= @post_id %>/new_attachment">添加附件</a>
			<% end %>
			
			<% if @access.include?(:can_del_attachment) %>
				<% form_tag "/#{@post_type}/posts/#{@post_id}/delete_attachment", :method => :post, :id => "delete_attachment_form" do %>
					<input type="hidden" id="delete_attachment_id" name="delete_attachment_id" value="" />
				<% end %>

				<script language="JavaScript">
					function delete_attachment(attachment_id) {
						if(confirm("确定要删除这个附件么 ?")) {
							document.getElementById("delete_attachment_id").value = attachment_id;
						
							del_form = document.getElementById("delete_attachment_form");
							del_form.submit();
						}
					}
				</script>
			<% end %>
		</div>
	
	
		<% if @attachments.size > 0 %>
			<div class="community_title">
				有
				<b>
					<%= @attachments.size %>
				</b>
				个附件 ...
			</div>
		
			<div class="community_block_narrow">
				<%= render :partial => "post_attachment", :collection => @attachments, :locals => {:can_del => @access.include?(:can_del_attachment), :post_type => @post_type} %>
			</div>
		<% end %>
	
	
		<div class="community_title">
			共有
			<b>
				<%= @comments.total_entries %>
			</b>
			条<span id="comment_list">回帖</span> ...
		</div>
	
		<% if @access.include?(:can_add_comment) %>
			<div class="community_block_narrow align_r">
				<a href="#comment_new">添加回帖</a>
			</div>
		<% else %>
			<div class="community_block align_r">
				<span class="form_info_l">无权添加回帖 ...</span>
			</div>
		<% end %>
	
		<div class="community_block">
			<%= render(:partial => "post_comment", :collection => @comments, :locals => {:can_del => @access.include?(:can_del_comment), :counter_shift => calculate_counter_shift(@comments)}) %>
		</div>
	
		<div class="community_block">
			<%= paging_buttons(@comments) %>
		</div>
	
		<% if @access.include?(:can_add_comment) %>
			<div class="community_block_narrow">
				<span id="comment_new">添加回帖 »</span>
				<% form_tag "/#{@post_type}/posts/#{@post_id}/create_comment", :method => :post, :onsubmit => "if(document.getElementById('post_comment').value.replace(/(^\s*)|(\s*$)/g, '') == ''){ alert('请填写回帖内容 ...'); return false; }" do %>
					<textarea id="post_comment" name="post_comment" class="text_field" cols="50" rows="5"></textarea>
				
					<div>
						<input type="submit" value="发表回帖" class="button" />
					</div>
				<% end %>
			</div>
		<% end %>
		
	<% else %>
		
		<p class="warning_msg">
			根据<%= @type_label %>
			<a href="/<%= pluralized_post_type %>/<%= @type_id %>">
				<%= type_name %></a>
			的设置, 只有成员可以查看讨论话题的具体内容
		</p>
		
		<% if @post_type == "group" %>
			<p>
				<% form_tag "/groups/#{@type_id}/join", :method => :post do %>
					<input type="submit" value="我要加入圈子" class="button" />
				<% end %>
			</p>
		<% elsif @post_type == "activity" %>
			<p>
				<% form_tag "/activities/#{@type_id}/check_profile", :method => :post do %>
					<input type="submit" value="我要报名参加活动" class="button" />
				<% end %>
			</p>
		<% end %>
		
	<% end %>
</div>
