<% hide_top &&= true %>
<% show_goal_name &&= true %>

<% comment_count = GoalPostComment.get_count(goal_post.id) %>

<tr>
	<td valign="middle" style="border-bottom: dashed 1px #DDDDDD;">
		<% unless hide_top %>
			<% if goal_post.top %>
				<b>
					[置顶]
				</b>
				&nbsp;
			<% end %>
		<% end %>
		
		<% if show_goal_name %>
			<%
				goal = Goal.get_goal(goal_post.goal_id)
				goal_name = h(goal.name)
			%>
			[<a href="/goals/<%= goal_post.goal_id %>" class="account_nick_link" title="<%= goal_name %>"><%= truncate(goal_name, 10) %></a>]
		<% end %>
		
		<% goal_post_title = h(goal_post.title) %>
		<a href="/goal/posts/<%= goal_post.id %>" title="<%= goal_post_title %>" class="account_nick_link">
			<%= truncate(goal_post_title) %>
			<% if goal_post.good %>
				&nbsp;
				<img src="/images/groups/good_small.gif" border="0" alt="精华" title="精华" />
			<% end %>
		</a>
	</td>
	
	<td valign="middle" align="right">
		<a href="/goal/posts/<%= goal_post.id %>#comment_list" class="account_nick_link">
			<%= comment_count %></a>
	</td>
	
	<td valign="middle" align="right">
		<% account_nick = Account.get_nick_and_pic(goal_post.account_id)[0] %>
		<a href="/spaces/show/<%= goal_post.account_id %>" class="account_nick_link">
			<%= h(account_nick) %></a>
	</td>
	
	<td valign="middle" align="right" class="form_info_s" style="line-height: 1.2;">
		<div>
			<% if goal_post.responded_by %>
				<%
					responded_account_id = goal_post.responded_by
					responded_account_nick = Account.get_nick_and_pic(responded_account_id)[0]
				%>
				<a href="/spaces/show/<%= responded_account_id %>" class="account_nick_link form_info_s">
					<%= h(responded_account_nick) %></a>
			<% end %>
		</div>
		
		<div style="font-size: 9px;">
			<%= format_datetime(goal_post.responded_at || goal_post.created_at) %>
		</div>
	</td>
</tr>

