<%
	account_id = small_comment.account_id
	account_nick_pic = Account.get_nick_and_pic(account_id)
	account_nick = account_nick_pic[0]
	account_pic_url = account_nick_pic[1]
%>

<% Account.set_account_nick_pic_cache(small_comment.account_id, account_nick, account_pic_url, small_comment.account.email) %>

<div>
	<table cellpadding="0" cellspacing="5" class="main_part_w">
		<tr>
			<td align="left" valign="top" style="width: 50px;">
				<a href="/spaces/show/<%= account_id %>">
					<img src="<%= face_img_src(account_pic_url) %>" border="0" /></a>
			</td>
			
			<td align="left" valign="top">
				<a href="/spaces/show/<%= account_id %>" class="account_nick_link">
					<%= h(account_nick) %></a>
				说:
				<% comment_content = h(small_comment.content) %>
				<a href="/goals/<%= small_comment.goal_track_id %>#comment_list" class="account_nick_link" title="<%= comment_content %>">
					<%= truncate(comment_content) %>
				</a>
				
				<div class="form_info_s">
					<%= format_datetime(small_comment.updated_at) %>
				</div>
			</td>
		</tr>
		
		<tr>
			<td></td>
			<td>
				<%= thin_hr %>
			</td>
		</tr>
	</table>
</div>
