<% goal_name = h(@goal.name) %>

<% page_title = goal_name %>
<% community_page_title(page_title) %>

<%
	if @follow
		follow_status = GoalFollowStatus.get_follow_status(@follow.status_id)
		is_active = (follow_status[0] == GoalFollowStatus.active[0])
		
		follow_type = GoalFollowType.get_follow_type(@follow.type_id)
	end
%>


<div class="float_r community_container_r">
	
	<div class="community_block align_c">
		<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/goals/#{@goal.id}", :title => "目标: #{goal_name}"} %>
	</div>
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block align_c" style="word-spacing: 25px;">
		<a href="/goals/list_index">
			我的目标</a>
			
		<a href="/goals/all">
			全部目标列表</a>
			
		<a href="/goals/summary">
			目标概况</a>
	</div>
	
	
	<% if @follow %>
		<div class="community_block align_c" style="word-spacing: 30px;">
			<a href="/goals/follow/<%= @follow.id %>">
				查看我的实现进度</a>
				
			<% if is_active %>
				<a href="/goals/<%= @follow.id %>/track_new">
					添加我的实现进度</a>
			<% end %>
		</div>
	<% end %>
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	
	<div class="community_block align_c">
		<a href="/goal/posts/compose/<%= @goal.id %>">
			<img src="/images/groups/add_post_small.png" border="0" />
			发起新的讨论话题</a>
	</div>
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="finished_follows_section_expand" href="#" onclick="collapse_section('finished_follows_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="finished_follows_section_collapse" href="#" onclick="expand_section('finished_follows_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
		
				<span class="float_r">
					<a href="#">
						查看全部</a>
					&nbsp;&nbsp;&nbsp;
				</span>
			
			<b>
				已完成
			</b>
			这件事的成员
		</div>
	
		<div id="finished_follows_section">
			
		</div>
	</div>
	
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="cancelled_follows_section_expand" href="#" onclick="collapse_section('cancelled_follows_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="cancelled_follows_section_collapse" href="#" onclick="expand_section('cancelled_follows_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
		
				<span class="float_r">
					<a href="#">
						查看全部</a>
					&nbsp;&nbsp;&nbsp;
				</span>
			
			<b>
				已终止
			</b>
			这件事的成员
		</div>
	
		<div id="cancelled_follows_section">
			
		</div>
	</div>
	
	
	
	<div class="community_title">
		最新进度 ...
	</div>
	<div class="community_block">
		<%= render(:partial => "small_track", :collection => @new_tracks) %>
	</div>
	
	
</div>

<div class="community_container_l">
	<h2><%= page_title %></h2>
	
	
	
	<% if flash[:message] %>
		<p id="status_updated_msg" class="align_c" style="padding: 10px 10px 5px 0px; background-color: #FFFDC0; border: 1px dashed #DDDDDD; color: #333333">
			<span class="float_r">
				<a href="#" onclick="document.getElementById('status_updated_msg').style.display = 'none'; return false;">
					(知道了)</a>
			</span>
			
			<%= flash[:message][0] %>
			<a href="/goal/posts/compose/<%= @goal.id %>">
				<%= flash[:message][1] %></a>
		</p>
	<% end %>


	<div class="align_r form_info_s">
		<% if general_admin?(session[:account_id]) %>
			<span class="float_l">
				<% if superadmin?(session[:account_id]) %>
					<% form_tag "/goals/#{@goal.id}", :method => :delete, :id => "goal_delete_form" do %>
					<% end %>
				
					<a href="#" onclick="if(confirm('确定要删除么 ?')){document.getElementById('goal_delete_form').submit();}; return false;">
						删除</a>
					&nbsp;&nbsp;
				<% end %>
				
				<a href="/goals/<%= @goal.id %>/edit">
					编辑</a>
			</span>
		<% end %>
		
		这个目标最早由
		<a href="/spaces/show/<%= @goal.account_id %>" class="account_nick_link">
			<%= h(@goal_account[0]) %></a>
		于
		<%= format_datetime(@goal.created_at) %>
		添加
	</div>
	
	
	<% if @follow %>
		<div class="community_block">
			<div class="space_section_title">
				<a class="float_r" title="收起" id="status_section_expand" href="#" onclick="collapse_section('status_section'); return false;">
					<img src="/images/expand.png" border="0" /></a>
				<a class="float_r" title="展开" id="status_section_collapse" href="#" onclick="expand_section('status_section'); return false;" style="display: none">
					<img src="/images/collapse.png" border="0" /></a>
			
				<% if is_active %>
					<span class="float_r">
						<a href="/goals/<%= @follow.id %>/track_new">
							添加进度</a>
						&nbsp;&nbsp;&nbsp;
					</span>
				<% end %>
				
				
				<img src="<%= follow_type[2] %>" border="0" alt="<%= follow_type[1] %>" title="<%= follow_type[1] %>" />
				&nbsp;
				我
				<span style="font-size: 14px; font-weight: bold;">
					<%= follow_status[1] %>
				</span>
				这件事
				&nbsp;&nbsp;&nbsp;
				<a href="/goals/follow/<%= @follow.id %>">
					(查看我的进度)</a>
			</div>
		
			<div id="status_section" class="align_c" style="word-spacing: 20px; margin-top: 10px;">
			
				<% if is_active %>
					<% form_tag "/goals/#{@follow.id}/finish_follow", :method => :post, :id => "finish_follow_form" do %>
					<% end %>
					<% form_tag "/goals/#{@follow.id}/cancel_follow", :method => :post, :id => "cancel_follow_form" do %>
					<% end %>
					
					<a href="#" title="我已完成这件事" onclick="document.getElementById('finish_follow_form').submit(); return false;">
						<img src="/images/goals/finish_goal_btn.png" border="0" alt="我已完成这件事" /></a>

					<a href="#" title="我要终止这件事" onclick="document.getElementById('cancel_follow_form').submit(); return false;">
						<img src="/images/goals/cancel_goal_btn.png" border="0" alt="我要终止这件事" /></a>
				<% else %>
					<% form_tag "/goals/#{@follow.id}/active_follow", :method => :post, :id => "active_follow_form" do %>
					<% end %>
					
					<a href="#" title="我要继续这件事" onclick="document.getElementById('active_follow_form').submit(); return false;">
						<img src="/images/goals/reactive_goal_btn.png" border="0" alt="我要继续这件事" /></a>
				<% end %>
			</div>
		</div>
	<% else %>
		<div class="community_block align_r" style="word-spacing: 20px;">
			<% form_tag "/goals/#{@goal.id}/follow_goal", :method => :post, :id => "follow_goal_form" do %>
			<% end %>
			<% form_tag "/goals/#{@goal.id}/finish_goal", :method => :post, :id => "finish_goal_form" do %>
			<% end %>
			
			<a href="#" title="我也要做这件事" onclick="if(confirm('确定要添加这个目标么 ?')){document.getElementById('follow_goal_form').submit();}; return false;">
				<img src="/images/goals/follow_goal_btn.png" border="0" alt="我也要做这件事" /></a>

			<a href="#" title="我已完成这件事" onclick="if(confirm('确定要以已完成的状态添加这个目标么 ?')){document.getElementById('finish_goal_form').submit();}; return false;">
				<img src="/images/goals/finish_goal_btn.png" border="0" alt="我已完成这件事" /></a>
		</div>
	<% end %>
	
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="active_follows_section_expand" href="#" onclick="collapse_section('active_follows_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="active_follows_section_collapse" href="#" onclick="expand_section('active_follows_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
		
				<span class="float_r">
					<a href="#">
						查看全部正在做这件事的成员</a>
					&nbsp;&nbsp;&nbsp;
				</span>
			
			<b>
				正在做
			</b>
			这件事的成员
		</div>
	
		<div id="active_follows_section">
			
		</div>
	</div>
	
	
	<div class="community_title">
		最近目标讨论 ...
	</div>
	<div>
		<div class="space_section_title">
			<a class="float_r" title="收起" id="post_section_expand" href="#" onclick="collapse_section('post_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="post_section_collapse" href="#" onclick="expand_section('post_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
				
			<span class="float_r">
				<a href="/goal/posts/compose/<%= @goal.id %>">发起新的讨论话题</a>
				&nbsp;&nbsp;&nbsp;
			</span>
		
			<img class="float_l" src="/images/groups/post_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<a href="/goals/post/<%= @goal.id %>">全部目标讨论</a>
			
			&nbsp;&nbsp;&nbsp;
			<a href="/goals/good_post/<%= @goal.id %>">(查看目标精华区)</a>
		</div>
	
		<div id="post_section">
			<div style="padding-left: 10px;">
				<a href="/groups/1" target="_blank" class="form_info_s account_nick_link">
					举报话题内容, 或申请置顶,放入精华区等管理操作, 请到 乔布圈反馈小组</a>
			</div>
			
			<table cellpadding="0" cellspacing="5" border="0" class="main_part_w">
				<thead>
					<tr>
						<td width="51%">话题</td>
						<td width="6%" align="right">评论</td>
						<td width="18%" align="right">发起人</td>
						<td width="25%" align="right">最后参与</td>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => "goal_post", :collection => @top_goal_posts %>
					<%= render :partial => "goal_post", :collection => @goal_posts %>
				</tbody>
			</table>
			<% unless @top_goal_posts.size + @goal_posts.size > 0 %>
				<div class="form_info_l">
					还没有讨论话题 ...
				</div>
			<% end %>
		</div>
	</div>
	
	
	
	<div style="margin-top: 50px;">
		<%= render :partial => "latest_goals" %>
	</div>
	
	
</div>



<script language="JavaScript">
	function expand_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "";
		document.getElementById(expand_icon).style.display = "";
		document.getElementById(collapse_icon).style.display = "none";
	}
	
	function collapse_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "none";
		document.getElementById(expand_icon).style.display = "none";
		document.getElementById(collapse_icon).style.display = "";
	}
</script>

