<% page_title = "定个目标 许下愿望 记录分享实现进度" %>
<% community_page_title(page_title) %>


<div class="float_r community_container_r">
	
	<div class="community_block align_c" style="word-spacing: 30px;">
		<a href="/goals/list_index" style="font-size: 14px; font-weight: bold;">
			我的目标</a>
			
		<a href="/goals/all">
			最新的目标列表</a>
	</div>
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	<div class="community_block align_c">
		<% form_tag "/community/search", :method => :get do %>
			<input type="text" name="query" class="text_field" style="width: 50%" />
			<input type="hidden" name="scope" value="goal" />

			&nbsp;
			<input type="submit" value="搜索目标" class="button" />
		<% end %>
	</div>
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	
	<div class="community_title">
		最新进度 ...
	</div>
	<div class="align_r">
		<% form_tag "/community/search", :method => :get do %>
			<input type="text" name="query" class="text_field" style="width: 150px;" />
			<input type="hidden" name="scope" value="goal_track" />

			&nbsp;
			<input type="submit" value="搜索目标进度" class="button" />
		<% end %>
	</div>
	<div class="community_block">
		<%= render(:partial => "small_track", :collection => @new_tracks) %>
	</div>
	
</div>

<div class="community_container_l">
	<h2><%= page_title %></h2>
	
	
	<div>
		<%= render :partial => "latest_goals" %>
	</div>
	
	
	<div class="community_title">
		<div class="float_r">
			<% form_tag "/community/search", :method => :get do %>
				<input type="text" name="query" class="text_field" style="width: 150px;" />
				<input type="hidden" name="scope" value="goal_post" />

				&nbsp;
				<input type="submit" value="搜索目标话题" class="button" />
			<% end %>
		</div>
		
		最新讨论话题 ...
	</div>
	<div>
		<div style="padding-left: 10px;">
			<a href="/groups/1" target="_blank" class="form_info_s account_nick_link">
				举报话题内容, 或申请置顶,放入精华区等管理操作, 请到 乔布圈反馈小组</a>
		</div>
		
		<table cellpadding="0" cellspacing="5" border="0" class="main_part_w">
			<thead>
				<tr>
					<td width="51%">话题</td>
					<td width="6%" align="right">评论</td>
					<td width="18%" align="right">发起人</td>
					<td width="25%" align="right">最后参与</td>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => "goal_post", :collection => @new_posts, :locals => {:show_goal_name => true} %>
			</tbody>
		</table>
	</div>
	
</div>


