<% follower_name = @edit ? "我" : h(@follower[0]) %>
<% goal_name = h(@goal.name) %>

<%
	follow_status = GoalFollowStatus.get_follow_status(@follow.status_id)
	is_active = (follow_status[0] == GoalFollowStatus.active[0])
	
	follow_type = GoalFollowType.get_follow_type(@follow.type_id)
%>

<% page_title = "目标 #{goal_name} 的进度" %>
<% community_page_title(page_title) %>


<div class="float_r community_container_r">
	
	<div class="community_block align_c">
		<a href="/goals/<%= @goal.id %>">
			返回目标 <%= goal_name %></a>
	</div>
	
	<div class="community_block align_c">
		<a href="/goals/follow/<%= @follow.id %>">
			返回目标 <%= goal_name %> 的全部进度</a>
	</div>
	
	<% if @edit && is_active %>
		<div class="community_block align_c">
			<a href="/goals/<%= @follow.id %>/track_new">
				<img src="<%= follow_type[2] %>" border="0" alt="<%= follow_type[1] %>" title="<%= follow_type[1] %>" />
				添加新的进度</a>
		</div>
	<% end %>
	
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	<% if @edit %>
		<div class="community_block align_c">
			我
			<span style="font-size: 15px; font-weight: bold;">
				<%= follow_status[1] %>
			</span>
			这件事
		</div>
	<% else %>
		<div class="community_block align_c">
			<a href="/spaces/show/<%= @follow.account_id %>">
				<img src="<%= face_img_src(@follower[1]) %>" border="0" /></a>
		</div>
		<div class="community_block align_c">
			<a href="/spaces/show/<%= @follow.account_id %>" class="account_nick_link">
				<%= follower_name %></a>

			<span style="font-size: 15px; font-weight: bold;">
				<%= follow_status[1] %>
			</span>

			这件事
		</div>
	<% end %>
	
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	<div class="community_block align_c">
		<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/goals/track/#{@track.id}", :title => "目标的进度: #{goal_name}"} %>
	</div>
	
</div>

<div class="community_container_l">
	<h2><%= page_title %></h2>
	
	
	
	<%= render(:partial => "track", :object => @track, :locals => {:edit => @edit, :goal_follow_type => GoalFollowTypes.get_type(GoalFollowType.find(@follow.type_id)), :individual => true}) %>
	
	
	
	<div class="community_title">
		共有
		<b>
			<%= @track_comments.total_entries %>
		</b>
		条<span id="comment_list">评论</span> ...
	</div>
	
	<% if @edit %>
		<% form_tag "", :method => :post, :id => "delete_comment_form" do %>
		<% end %>
		
		<script language="JavaScript">
			function delete_comment(comment_id) {
				if(confirm("确定要删除评论么 ?")) {
					del_form = document.getElementById("delete_comment_form");
					del_form.action = "/goals/" + comment_id + "/delete_track_comment";
					del_form.submit();
				}
			}
		</script>
	<% end %>
	
	<div class="community_block_narrow align_r">
		<a href="#comment_new">添加评论</a>
	</div>

	<div class="community_block">
		<%= render(:partial => "/common/comment", :collection => @track_comments, :locals => {:can_del => @edit, :counter_shift => calculate_counter_shift(@track_comments)}) %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@track_comments) %>
	</div>
	
	<div class="community_block_narrow">
		<span id="comment_new">添加评论 »</span>
		<% form_tag "/goals/#{@track.id}/create_track_comment", :method => :post, :onsubmit => "if(document.getElementById('track_comment').value.replace(/(^\s*)|(\s*$)/g, '') == ''){ alert('请填写评论内容 ...'); return false; }" do %>
			<textarea id="track_comment" name="track_comment" class="text_field" cols="50" rows="5"></textarea>
			
			<div>
				<input type="submit" value="发表评论" class="button" />
			</div>
		<% end %>
	</div>
	
	
	
	<div style="margin-top: 50px;">
		<%= render :partial => "latest_goals" %>
	</div>
	
	
</div>


