<% all &&= true %>

<%
	companies = [
		[
			"IT/互联网",
			%w{
				IBM 思科 	微软 	AMD 	Intel 	甲骨文 	SAP 	北大方正 	清华同方 	趋势科技
				Google	雅虎 	百度 	腾讯 	新蛋 	网易 	 	新浪 	卓越网 	盛大网络 	阿里巴巴
				长城 	NEC 联想 	明基 	华硕 	戴尔 	爱普生 	Autodesk 	群硕软件 	环球资源
				宏基 	EMC 中软 	NVIDIA 	Satyam 	伊莱比特 	炬力集成 	赛门铁克 	索贝数码
				金山 	青牛 	浪潮 	BO 	Sybase 	富士康 	台积电 	博朗软件 	日立环球 	神州数码
				华讯 	正阳 	灵川 	锐捷 	亿阳信通 TOM 	千橡 	迅雷 	酷讯 	携程 	九城 	乐线
			},
			20
		],
		[
			"通讯设备/运营商",
			%w{
				华为 	大唐 	网通 	西门子 	诺基亚 	摩托罗拉 	Amdocs 	中国联通 	中国移动 	UT斯达康
				中兴 	北电 	索爱 	爱立信 	上海广电 	阿尔卡特 	广东移动 	北京移动 	上海电信 	广东电信
				海格 	天音 	华三 	TP-LINK 	电讯盈科 	宝利通		
			},
			10
		],
		[
			"银行",
			%w{
				工商银行  	农业银行  	中国银行  	建设银行  	交通银行  	 	 	 	
				招商银行 	浦发银行 	民生银行 	兴业银行 	华夏银行 	光大银行 	广发银行 	中信银行 	深发展
				汇丰银行 	花旗银行 	渣打银行 	东亚银行 	荷兰银行 	法兴银行 	UBS		恒生银行 	瑞穗 	永亨银行 	华侨银行 		
			},
			10
		],
		[
			"咨询公司",
			%w{
				贝恩 	毕博 	波士顿  	埃森哲 	麦肯锡 	罗兰贝格
				Opera 	企顾司 	野村综研 	博思艾伦					
			},
			5
		],
		[
			"会计师事务所",
			%w{
				德勤   安永   毕马威   普华永道				
			},
			4
		],
		[
			"快速消费品/零售",
			%w{
				宝洁 	玛氏 	雀巢 	强生 	欧莱雅 	高露洁 	娃哈哈 	沃尔玛 	可口可乐 	联合利华
				衣恋 	百事 	箭牌 	利乐 	麦当劳 	妮维雅 	百安居 	金伯利 	上海家化 	光明乳业
				宜家 	达能 	安踏 	雨润 	欧培德 	Adidas 	英博啤酒 	青岛啤酒 	卡夫食品 	嘉里粮油
				中粮 	蒙牛 	苏宁 	国美 	麦德龙 	蓝月亮 	易初莲花
			},
			15
		],
		[
			"能源化工/制药",
			%w{
				壳牌 	杜邦 	陶氏 	韩国SK 	BP石油 	中国石化 	中国石油 	国民油井 	康菲石油
				拜耳 	安利 	ICI 	德固赛 	帝斯曼 	法液空 	默沙东 	阿斯利康 	国际纸业 	金光纸业
				惠氏 	保诺 	瑞石 	美敦力 	巴斯夫 	扬子江 	思妍丽 	斯伦贝谢 	深圳迈瑞 	埃克森美孚
				雅培 	杨森 	传化 	孟山都 	先正达
			},
			10
		],
		[
			"电子电气",
			%w{
				海尔 	TCL 	康佳 	海信 	长虹 	创维 	施耐德 	中芯国际 	德州仪器 	意法半导体
				3M 	格力 	美的 	ABB 	三菱 	奥的斯 	格兰仕 	艾默生 	通用电气 	英格索兰
				威盛 	大金 	伊顿 	日立 	松下 	安捷伦 	中船重工 	中联重科 	卡特彼勒 	Freescale
				博朗 	理光 	柯达 	夏普 	索尼 	飞利浦 	飞亚达 	合众思壮 	恒生电子 	应用材料
				佳能 	江森 	贝迪 	雅马哈 	欧司朗 	圣戈班 	霍尼韦尔 	美国国家仪器
				南方电网   国家电网   广东核电   华中电网
			},
			15
		],
		[
			"汽车/航空",
			%w{
				博世 	福特 	吉利 	上海通用 	广州丰田 	广州本田 	德国大陆 	神龙汽车 	一汽大众
				奇瑞 	李尔 	米其林 	德尔福 	东风汽车 	长安铃木 				
				海南航空 	南方航空 	深圳航空 	首都机场 	中国航信
			},
			5
		],
		[
			"交通物流/仓储",
			%w{
				DHL 	UPS 	TNT 	中航 	宝能 	中集 	马士基 	东方海外 	商船三井 	美国总统轮船
			},
			3
		]
	]
%>

<div>
	<% if all %>

		<% companies.each do |industry| %>
		
			<div style="word-spacing: 20px;">
				<%= industry[0] %>
				<% industry[1].each do |company| %>
					<a href="/exps/search?query=<%= company %>" target="_blank" class="account_nick_link" style="font-size: 14px;">
						<%= company %></a>
				<% end %>
			</div>
		
		<% end %>

	<% else %>

		<div style="word-spacing: 20px;">
			<% companies.each do |industry| %>
				<% 1.upto(industry[2]) do |i| %>
					<a href="/exps/search?query=<%= industry[1][i-1] %>" target="_blank" class="account_nick_link" style="font-size: 14px;">
						<%= industry[1][i-1] %></a>
				<% end %>
			<% end %>
		</div>

	<% end %>
</div>


