<% page_title = "面经列表" %>
<% community_page_title(page_title) %>

<div id="ad_col" class="float_l left_ad_container" style="display: none;">
	<%= render :partial => "left_ad" %>
</div>

<div id="content_col" class="right_content_container">
	<a class="float_r" href="/exps/feed.atom">
		<img src="/images/feed_icon.gif" border="0" alt="订阅最新面经" title="订阅最新面经" /></a>
		
	<h2>
		<a href="#" onclick="toggle_ad_col(); return false;" title="显示/隐藏功能列表栏">
			<img src="/images/recruitments/toggle_ad_icon.gif" border="0" alt="显示/隐藏功能列表栏" /></a>

		<%= page_title %>
	</h2>
	
	
	
	<%= render :partial => "top_nav" %>
	
	
	
	<div class="community_block">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 728x15 */
		google_ad_slot = "8608645276";
		google_ad_width = 728;
		google_ad_height = 15;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	
	<div class="community_block">
		<div class="recruitment_list_container">
			<div class="recruitment_list_title">
				<div class="align_c overflow_hidden">
					<strong><%= page_title %></strong>
				</div>
			</div>
			
			<div class="community_block">
				<%= paging_buttons(@exps) %>
			</div>
			
			<div class="community_block">
				<%= render :partial => "talks_area" %>
				
				
				<div style="margin-right: 280px;">
					
					<%= render :partial => "exp", :collection => @exps %>
					
				</div>
			</div>
			
			<div class="community_block">
				<%= paging_buttons(@exps) %>
			</div>
		</div>
	</div>
	
	
	<div class="community_block">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 728x90 */
		google_ad_slot = "8878841011";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>


<script language="JavaScript" type="text/javascript" src="/javascripts/ad_content.js"></script>
<script language="JavaScript" type="text/javascript">
	toggle_ad_col(<%= ExpsController::Show_Left_Ad %>);
</script>


