<% page_title = "搜索面经" %>
<% page_title = "#{@query} - " + page_title if @query && (@query != "") %>
<% community_page_title(page_title) %>

<div id="ad_col" class="float_l left_ad_container" style="display: none;">
	<%= render :partial => "left_ad" %>
</div>

<div id="content_col" class="right_content_container">
	<a class="float_r" href="/exps/feed.atom">
		<img src="/images/feed_icon.gif" border="0" alt="订阅最新面经" title="订阅最新面经" /></a>
		
	<h2>
		<a href="#" onclick="toggle_ad_col(); return false;" title="显示/隐藏功能列表栏">
			<img src="/images/recruitments/toggle_ad_icon.gif" border="0" alt="显示/隐藏功能列表栏" /></a>

		<%= page_title %>
	</h2>
	
	
	
	<%= render :partial => "top_nav" %>
	
	
	<div class="community_block">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 728x15 */
		google_ad_slot = "8608645276";
		google_ad_width = 728;
		google_ad_height = 15;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
	
	<div class="recruitment_list_container">
		<div class="recruitment_list_title">
			<div class="align_c overflow_hidden">
				<strong><%= page_title %></strong>
				
				<% if @exps %>
					&nbsp;&nbsp;&nbsp;
					<span class="form_info_s">
						(
						搜索到
						<b><%= @exps.total_entries %></b>
						条面经
						)
					</span>
				<% end %>
			</div>
		</div>
		
		
		<div class="community_block align_c">
			<% form_tag "/exps/search", :method => :get do %>
				<input type="text" name="query" class="text_field" style="padding: 5px;" value="<%= h(@query) %>" style="width: 200px;" />

				<input type="submit" value="搜索面经" class="button" />
			<% end %>
			
			<br />
		</div>
		
		
		<% if @exps %>
			<div class="community_block">
				<table cellpadding="0" cellspacing="0" border="0" class="main_part_w">
					<tr>
						<td valign="top">
							<div>
								<% @exps.each do |exp| %>
									<% if exp %>
										<%= render(:partial => "/community/search_results/exp", :locals => {:result => exp, :query => @query, :riddle_client => get_riddle_client}) %>

										<div style="height: 30px;">

										</div>
									<% end %>
								<% end %>
							</div>
						</td>
						
						<td style="width: 30px;"></td>
						
						<td valign="top">
							<%= render :partial => "talks_area" %>
						</td>
					</tr>
				</table>
			</div>
			
			<div class="community_block">
				<%= paging_buttons(@exps) %>
			</div>
		<% end %>
	</div>
	
	
	<div class="community_block">
		<script type="text/javascript"><!--
		google_ad_client = "pub-3439613867319084";
		/* 728x90 */
		google_ad_slot = "8878841011";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>


<script language="JavaScript" type="text/javascript" src="/javascripts/ad_content.js"></script>
<script language="JavaScript" type="text/javascript">
	toggle_ad_col(true);
</script>


