<% hide_top &&= true %>

<% comment_count = ActivityPostComment.get_count(activity_post.id) %>

<tr>
	<td style="border-bottom: dashed 1px #DDDDDD;">
		<% unless hide_top %>
			<% if activity_post.top %>
				<b>
					[置顶]
				</b>
				&nbsp;
			<% end %>
		<% else %>
			<% activity_title  =h(activity_post.activity.get_title) %>
			[<a href="/activities/<%= activity_post.activity_id %>" title="<%= activity_title %>" class="account_nick_link"><%= truncate(activity_title) %></a>]
		<% end %>
		
		<% activity_post_title = h(activity_post.title) %>
		<a href="/activity/posts/<%= activity_post.id %>" title="<%= activity_post_title %>" class="account_nick_link">
			<%= truncate(activity_post_title) %>
			<% if activity_post.good %>
				&nbsp;
				<img src="/images/groups/good_small.gif" border="0" alt="精华" title="精华" />
			<% end %>
			</a>
	</td>
	
	<td align="right">
		<a href="/activity/posts/<%= activity_post.id %>#comment_list" class="account_nick_link">
			<%= comment_count %></a>
	</td>
	
	<td align="right">
		<a href="/spaces/show/<%= activity_post.account_id %>" class="account_nick_link">
			<%= h(activity_post.account.get_nick) %></a>
	</td>
	
	<td align="right" class="form_info_s">
		<%= format_datetime(activity_post.responded_at || activity_post.created_at) %>
	</td>
</tr>

