<% can_del &&= true %>

<%
	ActivityMember.set_activity_member_cache(activity.activity_id, activity.account_id, activity) if activity.kind_of?(ActivityMember)
	
	ActivityInterest.set_activity_interest_cache(activity.activity_id, activity.account_id, activity) if activity.kind_of?(ActivityInterest)
	
	
	activity = activity.activity unless activity.kind_of?(Activity)
	activity_id = activity.id
	activity_image = activity.get_image_url

	Activity.set_activity_with_image_cache(activity_id, activity, activity_image)
%>

<%
	activity_setting = activity.get_setting
	
	need_join_group_to_view = activity.get_setting[:need_join_group_to_view]
	group_id = activity.in_group
	if group_id && group_id > 0
		group = Group.get_group_with_image(group_id)[0]
		need_join_to_view_activity = group.get_setting[:need_join_to_view_activity]
		
		need_check_group_member = need_join_to_view_activity || need_join_group_to_view
	else
		need_check_group_member = need_join_group_to_view
	end
	can_view = !(need_check_group_member && (!GroupMember.is_group_member(group.id, session[:account_id])))
%>

<div>
	<table cellpadding="0" cellspacing="10" class="main_part_w">
		<tr>
			<td align="center" valign="middle" style="width: 120px;">
				<% face_image_url = activity_image || "" %>
				<% face_image_url.gsub!("thumb_48", "thumb_120") if face_image_url.include?("thumb_48") %>
				<a href="/activities/<%= activity.id %>">
					<img src="<%= face_img_src(face_image_url) %>" border="0" /></a>
			</td>
			
			<td align="left" valign="top">
				<% if can_del %>
					<a class="float_r" title="从列表中移除" href="#" onclick="remove_activity(<%= activity_id %>); return false;">
						<img src="/images/delete_small.gif" border="0" /></a>
				<% end %>
				<div>
					<span class="activity_info_label">
						<script language="JavaScript">
							var status_label = <%= show_activity_status_script(activity) %>;
							
							document.write("(" + status_label + ")");
						</script>
					</span>
					<span class="activity_title">
						<a href="/activities/<%= activity.id %>">
							<%= h(activity.get_title) %>
						</a>
					</span>
				</div>
				
				<% if can_view %>
				
					<div>
						<%= format_activity_time(activity.begin_at) %>
						--
						<%= format_activity_time(activity.end_at) %>
					
						<br />
					
						<span class="activity_info_label">地点:</span>
						<%= h(activity.place) %>
					
						<br />
					
						<span class="activity_info_label">报名截止时间:</span>
						<%= activity.application_deadline ? format_activity_time(activity.application_deadline) : "活动开始前" %>
					
						<br />
					
						<% if group_id && group_id > 0 %>
							<span class="">
								圈子
								<a href="/groups/<%= group.id %>">
									<%= h(group.name) %></a>
								的圈内活动
							</span>
						
							<br />
						<% end %>
					
					
						<% unless group_id && group_id > 0 %>
							全局活动	
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<% end %>
						<span class="activity_info_label">人数限制:</span>
						<%= (activity.member_limit && activity.member_limit > 0) ? activity.member_limit : "无" %>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="activity_info_label">人均费用:</span>
						<%= activity.cost || "无" %>
					
						<% contact = activity.get_setting[:contact] %>
						<% if contact && contact != "" %>
							<br />
						
							<span class="activity_info_label">联系方法:</span>
							<%= h(contact) %>
						<% end %>
					</div>
					
				<% else %>
					
					<p class="warning_msg" style="margin-right: 20px;">
    					根据活动及其所在圈子的设置, 只有活动所在的圈子的成员可以查看活动的具体内容
		    		</p>
					
				<% end %>
			</td>
		</tr>
	</table>
	
	<%= draw_hor_line("450px") %>
</div>
