<% owner_name = @edit ? "我" : h(@owner_nick_pic[0]) %>

<% page_title = "链接到 #{owner_name} 参加的活动的全部照片" %>
<% community_page_title(page_title) %>

<div class="float_r">
	<% if @edit %>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>">我的空间</a>
		</div>
	<% else %>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>" class="account_nick_link">
				<%= owner_name %></a>
			&nbsp;&nbsp;&nbsp;
			<a href="/spaces/show/<%= @owner_id %>">
				<img src="<%= face_img_src(@owner_nick_pic[1]) %>" border="0" /></a>
		</div>
	<% end %>
</div>
	
<div class="album_container">
	<h2><%= page_title %></h2>
	
	<div class="community_block_narrow form_info_s">
		共有
		<b><%= @all_photos.total_entries %></b>
		张链接到我参加的活动的照片,
		<a href="/activities/recent/<%= @owner_id %>">
			返回 <%= owner_name %> 的活动近况
		</a>
	</div>
	
	<div class="community_block">
		<%= thin_hr %>
	</div>
	
	<div class="overflow_hidden">
		<%= float_list(@all_photos, "/linked_photos/linked_photo_for_all", :linked_photo_for_all, {:label => "活动", :type => :activity, :text => :get_title}, 6) %>
	</div>
	
	<div class="community_block clear_l">
		<%= paging_buttons(@all_photos) %>
	</div>

</div>



<link rel="stylesheet" href="/lib/lightbox/css/lightbox.css" type="text/css" media="screen"></link>

<script language="JavaScript" src="/lib/protopack/protoculous-packer.js"></script>
<script language="JavaScript" src="/lib/lightbox/js/lightbox.js"></script>


<script language="JavaScript">
	function delete_linked_photo(linked_photo_id){
		if(confirm('确定要删除么 ?')){
			var indicator_id = "deleting_indicator_" + linked_photo_id;
			var link_id = "delete_linked_photo_link_" + linked_photo_id;
			Element.show(indicator_id);
			Element.hide(link_id);
	
			new Ajax.Request(
	            "/activity/linked_photos/destroy_link/" + linked_photo_id,
	            {
	            	asynchronous:true,
	                evalScripts:true,
	                onComplete:function(request){
						Element.show(link_id);
						Element.hide(indicator_id);
					},
	                //onLoading:function(request){},
					method:"post",
	                parameters:"authenticity_token=" + encodeURIComponent("<%= form_authenticity_token %>")
	            }
	        );
		}
	}
</script>


