<% owner_name = h(@owner_nick_pic[0]) %>
<% type_name = action_name == "list_attend" ? "未缺席" : "缺席" %>

<% page_title = "#{owner_name} #{type_name}的活动" %>
<% community_page_title(page_title) %>

<div class="float_r group_container_r">
	
	<div class="community_block">
		<a href="/spaces/show/<%= @owner_id %>">
			<img src="<%= face_img_src(@owner_nick_pic[1]) %>" border="0" /></a>
	</div>
	<div class="community_block">
		<a href="/spaces/show/<%= @owner_id %>" class="account_nick_link">
			<%= owner_name %></a>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block">
		<% if action_name == "list_attend" %>
			<a href="/activities/list_absent/<%= @owner_id %>">所有 <%= owner_name %> 缺席的活动</a>
		<% end%>
		
		<% if action_name == "list_absent" %>
			<a href="/activities/list_attend/<%= @owner_id %>">所有 <%= owner_name %> 未缺席的活动</a>
		<% end%>
	</div>
	
	<div class="community_block">
		<a href="/activities/attend_stat/<%= @owner_id %>">返回 <%= owner_name %> 的活动出席/缺席情况的统计</a>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block">
		<a href="/activities/list_join/<%= @owner_id %>">所有 <%= owner_name %> 参加的活动</a>
	</div>
	
	<div class="community_block">
		<a href="/activities/list_create/<%= @owner_id %>">所有 <%= owner_name %> 发起的活动</a>
	</div>

	<div class="community_block">
		<a href="/activities/list_interest/<%= @owner_id %>">所有 <%= owner_name %> 感兴趣的活动</a>
	</div>
	
	<div class="community_block">
		<a href="/activities/recent/<%= @owner_id %>"><%= owner_name %> 的活动近况</a>
	</div>
	
</div>

<div class="group_container_l">
	<h2><%= page_title %></h2>
	
	<div class="community_block_narrow form_info_s">
		共有
		<b><%= @activities.total_entries %></b>
		个活动
		<%= type_name %>
	</div>
	
	<div class="community_block overflow_hidden">
		<%= render(:partial => "activity", :collection => @activities) %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@activities) %>
	</div>
	
</div>

