<% owner_name = @edit ? "我" : h(@owner_nick_pic[0]) %>

<% page_title = "#{owner_name} 感兴趣的活动" %>
<% community_page_title(page_title) %>

<div class="float_r group_container_r">
	
	<% if @edit %>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>">我的空间</a>
		</div>
	<% else %>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>">
				<img src="<%= face_img_src(@owner_nick_pic[1]) %>" border="0" /></a>
		</div>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>" class="account_nick_link">
				<%= owner_name %></a>
		</div>
	<% end %>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<% if false %>
	<div class="community_block">
		<a href="/activities/list_notbegin_join/<%= @owner_id %>">所有 <%= owner_name %> 参加的尚未开始的活动</a>
	</div>
	<% end %>
	
	<div class="community_block">
		<a href="/activities/list_create/<%= @owner_id %>">所有 <%= owner_name %> 发起的活动</a>
	</div>

	<div class="community_block">
		<a href="/activities/list_join/<%= @owner_id %>">所有 <%= owner_name %> 参加的活动</a>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block">
		<a href="/activities/recent/<%= @owner_id %>">
			<%= owner_name %> 的活动近况
		</a>
	</div>
	
	<div class="community_block">
		<a href="/activities/list_friend/<%= @owner_id %>">
			<%= owner_name %> 的朋友的活动近况
		</a>
	</div>
	
	<div class="community_block">
		<a href="/activities/list_group_index">
			我参加的圈子的全部圈内活动</a>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block">
		<a href="/activities/all">浏览现有的全部活动</a>
	</div>
	
</div>

<div class="group_container_l">
	<h2><%= page_title %></h2>
	
	<div class="community_block_narrow form_info_s">
		对
		<b><%= @activities.total_entries %></b>
		个活动感兴趣
	</div>
	
	<% if @edit %>
		<% form_tag "", :method => :post, :id => "delete_interest_form" do %>
		<% end %>
		
		<script language="JavaScript">
			function remove_activity(activity_id) {
				if(confirm("确定要将其从感兴趣的活动中删除么 ?")) {
					del_form = document.getElementById("delete_interest_form");
					del_form.action = "/activities/" + activity_id + "/del_interest";
					del_form.submit();
				}
			}
		</script>
	<% end %>
	
	<div class="community_block overflow_hidden">
		<%= render(:partial => "activity", :collection => @activities, :locals => {:can_del => @edit}) %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@activities) %>
	</div>
	
</div>

