<% owner_name = @edit ? "我" : h(@owner_nick_pic[0]) %>

<% page_title = "#{owner_name} 的活动近况" %>
<% community_page_title(page_title) %>

<div class="float_r group_container_r">
	<% if @edit %>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>">我的空间</a>
		</div>
	<% else %>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>">
				<img src="<%= face_img_src(@owner_nick_pic[1]) %>" border="0" /></a>
		</div>
		<div class="community_block">
			<a href="/spaces/show/<%= @owner_id %>" class="account_nick_link">
				<%= owner_name %></a>
		</div>
	<% end %>
	
	<% if @edit %>
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
		
		<div class="community_block">
			<a href="/activities/new">
				<img src="/images/activities/new_activity_small.gif" border="0" />
				发起一个全局的活动</a>
		</div>
		
		<div class="community_block">
			<a href="/activities/activity_groups/<%= session[:account_id] %>">
				<img src="/images/activities/new_activity_in_group_small.gif" border="0" />
				发起一个圈子内活动</a>
		</div>
	<% end %>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block">
		<a href="/activities/all">浏览现有的全部活动</a>
	</div>
	
	<div class="community_block">
		<a href="/activities/<%= @edit ? "list_friend_edit" : "list_friend" %>/<%= @owner_id %>">
			<%= owner_name %> 的朋友的活动近况
		</a>
	</div>
	
	<div class="community_block">
		<a href="/activities/list_group_index">
			我参加的圈子的全部圈内活动</a>
	</div>
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	<div class="community_block">
		<% form_tag "/community/search", :method => :get do %>
			<input type="text" name="query" class="text_field" style="width: 50%" />
			<input type="hidden" name="scope" value="activity_post" />

			&nbsp;
			<input type="submit" value="搜索活动话题" class="button" />
		<% end %>
	</div>
	
	<div class="community_title">
		报名参加的活动 ...
	</div>
	<div class="community_block">
		<a href="/activities/list_notbegin_join/<%= @owner_id %>">
			所有参加的尚未开始的活动
		</a>
	</div>
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="join_activity_section_expand" href="#" onclick="collapse_section('join_activity_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="join_activity_section_collapse" href="#" onclick="expand_section('join_activity_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<span class="float_r">
				<a href="/activities/list_create/<%= @owner_id %>">所有发起的活动</a>
				&nbsp;&nbsp;&nbsp;
			</span>
			
			<a href="/activities/list_join/<%= @owner_id %>">所有参加的活动</a>
		</div>
	</div>
		
	<div id="join_activity_section">
		<%= render(:partial => "activity_small", :collection => @join_activity_members) %>
	</div>
	
	<div class="community_title">
		感兴趣的活动 ...
	</div>
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="interest_activity_section_expand" href="#" onclick="collapse_section('interest_activity_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="interest_activity_section_collapse" href="#" onclick="expand_section('interest_activity_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			
			<a href="/activities/list_interest/<%= @owner_id %>">所有感兴趣的活动</a>
		</div>
	</div>
		
	<div id="interest_activity_section">
		<%= render(:partial => "activity_small", :collection => @activity_interests) %>
	</div>

</div>

<div class="group_container_l">
	<h2><%= page_title %></h2>
	
	<div class="community_title">
		最近讨论话题 ...
	</div>
	
	<div class="community_block_narrow">
		<a href="/activities/created_post/<%= @owner_id %>">全部发起的话题</a>
		&nbsp;&nbsp;&nbsp;
		<a href="/activities/commented_post/<%= @owner_id %>">全部评论的话题</a>
		&nbsp;&nbsp;&nbsp;
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="join_post_section_expand" href="#" onclick="collapse_section('join_post_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="join_post_section_collapse" href="#" onclick="expand_section('join_post_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<span class="float_r">
				<a href="/activities/all_join_post/<%= @owner_id %>">参加的活动的全部话题</a>
				&nbsp;&nbsp;&nbsp;
			</span>
			
			<img class="float_l" src="/images/groups/post_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<b>
				参加的活动的讨论话题
			</b>
		</div>
	</div>
	<div id="join_post_section" class="community_block">
		<table cellpadding="0" cellspacing="5" class="main_part_w">
			<thead>
				<tr>
					<td width="51%">话题</td>
					<td width="6%" align="right">评论</td>
					<td width="18%" align="right">发起人</td>
					<td width="25%" align="right">最后参与</td>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => "activity_post", :collection => @join_activity_posts, :locals => {:hide_top => true} %>
			</tbody>
		</table>
		<% unless @join_activity_posts.size > 0 %>
			<div class="form_info_l">
				还没有讨论话题 ...
			</div>
		<% end %>
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="interest_post_section_expand" href="#" onclick="collapse_section('interest_post_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="interest_post_section_collapse" href="#" onclick="expand_section('interest_post_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<span class="float_r">
				<a href="/activities/all_interest_post/<%= @owner_id %>">感兴趣的活动的全部话题</a>
				&nbsp;&nbsp;&nbsp;
			</span>
			
			<img class="float_l" src="/images/groups/post_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<b>
				感兴趣的活动的讨论话题
			</b>
		</div>
	</div>
	<div id="interest_post_section" class="community_block">
		<table cellpadding="0" cellspacing="5" class="main_part_w">
			<thead>
				<tr>
					<td width="51%">话题</td>
					<td width="5%" align="right">评论</td>
					<td width="21%" align="right">发起人</td>
					<td width="23%" align="right">最后参与</td>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => "activity_post", :collection => @interest_activity_posts, :locals => {:hide_top => true} %>
			</tbody>
		</table>
		<% unless @interest_activity_posts.size > 0 %>
			<div class="form_info_l">
				还没有讨论话题 ...
			</div>
		<% end %>
	</div>
	
	
	<div class="community_title">
		最新活动照片 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="photo_section_expand" href="#" onclick="collapse_section('photo_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="photo_section_collapse" href="#" onclick="expand_section('photo_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<span class="float_r">
				<a href="/activities/all_photo/<%= @owner_id %>">链接到我参加的活动的全部照片</a>
				&nbsp;&nbsp;&nbsp;
			</span>

			<img class="float_l" src="/images/activities/photo_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<strong>链接到我参加的活动的照片</strong>
		</div>
		
		<div id="photo_section" class="community_block overflow_hidden">
			<%= float_list(@activity_photos, "/linked_photos/linked_photo_small", :linked_photo_small, {}, 5) %>
		</div>
		
		<% unless @activity_photos.size > 0 %>
			<div class="form_info_l">
				还没有链接到我参加的活动的照片 ...
			</div>
		<% end %>
		
		<div class="clear_l"></div>
	</div>
	
</div>



<script language="JavaScript">
	function expand_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "";
		document.getElementById(expand_icon).style.display = "";
		document.getElementById(collapse_icon).style.display = "none";
	}
	
	function collapse_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "none";
		document.getElementById(expand_icon).style.display = "none";
		document.getElementById(collapse_icon).style.display = "";
	}
</script>

