<% activity_status = @activity.get_status %>
<% activity_title = h(@activity.get_title) %>
<% activity_place = h(@activity.place) %>

<% community_page_title(activity_title) %>

<div class="float_r activity_container_r">
	
	<% if @group %>
		<div class="align_c">
			<b>圈子内活动</b>
		</div>

		<div class="community_block align_c">
			<div>
				<a href="/groups/<%= @group.id %>">
					<img src="<%= face_img_src(@group_image) %>" border="0" /></a>
			</div>
			<div>
				<a href="/groups/<%= @group.id %>" class="group_name_link">
					<%= h(@group.name) %></a>
			</div>
		</div>
	<% else %>
		<div class="align_c">
			<b>全局的活动</b>
		</div>
	<% end %>
	
	
	<% unless @activity.cancelled %>
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
	
		<div>
			<div id="map_canvas">
			
			</div>
		
			<div class="align_c">
				<a id="big_map_link" href="#" onclick="big_map(); return false;" style="display: none;">
					<img src="/images/show_big.gif" border="0" alt="大图" title="大图" width="12" height="12" />
					查看大地图</a>
			</div>
		
			<% if @is_admin %>
				<div class="align_r">
					<a id="wrong_map_link" href="#" onclick="explain_wrong_map(); return false;" style="display: none;">
						(地图错误?)</a>
				</div>
			
				<div class="align_c">
					<a id="no_map_link" href="#" onclick="explain_no_map(); return false;" style="display: none;">
						(为什么没有显示地图?)</a>
				</div>
			<% end %>
		
			<a id="small_map_link" href="#" onclick="small_map(); return false;" style="position: absolute; top: 5px; left: 875px; display: none;">
				<img id="close_big_map_img" src="/images/activities/close_big_map_middle.gif" border="0" /></a>
		</div>
	<% end %>
	
	
	<% if @is_admin %>
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
		
		<%# if activity_status[0] <= Activity::Status::Ongoing[0] %>
			<div class="community_block">
				<a href="/activities/<%= @activity_id %>/edit">
					<img src="/images/groups/edit_small.gif" border="0" />
					修改活动的信息</a>
			</div>
			
			<div class="community_block">
				<a href="/activities/<%= @activity_id %>/edit_image">
					<img src="/images/groups/edit_image_small.gif" border="0" />
					设置活动的图标</a>
			</div>
		<%# end %>
		
		<div class="community_block">
			<a href="/activities/members_info/<%= @activity_id %>">
				<img src="/images/activities/members_info_small.gif" border="0" />
				统计报名参加活动成员的信息</a>
		</div>
		
		<% if activity_status[0] <= Activity::Status::Registered[0] %>
			<div class="community_block">
				<a href="/activities/unapproved/<%= @activity_id %>">
					<img src="/images/groups/approve_member_small.gif" border="0" />
					处理报名参加活动的申请</a>
			</div>
		<% end %>
	<% end %>
	
	<% if @is_master %>
		<div class="community_block">
			<a href="/activities/members_master/<%= @activity_id %>">
				<img src="/images/groups/admin_icon.png" border="0" />
				设置活动的管理员</a>
		</div>
	<% end %>
	
	
	<div class="community_block_narrow">
		<%= thin_hr %>
	</div>
	
	
	<% if @is_admin && activity_status[0] <= Activity::Status::Registered[0] %>
		<div class="community_block">
			<a href="/activities/members_edit/<%= @activity_id %>">
				<img src="/images/groups/members_small.gif" border="0" />
				管理报名参加活动的成员</a>
		</div>
	<% else %>
		<div class="community_block">
			<a href="/activities/members/<%= @activity_id %>">
				<img src="/images/groups/members_small.gif" border="0" />
				浏览报名参加活动的成员</a>
		</div>
	<% end %>
	
	<div class="community_block">
		<a href="/activities/interest/<%= @activity_id %>">
			<img src="/images/activities/interest_small.png" border="0" />
			浏览对活动感兴趣的成员</a>
	</div>
	
	<% if activity_status[0] <= Activity::Status::Registering[0] %>
		<div class="community_block">
			<a href="/activities/invite/<%= @activity_id %>">
				<img src="/images/groups/qiao_small.png" border="0" />
				邀请乔布圈内的朋友参加活动</a>
		</div>
	
		<div class="community_block">
			<a href="/activities/invite_contact/<%= @activity_id %>">
				<img src="/images/groups/invite_contact_small.png" border="0" />
				邀请 MSN/Gtalk 上的好友 和 Email 联系人参加活动</a>
		</div>
	<% end %>
	
	<% if activity_status[0] >= Activity::Status::Ongoing[0] %>
		<div class="community_block">
			<a href="/activities/<%= @is_admin ? "absent_edit" : "absent" %>/<%= @activity_id %>">
				<img src="/images/activities/edit_absent_small.png" border="0" width="16" height="14" />
				<%= @is_admin ? "编辑" : "查看" %>活动的缺席成员</a>
		</div>
	<% end %>
	
	
	<% if @can_add_post %>
		<div class="community_block_narrow">
			<%= thin_hr %>
		</div>
	
		<div class="community_block">
			<a href="/activity/posts/compose/<%= @activity_id %>">
				<img src="/images/groups/add_post_small.png" border="0" />
				发起新的讨论话题</a>
		</div>
	<% end %>
	
	<% if @is_member %>
		<div class="community_block">
			<a href="/activity/linked_photos/select/<%= @activity_id %>">
				<img src="/images/activities/new_photo_small.gif" border="0" />
				添加新的活动照片</a>
		</div>
	<% end %>
	
	
	
	<div class="community_title clear_l">
		发起的其他活动 ...
	</div>
	
	<div class="community_block">
		<% cache("#{Activity::FCKP_activities_show_created_activity}_#{@creator_id}") do %>
			<%
				@created_activities = Activity.uncancelled.find(
					:all,
					:limit => ActivitiesController::Same_Creator_Activity_Num,
					:select => "id, created_at, creator_id, title, cancelled, begin_at, end_at, application_deadline, in_group",
					:conditions => ["creator_id = ?", @creator_id],
					:order => "created_at DESC"
				)
			%>
			<% @created_activities.each do |a| %>
				<div>
					»
					<a href="/activities/<%= a.id %>" class="account_nick_link">
						<%= h(a.get_title) %>
					</a>
					<span class="activity_info_label">
						<script language="JavaScript">
							var status_label = <%= show_activity_status_script(a) %>;
							
							document.write("(" + status_label + "-<%= a.in_group && a.in_group > 0 ? "圈内活动" : "全局活动" %>)");
						</script>
					</span>
				</div>
			<% end %>
		<% end %>
		<div class="align_r">
			<a href="/activities/list_create/<%= @creator_id %>">(查看全部)</a>
		</div>
	</div>
	
	<!--
	<div class="community_title clear_l">
		订阅活动讨论 ...
	</div>
	
	<div class="community_block">
		
	</div>
	-->
	
</div>

<div class="activity_container_l">
	<div class="float_r">
		<%= render :partial => "/bookmarks/inline_add", :locals => {:url => "/activities/#{@activity_id}", :title => "活动: #{activity_title}"} %>
	</div>
		
	<h2><%= activity_title %></h2>
	
	<% if @activity.cancelled %>
		<div class="community_block_narrow form_info_s">
			<%= h(@activity.title) %>
		</div>
		
		<% if @is_master %>
			<div class="community_block align_c">
				<% if @activity.cancelled %>
					<% form_tag "/activities/#{@activity_id}/recover", :method => :post, :onsubmit => "if(!confirm('确定要恢复这个活动么 ?')){ return false; }", :id => "recover_activity_form" do %>
						<input type="submit" value="我决定还是要恢复这个活动" class="button" />
					<% end %>
				<% end %>
			</div>
		<% end %>
	<% end %>
	
	<div>
		<div class="space_section_title">
			<a class="float_r" title="收起" id="info_section_expand" href="#" onclick="collapse_section('info_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="info_section_collapse" href="#" onclick="expand_section('info_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<span class="float_r">
				<a href="/spaces/show/<%= @creator_id %>" class="account_nick_link"><%= h(@creator_nick_pic[0]) %></a> 于 <%= format_date(@activity.created_at) %> 发起
				&nbsp;&nbsp;&nbsp;
			</span>
			
			<img class="float_l" src="/images/activities/info_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<b>
				活动信息
			</b>
		</div>
		
		<div id="info_section">
			<table cellpadding="0" cellspacing="5" border="0" class="main_part_w">
				<tr>
					<td align="left" valign="top">
						<div>
							<span class="activity_info_label">开始时间:</span>
							<%= format_activity_time(@activity.begin_at) %>
							
							<br />
							
							<span class="activity_info_label">结束时间:</span>
							<%= format_activity_time(@activity.end_at) %>
							
							<br />
							
							<span class="activity_info_label">地点:</span>
							<%= activity_place %>
							
							<br />
							
							<span class="activity_info_label">报名截止:</span>
							<%= @activity.application_deadline ? format_activity_time(@activity.application_deadline) : "活动开始前" %>
							
							<br />
							
							<span class="activity_info_label">人数限制:</span>
							<%= (@activity.member_limit && @activity.member_limit > 0) ? @activity.member_limit : "无" %>
							
							<br />
							
							<span class="activity_info_label">人均费用:</span>
							<%= @activity.cost || "无" %>
							
							<% contact = @activity_setting[:contact] %>
							<% if contact && contact != "" %>
								<br />
								
								<span class="activity_info_label">联系方法:</span>
								<%= h(contact) %>
							<% end %>
						</div>
					</td>
					
					<td align="left" valign="middle" style="width: 200px;">
						<% face_image_url = @activity_image || "" %>
						<% face_image_url = face_image_url.gsub("thumb_48", "thumb_200") if face_image_url.include?("thumb_48") %>
						<% if @is_admin # && activity_status[0] <= Activity::Status::Ongoing[0] %>
							<a href="/activities/<%= @activity_id %>/edit_image">
								<img src="<%= face_img_src(face_image_url) %>" border="0" /></a>
						<% else %>
							<img src="<%= face_img_src(face_image_url) %>" border="0" />
						<% end %>
					</td>
					
					
					<td style="width: 10px;">&nbsp;</td>
					<td align="left" valign="top" style="width: 110px;">
						<div class="community_block activity_status" style="margin-bottom: 10px;">
							活动 <%= activity_status[1] %>
						</div>
						
						<% if activity_status[0] <= Activity::Status::Registering[0] %>
							<% if @is_member %>	
								<% if @is_master %>
									<% unless @activity.cancelled %>
										<% form_tag "/activities/#{@activity_id}/cancel", :method => :post, :onsubmit => "if(!confirm('确定要取消这个活动么 ?')){ return false; }" do %>
											<input type="submit" value="取消这个活动" class="button" />
										<% end %>
									<% end %>
								<% else %>
									<div class="community_block">
										<% form_tag "/activities/#{@activity_id}/quit", :method => :post, :onsubmit => "if(!confirm('确定要退出这个活动么 ?')){ return false; }" do %>
											<input type="submit" value="退出这个活动" class="button" />
										<% end %>
									</div>
								<% end %>
							<% else %>
								<% unless @beyond_limit %>
									<div class="community_block">
										<% form_tag "/activities/#{@activity_id}/check_profile", :method => :post do %>
											<input type="submit" value="报名参加活动" class="button" />
										<% end %>
									</div>
								<% else %>
									<div class="community_block activity_status">
										报名人数已满
									</div>
								<% end %>
							<% end %>
						<% end %>
						
						<% if @can_add_interest %>
							<div class="community_block" style="margin-top: 10px;">
								<% form_tag "/activities/#{@activity_id}/add_interest", :method => :post do %>
									<input type="submit" value="对活动感兴趣" class="button" />
								<% end %>
							</div>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	
	<div>
		<div class="space_section_title">
			<a class="float_r" title="收起" id="desc_section_expand" href="#" onclick="collapse_section('desc_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="desc_section_collapse" href="#" onclick="expand_section('desc_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<% if @is_admin # && activity_status[0] <= Activity::Status::Ongoing[0] %>
				<span class="float_r">
					<a href="/activities/<%= @activity_id %>/edit#edit_activity_desc">编辑活动的描述</a>
					&nbsp;&nbsp;&nbsp;
				</span>
			<% end %>
			
			<img class="float_l" src="/images/activities/desc_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<b>
				活动描述
			</b>
		</div>
		
		<div id="desc_section" class="tinymce_content">
			<%= sanitize_tinymce(@activity_setting[:desc]) %>
		</div>
	</div>
	
	
	<div class="community_title">
		最新活动照片 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="photo_section_expand" href="#" onclick="collapse_section('photo_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="photo_section_collapse" href="#" onclick="expand_section('photo_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<% if @is_member %>
				<span class="float_r">
					<a href="/activity/linked_photos/select/<%= @activity_id %>">添加新的活动照片</a>
					&nbsp;&nbsp;&nbsp;
				</span>
			<% end %>
			
			<img class="float_l" src="/images/activities/photo_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<a href="/activities/photo/<%= @activity_id %>">全部活动照片</a>
		</div>
		
		<div id="photo_section" class="overflow_hidden">
			<%= float_list(@activity_photos, "/linked_photos/linked_photo_small", :linked_photo_small, {}, 6) %>
			<% unless @activity_photos.size > 0 %>
				<div class="form_info_l">
					还没有活动照片 ...
				</div>
			<% end %>
			
			<div class="clear_l"></div>
		</div>
	</div>
	
	
	<div class="community_title">
		最近活动讨论 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="post_section_expand" href="#" onclick="collapse_section('post_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="post_section_collapse" href="#" onclick="expand_section('post_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<% if @can_add_post %>
				<span class="float_r">
					<a href="/activity/posts/compose/<%= @activity_id %>">发起新的讨论话题</a>
					&nbsp;&nbsp;&nbsp;
				</span>
			<% end %>
			
			<img class="float_l" src="/images/groups/post_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<a href="/activities/post/<%= @activity_id %>">全部活动讨论</a>
			
			&nbsp;&nbsp;&nbsp;
			<a href="/activities/good_post/<%= @activity_id %>">(查看活动精华区)</a>
		</div>
		
		<div id="post_section" class="community_block">
			<table cellpadding="0" cellspacing="5" class="main_part_w">
				<thead>
					<tr>
						<td width="52%">话题</td>
						<td width="6%" align="right">评论</td>
						<td width="19%" align="right">发起人</td>
						<td width="23%" align="right">最后参与</td>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => "activity_post", :collection => @top_activity_posts %>
					<%= render :partial => "activity_post", :collection => @activity_posts %>
				</tbody>
			</table>
			<% unless @top_activity_posts.size + @activity_posts.size > 0 %>
				<div class="form_info_l">
					还没有讨论话题 ...
				</div>
			<% end %>
		</div>
	</div>
	
	
	<div class="community_title">
		最新加入成员 ...
	</div>
	
	<div class="community_block">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="join_section_expand" href="#" onclick="collapse_section('join_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="join_section_collapse" href="#" onclick="expand_section('join_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<span class="float_r form_info_s">
				<% if @can_view_member %>
					<a href="/activities/members/<%= @activity_id %>">全部报名参加活动的成员</a>
				<% else %>
					(已隐藏)
				<% end %>
				&nbsp;&nbsp;&nbsp;
			</span>
			
			<img class="float_l" src="/images/groups/members_small.gif" border="0" />
			&nbsp;&nbsp;&nbsp;
			<b>
				报名参加这个活动的成员
			</b>
		</div>
		
		<div id="join_section" class="overflow_hidden">
			<% if @can_view_member %>
				
				<%= float_list(@members, "member", :member, {}, 7) %>
			
				<div class="clear_l"></div>
				
			<% else %>
				
				<p class="warning_msg" style="margin-left: 15px; margin-right: 15px;">
					根据活动的设置, 只有报名活动后才可以查看参加活动的成员
				</p>
				
			<% end %>
		</div>
	</div>
	
	<div class="community_block clear_l">
		<div class="space_section_title">
			<a class="float_r" title="收起" id="interest_section_expand" href="#" onclick="collapse_section('interest_section'); return false;">
				<img src="/images/expand.png" border="0" /></a>
			<a class="float_r" title="展开" id="interest_section_collapse" href="#" onclick="expand_section('interest_section'); return false;" style="display: none">
				<img src="/images/collapse.png" border="0" /></a>
			<span class="float_r">
				<a href="/activities/interest/<%= @activity_id %>">全部对活动感兴趣的成员</a>
				&nbsp;&nbsp;&nbsp;
			</span>
			
			<img class="float_l" src="/images/activities/interest_small.png" border="0" />
			&nbsp;&nbsp;&nbsp;
			<b>
				对这个活动感兴趣的成员
			</b>
		</div>
		
		<div id="interest_section" class="overflow_hidden">
			<%= float_list(@interest_accounts, "member", :member, {}, 7) %>
		</div>
		<div class="clear_l"></div>
	</div>
	
	
	<% if @is_admin %>
		<div>
			<% form_tag "/activities/#{@activity_id}/cache_point", :method => :post, :target => "point_cache_operator", :id => "do_cache_form" do %>
				<input type="hidden" name="point_lat" id="point_lat" value="" />
				<input type="hidden" name="point_lng" id="point_lng" value="" />
			<% end %>
		</div>
	
		<iframe name="point_cache_operator" id="point_cache_operator" style="display:none"></iframe>
	<% end %>
	
</div>



<script language="JavaScript">
	function expand_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "";
		document.getElementById(expand_icon).style.display = "";
		document.getElementById(collapse_icon).style.display = "none";
	}
	
	function collapse_section(div_id) {
		var expand_icon = div_id + "_expand";
		var collapse_icon = div_id + "_collapse";
		
		document.getElementById(div_id).style.display = "none";
		document.getElementById(expand_icon).style.display = "none";
		document.getElementById(collapse_icon).style.display = "";
	}
</script>



<% unless @activity.cancelled %>
	<script src="http://ditu.google.cn/maps?file=api&v=2&hl=zh&key=ABQIAAAAx5FxwPteEaekBa2OsGoGMhRhWPLdTYHlYKadOx9YMcM4H2s8ERRt0O5IDG1pAtx2TxjX-UMGlI5CLA" type="text/javascript"></script>

	<script type="text/javascript">
		window.onunload = GUnload;
	
		var map;
	
		var type_control = new GMapTypeControl();
		var small_control = new GSmallMapControl();
		var big_control = new GLargeMapControl();
	
		var lat_lng;

		function draw_map(lat, lng) {
			display_map(lat, lng);
		
			document.getElementById("big_map_link").style.display = "";
		
			<% if @is_admin %>
				document.getElementById("wrong_map_link").style.display = "";
			<% end %>
		}
	
		function display_map(lat, lng) {
			if (GBrowserIsCompatible()) {
			
				map = new google.maps.Map2(
					document.getElementById("map_canvas"),
					{
						size: new GSize(200, 200)
					}
				);
			
				lat_lng = new GLatLng(lat/100000, lng/100000);
			
				reset_map_center();

				map.addControl(type_control);
				map.addControl(small_control);

				//map.openInfoWindow(map.getCenter(), document.createTextNode("Hello, world"));
			
				show_marker();
			}
		}
	
		function show_marker() {
			map.addOverlay(new GMarker(lat_lng));
		}
	
		function reset_map_center() {
			if(map.isLoaded()) {
				map.panTo(lat_lng);
			}
			else {
				map.setCenter(
					lat_lng,
					15
				);
			}
		}
	
	
		function big_map() {
			if(map) {
				var mc = document.getElementById("map_canvas");
		
				mc.style.position = "absolute";
		
				mc.style.top = "30px";
				mc.style.left = "75px";
		
				mc.style.border = "10px solid #888888";
		
				mc.style.width = "800px";
				mc.style.height = "500px";
				map.checkResize();
			
				map.removeControl(small_control);
				map.addControl(big_control);
			
				reset_map_center();
			
				document.getElementById("small_map_link").style.display = "";
				document.getElementById("big_map_link").style.display = "none";
			}
		}
	
		function small_map() {
			if(map) {
				var mc = document.getElementById("map_canvas");
		
				mc.style.borderStyle = "none";
		
				mc.style.width = "200px";
				mc.style.height = "200px";
				map.checkResize();
			
				map.removeControl(big_control);
				map.addControl(small_control);
		
				mc.style.top = "";
				mc.style.left = "";
		
				mc.style.position = "relative";
		
				reset_map_center();
			
				document.getElementById("big_map_link").style.display = "";
				document.getElementById("small_map_link").style.display = "none";
			}
		}
	
		function explain_wrong_map() {
			alert("乔布圈根据搜索*活动地点*的结果自动呈现地图, 请尽量填写清晰和易于搜索的*活动地点*, 以获得最佳的地图匹配和呈现效果. (注: 目前仅支持上海市)");
		}
	
		function explain_no_map() {
			alert("乔布圈根据搜索*活动地点*的结果自动呈现地图, 如果所填写的*活动地点*无法识别或无法被搜索到, 则无法呈现地图. 请尽量填写清晰和易于搜索的*活动地点*. (注: 目前仅支持上海市)");
		}
	</script>



	<script language="javascript" src="http://api.51ditu.com/js/search.js"></script>
	<script language="javascript">
		var lat;
		var lng;
	
		function search_finish(result) {
			var points = result.searchPoints;
		
			if(points.length > 0) {
				var point = points[0].point;
				lat = point[1];
				lng = point[0];
			
				draw_map(lat, lng);
			}
			else {
				lat = "no";
				lng = "no";
			
				unrecognize_place();
			}
		
			<% if @is_admin %>
				document.getElementById("point_lat").value = String(lat);
				document.getElementById("point_lng").value = String(lng);
				document.getElementById("do_cache_form").submit();
			<% end %>
		}
	
		function unrecognize_place() {
			<% if @is_admin %>
				document.getElementById("no_map_link").style.display = "";
			<% end %>
		}
	
		<% if @place_point && (lat = @place_point[0]) && (lng = @place_point[1]) && (lat != "") && (lng != "") %>		
			var parsed_lat = parseInt("<%= lat %>");
			var parsed_lng = parseInt("<%= lng %>");
		
			if(isNaN(parsed_lat) || isNaN(parsed_lng)) {
				unrecognize_place();
			}
			else {
				draw_map(parsed_lat, parsed_lng);
			}
		<% else %>
			var search = new LTLocalSearch(search_finish);

			search.setCity("上海");
			search.search("<%= activity_place %>");
		<% end %>
	</script>
<% end %>


