<% vote_topic_title = h(@vote_topic.title) %>

<% page_title = "向投票 #{vote_topic_title} 添加新选项" %>
<% community_page_title(page_title) %>

<div class="float_r profile_container_r">
	<div class="community_block">
		<a href="/votes/<%= @vote_topic_id %>">
			<img src="<%= face_img_src(@vote_image) %>" border="0" /></a>
	</div>
	
	<div class="community_block">
		<a href="/votes/<%= @vote_topic_id %>">返回投票 <%= vote_topic_title %></a>
	</div>
</div>

<div class="profile_container_l">
	<h2><%= page_title %></h2>
	
	<div class="community_title">
		添加新选项 ...
	</div>
	
	<%= render(:partial => "new_option_form", :locals => {:options_size => @options_size, :option_number_limit => @option_number_limit, :vote_topic_id => @vote_topic_id}) %>
	
</div>



<script language="JavaScript">
	function toggle_color_picker(color_picker_id) {
		var color_picker = document.getElementById(color_picker_id);
		var display = "none";
		if(color_picker.style.display == "none") {
			display = '';
		}
		color_picker.style.display = display;
	}
	
	function on_option_color_selected(color, color_picker_text_field_id, color_picker_text_view_id, color_picker_id){
        document.getElementById(color_picker_text_field_id).value = color;
        document.getElementById(color_picker_text_view_id).style.backgroundColor = "#" + color;
		document.getElementById(color_picker_id).style.display = "none";
    }
</script>

