<% vote_topic_title = h(@vote_topic.title) %>

<% page_title = "投票构成: #{vote_topic_title}" %>
<% community_page_title(page_title) %>

<div class="float_r blog_container_r">
	<div class="community_block">
		<a href="/votes/<%= @vote_topic_id %>">
			<img src="<%= face_img_src(@vote_image) %>" border="0" /></a>
	</div>
	
	<div class="community_block">
		<a href="/votes/<%= @vote_topic_id %>">返回投票 <%= vote_topic_title %></a>
	</div>
	
	<div class="community_title">
		按类别查看
	</div>
	
	<div class="community_block">
		<ul>
			<li><%= link_to_function "性别", "show_vote_constituent_section('vote_constituent_gender')" %></li>
			<li><%= link_to_function "年龄", "show_vote_constituent_section('vote_constituent_age')" %></li>
			<li><%= link_to_function "地域", "show_vote_constituent_section('vote_constituent_region')" %></li>
			<li><%= link_to_function "时间", "show_vote_constituent_section('vote_constituent_time')" %></li>
			<li><%= link_to_function "学历", "show_vote_constituent_section('vote_constituent_education')" %></li>
			<li><%= link_to_function "星座", "show_vote_constituent_section('vote_constituent_astrology')" %></li>
		</ul>
	</div>
</div>

<div class="blog_container_l">
	<h2><%= page_title %></h2>
	
	<div class="community_block">
		<%= render :partial => "voting_chart", :locals => {:action => "refresh_vote_constituent_result", :action_args => {:factor => :gender}, :topic_id => @topic.id, :current_chart_type_field => "vote_constituent_gender_current_chart_type", :container_id => "vote_constituent_gender_result_chart_container", :chart_title => "性别", :chart_type => :pie_3d, :exclude => [:bar_v, :bar_h, :bar_v_3d]} %>
	</div>
	
</div>

