<div id="bottom_links">
	<div style="width: 800px; margin: 20px auto 0px; padding-bottom: 20px;">
		<table cellpadding="0" cellspacing="0" border="0">
			<tr>
				<% link_left_padding = "5px" %>
				
				<td align="left" valign="top">
					<div style="font-weight: bold;">
						<a href="/info/newbie" target="_blank" style="color: #000000">
							新手上路</a>
					</div>
					
					<%
						join_infos = [
							["FAQ", "/info/newbie#faq"],
							["搜索使用帮助", "/info/newbie#search_help"]
						]
					%>
					
					<% join_infos.each do |info| %>
						<div style="padding-left: <%= link_left_padding %>;">
							<a href="<%= info[1] %>" target="_blank">
								<%= info[0] %></a>
						</div>
					<% end %>
					
				</td>
				
				
				<% sep_width = "45px" %>
				<td style="width: <%= sep_width %>;"></td>
				
				
				<td align="left" valign="top">
					<div style="font-weight: bold;">
						<a href="/info/apply" target="_blank" style="color: #000000">
							活动报名</a>
					</div>
					
					<%
						join_infos = [
							["报名培训项目", "/info/apply#course"],
							["参加行业专题", "/info/apply#subject"],
							["参加乔布沙龙", "/info/apply#activity"],
							["付款方式", "/info/apply#pay"]
						]
					%>
					
					<% join_infos.each do |info| %>
						<div style="padding-left: <%= link_left_padding %>;">
							<a href="<%= info[1] %>" target="_blank">
								<%= info[0] %></a>
						</div>
					<% end %>
					
				</td>
				
				
				<td style="width: <%= sep_width %>;"></td>
				
				
				<td align="left" valign="top">
					<div style="font-weight: bold;">
						<a href="/info/student" target="_blank" style="color: #000000">
							学生服务</a>
					</div>
					<div style="padding-left: <%= link_left_padding %>;">
						<a href="/coach/stp" target="_blank">
							销售实习生计划
							<img src="/images/coach/hot_icon.gif" border="0" /></a>
					</div>
					<%
						student_infos = [
							["乔布堂顾问", "/info/student#consultant"],
							["乔布教练培训项目", "/info/student#course"],
							["行业求职讲座", "/info/student#session"],
							["乔布沙龙系列活动", "/info/student#activity"],
							["死磕乔布", "/info/student#seekjob"]
						]
					%>
					
					<% student_infos.each do |info| %>
						<div style="padding-left: <%= link_left_padding %>;">
							<a href="<%= info[1] %>" target="_blank">
								<%= info[0] %></a>
						</div>
					<% end %>
					
				</td>
				
				
				<td style="width: <%= sep_width %>;"></td>
				
				
				<td align="left" valign="top">
					<div style="font-weight: bold;">
						<a href="/info/company" target="_blank" style="color: #000000">
							企业服务</a>
					</div>
					<div style="padding-left: <%= link_left_padding %>;">
						<a href="/info/cis" target="_blank">
							企业实习生服务
							<img src="/images/coach/hot_icon.gif" border="0" /></a>
					</div>
					<%
						company_infos = [
							["实习生外包服务", "/info/company#intern"],
							["企业人力资源培训", "/info/company#hr"],
							["校园招聘外包服务", "/info/company#recruit"],
							["行业专向人才招聘", "/info/company#special"],
							["校园活动推广服务", "/info/company#campus"],
							["企业定制圈子服务", "/info/company#group"]
						]
					%>
					
					<% company_infos.each do |info| %>
						<div style="padding-left: <%= link_left_padding %>;">
							<a href="<%= info[1] %>" target="_blank">
								<%= info[0] %></a>
						</div>
					<% end %>
					
				</td>
				
				
				<td style="width: <%= sep_width %>;"></td>
				
				
				<td align="left" valign="top">
					<div style="font-weight: bold;">
						<a href="/info/school" target="_blank" style="color: #000000">
							学校服务</a>
					</div>
					
					<%
						school_infos = [
							["学校就业指导讲座", "/info/school#jiuye"],
							["学校求职指导课程", "/info/school#qiuzhi"],
							["非毕业生素拓培训", "/info/school#tuozhan"],
							["学校-企业合作服务", "/info/school#hezuo"]
						]
					%>
					
					<% school_infos.each do |info| %>
						<div style="padding-left: <%= link_left_padding %>;">
							<a href="<%= info[1] %>" target="_blank">
								<%= info[0] %></a>
						</div>
					<% end %>
					
				</td>
				
				
				<td style="width: <%= sep_width %>;"></td>
				
				
				<td align="left" valign="top">
					<div style="font-weight: bold;">
						<a href="/info/about" target="_blank" style="color: #000000">
							关于乔布堂</a>
					</div>
					
					<%
						jobtown_infos = [
							["隐私条款", "/info/about#privacy"],
							#["合作伙伴", "/info/about#partner"],
							["加入乔布堂", "/info/about#join"],
							["反馈小组", "/groups/1"]
						]
					%>
					
					<% jobtown_infos.each do |info| %>
						<div style="padding-left: <%= link_left_padding %>;">
							<a href="<%= info[1] %>" target="_blank">
								<%= info[0] %></a>
						</div>
					<% end %>
					
				</td>
			</tr>
		</table>
	</div>
</div>