<% item_name = h(job_item.name) %>

<div class="job_item">
	
	<div style="font-weight: bold; font-size: 14px;">
		<%= item_name %>
	</div>
	
	<div class="community_block_narrow form_info_s">
		<%= h(job_item.desc) %>
	</div>
	
	<div class="align_r">
		<%# form_tag "/#{@item_type}/job_items/#{job_item.id}", :method => :delete, :onsubmit => "if(confirm('确定要删除 #{item_name} 么 ?')) { return true; }; return false;" do %>

			<% if false %>
			&nbsp;&nbsp;

			<input type="submit" value="删除" class="button" />
			<% end %>

			&nbsp;&nbsp;

			<a href="/<%= @item_type %>/job_items/<%= job_item.id %>/edit">
				修改</a>

			&nbsp;&nbsp;

			<a href="/<%= @item_type %>/job_items/<%= job_item.id %>">
				显示</a>

		<%# end %>
	</div>
	
</div>


