<% page_title = "管理系统添加的#{@item_label}" %>
<% community_page_title(page_title) %>

<div class="float_r">
	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 400px;" do %>
		<div class="action_bar">
			<a href="/<%= @item_type %>/job_items/new" style="font-weight: bold;">
				添加<%= @item_label %></a>
			
			|
				
			<% unless @item_type == "industry" %>
				<a href="/industry/job_items">
					管理系统添加的行业</a>
			<% end %>
			
			<% unless @item_type == "company" %>
				<a href="/company/job_items">
					管理系统添加的公司</a>
			<% end %>

			<% unless @item_type == "job_position" %>
				<a href="/job_position/job_items">
					管理系统添加的职位</a>
			<% end %>
		</div>
	<% end %>
</div>

<div class="job_item_container">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block_narrow form_info_s">
		共有
		<b><%= @items.total_entries %></b>
		个
		<%= @item_label %>
	</div>
	
	<div class="community_block align_r">
		<% form_tag "/#{@item_type}/job_items/search", :method => :get do %>
			<input type="text" name="item_tip" class="text_field search_input" size="30" />
			&nbsp;&nbsp;&nbsp;
			<input type="submit" value="搜索<%= @item_label %>" class="button" />
		<% end %>
	</div>
	
	<div class="community_block">
		<%= render :partial => "job_item", :collection => @items %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@items) %>
	</div>
</div>


