<% item_name = h(@item.name) %>

<% page_title = "管理#{@item_label} #{item_name} 的信息" %>
<% community_page_title(page_title) %>

<div class="float_r">
	<% round_corner_div :border_color => "#F0E0CF", :bg_color => "#FFF5E8", :style => "width: 100px;" do %>
		<div class="action_bar">
			<a href="/<%= @item_type %>/job_items/<%= @item.id %>/info_new" style="font-weight: bold;">
				添加信息</a>
		</div>
	<% end %>
</div>

<div class="job_item_container">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block_narrow form_info_s">
		已有
		<b><%= @infos.size %></b>
		条信息
		,
		&nbsp;
		<a href="/<%= @item_type %>/job_items">
			返回管理系统添加的<%= @item_label %></a>
	</div>
	
	<br />
	
	<% @infos.each do |info_data| %>
		<% info = (@item_type == "job_position") ? [info_data.id, info_data.title] : info_data %>
		<% info_title = h(info[1]) %>
		<div class="community_block" style="border-bottom: 1px dashed #DADADA;" onmouseover="this.style.backgroundColor='#EAEAEA';" onmouseout="this.style.backgroundColor='#FFFFFF';">
			<div class="community_block">
				<% form_tag "/#{@item_type}/job_items/#{info[0]}/info_destroy", :method => :post, :onsubmit => "if(confirm('确定要删除信息 #{info_title} 么 ?')) { return true; }; return false;" do %>
					<span class="float_r">
						<% if @item_type == "job_position" %>
							添加涉及的:
							&nbsp;
							<a href="/industry/job_items/job_position_info/<%= info[0] %>/select_job_item">
								行业</a>
							&nbsp;
							<a href="/company/job_items/job_position_info/<%= info[0] %>/select_job_item">
								公司</a>

							&nbsp;&nbsp;
							|
							&nbsp;&nbsp;
						<% end %>

						<input type="submit" value="删除" class="button" />

						&nbsp;&nbsp;&nbsp;

						<a href="/<%= @item_type %>/job_items/<%= info[0] %>/info_edit">
							修改</a>

						&nbsp;&nbsp;

						<a href="#">
							显示</a>
					</span>

					<a href="#" style="font-size: 14px; font-weight: bold;">
						<%= info_title %></a>

				<% end %>
			</div>
			
			<% if @item_type == "job_position" %>
				
				<%
					info_industries = info_data.industries
					info_companies = info_data.companies
				%>
				
				<% if info_industries.size > 0 %>
					<% form_tag "/industry/job_items/#{info_data.id}/del_job_item", :method => :post, :id => "remove_industry_form_#{info[0]}" do %>
						<input type="hidden" name="item_id" id="remove_industry_id_<%= info[0] %>" />
						<input type="hidden" name="owner_type" value="job_position_info" />
					<% end %>
					
					<div class="community_block_narrow form_info_s">
						涉及的行业:
						<% info_industries.each do |industry| %>
							<% industry_name = h(industry.name) %>
							
							&nbsp;&nbsp;&nbsp;
							
							<a href="/industry/job_items/<%= industry.id %>" target="_blank" title="<%= h(industry.desc) %>">
								<%= industry_name %></a>
							<span class="form_info_s">
								<a title="删除行业 <%= industry_name %>" href="#" onclick="remove_industry(<%= info[0] %>, <%= industry.id %>); return false;">
										<img src="/images/delete_small.gif" border="0" /></a>

								&nbsp;&nbsp;&nbsp;
								|
								
							</span>
						<% end %>
					</div>
				<% end %>
				
				<% if info_companies.size > 0 %>
					<% form_tag "/company/job_items/#{info_data.id}/del_job_item", :method => :post, :id => "remove_company_form_#{info[0]}" do %>
						<input type="hidden" name="item_id" id="remove_company_id_<%= info[0] %>" />
						<input type="hidden" name="owner_type" value="job_position_info" />
					<% end %>
					
					<div class="community_block_narrow form_info_s">
						涉及的公司:
						<% info_companies.each do |company| %>
							<% company_name = h(company.name) %>
							
							&nbsp;&nbsp;&nbsp;
							
							<a href="/company/job_items/<%= company.id %>" target="_blank" title="<%= h(company.desc) %>">
								<%= company_name %></a>
							<span class="form_info_s">
								<a title="删除公司 <%= company_name %>" href="#" onclick="remove_company(<%= info[0] %>, <%= company.id %>); return false;">
										<img src="/images/delete_small.gif" border="0" /></a>

								&nbsp;&nbsp;&nbsp;
								|
								
							</span>
						<% end %>
					</div>
				<% end %>
				
			<% end %>
		</div>
	<% end %>
	
</div>


<script language="JavaScript" type="text/javascript">

	function remove_industry(info_id, industry_id) {
		if(confirm("确定要移除此行业么 ?")) {
			document.getElementById("remove_industry_id_" + info_id).value = industry_id;
			document.getElementById("remove_industry_form_" + info_id).submit();
		}
	}
	
	function remove_company(info_id, company_id) {
		if(confirm("确定要移除此公司么 ?")) {
			document.getElementById("remove_company_id_" + info_id).value = company_id;
			document.getElementById("remove_company_form_" + info_id).submit();
		}
	}

</script>


