<% page_title = "系统添加的#{@item_label}的搜索结果" %>
<% community_page_title(page_title) %>

<div class="job_item_container">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block_narrow form_info_s">
		共搜索到
		<b><%= @items.size %></b>
		个结果
		,
		&nbsp;&nbsp;&nbsp;
		<a href="/<%= @item_type %>/job_items">
			返回全部<%= @item_label %>列表</a>
	</div>
	
	<div class="community_block align_r">
		<% form_tag "/#{@item_type}/job_items/search", :method => :get do %>
			<input type="text" name="item_tip" class="text_field search_input" size="30" value="<%= h(@item_tip) %>" />
			&nbsp;&nbsp;&nbsp;
			<input type="submit" value="搜索<%= @item_label %>" class="button" />
		<% end %>
	</div>
	
	<div class="community_block">
		<%= render :partial => "job_item", :collection => @items %>
	</div>
	
	<div class="community_block">
		<%= paging_buttons(@items) %>
	</div>
</div>


