<% page_title = "添加#{@owner_handler.get_type_label} #{h(@owner_handler.get_label(@owner_id))} 的#{@item_label}" %>
<% community_page_title(page_title) %>

<div class="job_item_container">
	<h2><%= page_title %></h2>
	
	
	<div class="community_block_narrow form_info_s">
		搜索并选择要添加的<%= @item_label %>,
		<% if @items %>
			&nbsp;&nbsp;&nbsp;
			当前
			<%= (@query && @query != "") ? "搜索到" : "列出最新添加的" %>
			<b><%= @items.size %></b>
			个结果,
		<% end %>
		&nbsp;&nbsp;&nbsp;
		<a href="<%= @owner_handler.get_return_url(@owner_id) %>">
			<%= @owner_handler.get_return_text %></a>
	</div>
	
	<div class="community_block align_r">
		<% form_tag "/#{@item_type}/job_items/#{@owner_type}/#{@owner_id}/select_job_item", :method => :get do %>
			<input type="text" name="query" class="text_field search_input" size="30" value="<%= h(@query) %>" />
			&nbsp;&nbsp;&nbsp;
			<input type="submit" value="搜索<%= @item_label %>" class="button" />
			
			&nbsp;&nbsp;&nbsp;
			<a href="/<%= @item_type %>/job_items" target="_blank">
				管理/添加<%= @item_label %></a>
		<% end %>
	</div>
	
	<% if @items %>
		<% form_tag "/#{@item_type}/job_items/#{@owner_id}/add_job_item", :method => :post, :id => "add_form" do %>
			<input type="hidden" name="item_id" id="item_id" />
			<input type="hidden" name="owner_type" value="<%= @owner_type %>" />
		<% end %>
	
		<div class="community_block">
			<%= render :partial => "/job_targets/item", :collection => @items %>
		</div>
	
		<div class="community_block">
			<%= paging_buttons(@items) if (@query && @query != "") %>
		</div>
	<% end %>
	
</div>


<script language="JavaScript" type="text/javascript">

	function select_item(item_id) {
		if(confirm("确定要添加此<%= @item_label %>么 ?")) {
			document.getElementById("item_id").value = item_id;
			document.getElementById("add_form").submit();
		}
	}

</script>


