<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<% this_year = Date.today.year %>
		<meta name="Keywords" content="求职招聘,校园招聘,求职,求职培训,求职网,销售培训,销售实习,招聘,招聘网,全职招聘,招聘全职,招聘求职,兼职实习,兼职,实习,雇主品牌,面试猎头,职业发展,高校BBS,<%= this_year %>校园招聘,培训,英语,简历,招聘会,宣讲会,外企招聘,HR专家咨询,职业顾问,大学生实习" />
		<meta name="Description" content="乔布堂(QiaoBuTang.com)是中国第一个功能型大学生求职网.为大学生提供求职培训,求职辅助工具,求职招聘信息,校园招聘信息,兼职实习信息,校园宣讲会信息和<%= this_year %>校园招聘会信息,是大学生找工作第一选择!" />
		
		<% page_title = yield(:page_title) %>
        <title><%= "#{page_title} - " if page_title && page_title != "" %>乔布教练 - 乔布堂</title>
        <%= stylesheet_link_tag "site", "qiaobutang" %>

		<!--[if lt IE 7]>
		<script src="/lib/ie7/IE7.js" type="text/javascript"></script>
		<![endif]-->
    </head>
    <body>
	
	    <%= render :partial => "common/top_bar" %>


		<div id="root_container">
			<%= render :partial => "common/main_menus", :locals => {:selected_index => 2} %>
			
			
			<div>
				<div class="coach_container_l">
					<div class="coach_menus">
						<div class="coach_menu_top">
							<a href="/coach">
								乔布教练</a>
						</div>
						<%
							menus = [
								["trainers", "培训师团队"],
								["courses", "培训项目"],
								["consultant", "乔布堂求职顾问"],
								["stp", "销售实习生计划"],
								["course_apply", "我要报名 / 咨询详情"]
							]
						%>
						<% menus.each do |menu| %>
							<div
								<% if action_name == menu[0] %>
								class="coach_menu_selected"
								<% else %>
								onmouseover="this.className='coach_menu_selected'"
								onmouseout="this.className=''"
								<% end %>
								>
								<a href="/coach/<%= menu[0] %>">
									<%= menu[1] %>
									
									<% if action_name == "courses" && menu[0] == action_name %>
										&nbsp;
										<img src="/images/coach/course_menu_expand_icon.png" border="0" />
									<% end %>
									
									<% if menu[0] == "stp" %>
										&nbsp;
										<img src="/images/coach/hot_icon.gif" border="0" />
									<% end %>
								</a>
							</div>
							
							<% if action_name == "courses" && menu[0] == action_name %>
								<div class="course_menus">
									<%
										course_menus = [
											["career_path", "职业决策研讨班"],
											["resume_8_hrs", "简历网申求职信8 小时特训"],
											["interview_2_days", "面试和职场礼仪模拟训练"],
											["sales_training", "销售精英启航班"],
											["course32", "求职精品班"],
											["course64", "求职拓展班"]
										]
									%>
									<% course_menus.each do |course_menu| %>
										<a href="/coach/courses#<%= course_menu[0] %>">
											<%= course_menu[1] %></a>
									<% end %>
								</div>
							<% end %>
						<% end %>
					</div>
					
					<div class="subjects_container">
						<div>
							<a href="/coach/pharmaceutical">
								<img src="/images/coach/subjects/pharmaceutical.jpg" border="0" /></a>
						</div>
					</div>
					
				</div>
				
				<div class="coach_container_r">
					<%= yield %>
				</div>
			</div>
			
			<div class="clear"></div>
		</div>
		
		<%= render :partial => "common/bottom_bar" %>
	
	
	
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-5887424-1");
		pageTracker._trackPageview();
		</script>
		
		
		
		<script type="text/javascript" src="http://js.tongji.linezing.com/891616/tongji.js"></script>
		<noscript>
			<a href="http://www.linezing.com">
				<img src="http://img.tongji.linezing.com/891616/tongji.php"/></a>
		</noscript>
    </body>
</html>
