<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<% page_title = yield(:page_title) %>
        <title><%= "#{page_title} - " if page_title && page_title != "" %>乔布教练 - 乔布堂</title>
        <%= stylesheet_link_tag "site", "qiaobutang" %>

		<!--[if lt IE 7]>
		<script src="/lib/ie7/IE7.js" type="text/javascript"></script>
		<![endif]-->
    </head>
    <body>
	
	    <%= render :partial => "common/top_bar" %>


		<div id="root_container">
			<%= render :partial => "common/main_menus", :locals => {:selected_index => 2} %>
			
			
			<div>
				<div class="coach_right_column">
					<div class="index_title_small">
						<li>相关活动</li>
					</div>
					<%
						[
							["上海中医药大学讲座", "1006/1035/thumb_48_1035.jpg", "/activities/1003"],
							[%Q!“望闻问切 把脉职场”成功求职的10个关键!, "1006/1032/thumb_48_1032.jpg", "/activities/1002"]
						].each do |item|
					%>
						<div class="index_block">
							<div class="align_c">
								<a href="<%= item[2] %>">
									<img src="http://qiaobutang.com/system/files/photos_images/<%= item[1] %>" border="0" alt="<%= item[0] %>" title="<%= item[0] %>" style="border: 1px dotted #C2E3EF;" /></a>
							</div>
						</div>
					<% end %>
					<br />
					
					<div class="index_title_small">
						<li>相关乔布圈</li>
					</div>
					<%
						[
							["职言职语", "1002/1040/thumb_48_1040.jpg", "/groups/2"]
						].each do |item|
					%>
						<div class="index_block">
							<div class="align_c">
								<a href="<%= item[2] %>">
									<img src="http://qiaobutang.com/system/files/photos_images/<%= item[1] %>" border="0" alt="<%= item[0] %>" title="<%= item[0] %>" style="border: 1px dotted #C2E3EF;" /></a>
							</div>
						</div>
					<% end %>
				</div>
				
				<div class="coach_container">
					<div class="coach_container_l">
						<div class="coach_menus">
							<div class="coach_menu_top">
								<a href="/coach">
									乔布教练</a>
							</div>
							<%
								menus = [
									["pharmaceutical", "医药行业"],
									#["#", "顾问团队"],
									["register_notice", "报名须知"]
									#,
									#["#", "常见问题"]
								]
							%>
							<% menus.each do |menu| %>
								<div
									<% if action_name == menu[0] %>
									class="coach_menu_selected"
									<% else %>
									onmouseover="this.className='coach_menu_selected'"
									onmouseout="this.className=''"
									<% end %>
									>
									<a href="/coach/<%= menu[0] %>">
										<%= menu[1] %></a>
								</div>
							<% end %>
						</div>
						
						<div class="coach_related_link_title">
							11月课程安排
						</div>
						<div>
							<img src="/images/coach/class_schedule.png" border="0" />
						</div>
						<br />
						<div>
							精品班最近课程从11月01日开始, 每周末上课2天
							<br />
							拓展班课程于寒假开设
						</div>
					</div>
					
					<div class="coach_container_r">
						<%= yield %>
					</div>
				</div>
			</div>
			
			<div class="clear"></div>
		</div>
		
		<%= render :partial => "common/bottom_bar" %>
	
	
	
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-5887424-1");
		pageTracker._trackPageview();
		</script>
    </body>
</html>
