<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<% this_year = Date.today.year %>
		<meta name="Keywords" content="求职招聘,校园招聘,求职,求职培训,求职网,销售培训,销售实习,招聘,招聘网,全职招聘,招聘全职,招聘求职,兼职实习,兼职,实习,雇主品牌,面试猎头,职业发展,高校BBS,<%= this_year %>校园招聘,培训,英语,简历,招聘会,宣讲会,外企招聘,HR专家咨询,职业顾问,大学生实习" />
		<meta name="Description" content="乔布堂(QiaoBuTang.com)是中国第一个功能型大学生求职网.为大学生提供求职培训,求职辅助工具,求职招聘信息,校园招聘信息,兼职实习信息,校园宣讲会信息和<%= this_year %>校园招聘会信息,是大学生找工作第一选择!" />
		
		<title>校园招聘,求职招聘,兼职实习,应届生找工作首选乔布堂求职网 - 乔布堂</title>
        <%= stylesheet_link_tag "site", "qiaobutang" %>

		<!--[if lt IE 7]>
		<script src="/lib/ie7/IE7.js" type="text/javascript"></script>
		<![endif]-->
    </head>
    <body>
	
	    <%= render :partial => "common/top_bar" %>


		<div id="root_container">
			<%= render :partial => "common/main_menus" %>
			
			
			<%= yield %>
		</div>
		
		<%= render :partial => "common/bottom_bar" %>
	
	
	
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-5887424-1");
		pageTracker._trackPageview();
		</script>
		
		
		
		<script type="text/javascript" src="http://js.tongji.linezing.com/891616/tongji.js"></script>
		<noscript>
			<a href="http://www.linezing.com">
				<img src="http://img.tongji.linezing.com/891616/tongji.php"/></a>
		</noscript>
    </body>
</html>
