<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<% page_title = yield(:page_title) %>
        <title><%= "#{page_title} - " if page_title && page_title != "" %>乔布哲学 - 乔布堂</title>
        <%= stylesheet_link_tag "site", "qiaobutang" %>

		<!--[if lt IE 7]>
		<script src="/lib/ie7/IE7.js" type="text/javascript"></script>
		<![endif]-->
    </head>
    <body>
	
	    <%= render :partial => "common/top_bar" %>


		<div id="root_container">
			<%= render :partial => "common/main_menus", :locals => {:selected_index => 1} %>
			
			
			<div>
				<div class="coach_right_column">
					<div class="index_title_small">
						<li>大师语录</li>
					</div>
					
					<div class="methodology_right_block">
						<div style="text-indent: 25px;">
							没有思索的人生是没有意义的人生.
						</div>
						<div class="align_r">
							-- 苏格拉底
						</div>
					</div>
					
					<div class="methodology_right_block">
						<div style="text-indent: 25px;">
							凭借经验, 至少我知道: 如果一个人满怀自信, 朝着梦想的方向前进, 努力追求想像中的生活, 就会在不经意之间取得成功.
						</div>
						<div class="align_r">
							-- 梭罗
						</div>
					</div>
					
					<div class="methodology_right_block">
						<div style="text-indent: 25px;">
							你们是一群笨蛋. 你们做的琐碎的事情令别人不屑一顾. 你们不愿花时间研究自己感兴趣的公司, 为何不找出愿意为之工作的人并追随他们呢?
						</div>
						<div class="align_r">
							-- 阿尔伯特.夏皮罗
						</div>
					</div>
					
					<div class="methodology_right_block">
						<div style="text-indent: 25px;">
							别在意 "我能在那儿得到什么", 去找你最想做的工作.
						</div>
						<div class="align_r">
							-- 戴维.梅斯特
						</div>
					</div>
					
					<div class="methodology_right_block">
						<div style="text-indent: 25px;">
							给你找麻烦的不是那些你未知的东西, 而是那些你确信无疑但事实上并不是那么回事的东西.
						</div>
						<div class="align_r">
							-- 马克.吐温
						</div>
					</div>
				</div>
				
				<div class="methodology_container">
					<div class="methodology_container_l">
						<div class="coach_menus">
							<div class="coach_menu_top">
								<a href="/coach">
									乔布哲学</a>
							</div>
							<%
								menus = [
									["s1", "1. 特性-因素理论"],
									["s2", "2. Holland 的职业类型理论"],
									["s3", "3. Roe 的职业选择理论和心理动力理论"],
									["s4", "4. 社会学习理论"],
									["s5", "5. 职业发展的认知理论"],
									["s6", "6. 个体构念理论"],
									["s7", "7. 完整生活计划"],
									["s8", "8. 职业决策理论"],
									["s9", "9. 偶然论的选择理论"],
									["s10", "10. 社会学理论和经济学理论"],
									["s11", "11. 整合理论--综合论"]
								]
							%>
							<% menus.each do |menu| %>
								<div
									<% if action_name == menu[0] %>
									class="coach_menu_selected"
									<% else %>
									onmouseover="this.className='coach_menu_selected'"
									onmouseout="this.className=''"
									<% end %>
									style="padding-right: 3px;"
									>
									<a href="#<%= menu[0] %>">
										<%= menu[1] %></a>
								</div>
							<% end %>
						</div>
					</div>
					
					<div class="methodology_container_r">
						<%= yield %>
					</div>
				</div>
			</div>
			
			<div class="clear"></div>
		</div>
		
		<%= render :partial => "common/bottom_bar" %>
	
	
	
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-5887424-1");
		pageTracker._trackPageview();
		</script>
		
		
		
		<script type="text/javascript" src="http://js.tongji.cn.yahoo.com/891616/ystat.js"></script>
		<noscript>
			<a href="http://tongji.cn.yahoo.com">
				<img src="http://img.tongji.cn.yahoo.com/891616/ystat.gif"/></a>
		</noscript>
    </body>
</html>
